<div class="cart-step1-header">
	<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
		<div class="d-flex align-items-center w-100">
			<div class="">
				<a>
					<img _ngcontent-c1="" class=" img-fluid m-0" src="/img/logo-kss.png" width="180px" xpreview="/img/logo-kss.png">
			 	</a>
			</div>
			<div class="ml-auto align-self-center">
				<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeWidget()"><span aria-hidden="true">×</span></h3>
			</div>
		</div>
	</nav>
</div>

<div *ngIf="isLoggedIn()" class="account-nav">
	<div *ngIf="userInfo" class="d-block text-center p-4">
         <h1 class="w-100 account-nav__username m-0 text-gray font-weight-bold ">
           Hello <span *ngIf="userInfo.name">{{userInfo.name}}</span>
         </h1>
		<h6 class="text-muted mt-1"> <span *ngIf="userInfo.email; else noEmail">{{userInfo.email}}</span> <ng-template #noEmail>{{userInfo.mobile}}</ng-template> </h6>
	</div>
	<div class="list-group list-group-flush account-nav__group">
		<a routerLink="/account/my-orders" id="list-menu" class="list-group-item text-gray py-3" title="Orders">
			<span class="d-inline-flex align-items-center">
				<i class="nav-icon i-orders mr-1 text-secondary"></i>
				<span class="nav-title">Orders</span>
			</span>
			<i class="fas fa-angle-right float-right arrow-right mt-1"></i>
		</a>
		<a routerLink="/account/my-profile" id="profile-menu" class="list-group-item text-gray py-3" title="Profile">
			<span class="d-inline-flex align-items-center">
				<i class="nav-icon i-profile mr-1 text-secondary"></i> 
				<span class="nav-title">Profile</span>
			</span>
			<i class="fas fa-angle-right float-right arrow-right mt-1"></i>
		</a>
		<a routerLink="/account/my-addresses" class="list-group-item text-gray py-3" title="Addresses">
			<span class="d-inline-flex align-items-center">
				<i class="nav-icon i-address mr-1 text-secondary"></i> 
				<span class="nav-title">Addresses</span>
			</span>
			<i class="fas fa-angle-right float-right arrow-right mt-1"></i>
		</a>
	<!-- 	<a href="/kss/account/wishlist/" class="list-group-item text-gray py-4"><i class="far fa-heart mr-1 text-secondary"></i> My Wishlist <i class="fas fa-angle-right float-right fa-1x mt-1"></i></a> -->
<!-- 		<a class="list-group-item text-gray py-4">
			<i class="fas fa-sign-out-alt mr-1 text-secondary"></i> 
				Sign Out 
			<i class="fas fa-angle-right float-right fa-1x mt-1"></i>
		</a> -->
	</div>
	
</div>

<div *ngIf="!isLoggedIn()">
	<h4 class="font-weight-bold mt-3 mb-0">Sign In</h4>
	<hr>
	<div class="mt-4 kss-flash kss-flash--info py-3">
		Get access to your Orders, Addresses and Profile information. <a href="javascript:void(0);" (click)="displayModal()" class="text-secondary font-weight-bold">Sign In</a>
	</div>
</div>