<section class="mt-3 mt-md-4 pt-3">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold mb-0">
            	<img src="../../../../assets/img/stories-title.jpg" class="img-fluid" alt="Shop by Stories" title="Shop by Stories">
            </h2>
          </div>
      </div>
  </div>
</section>


<section class="mt-4">
  <div class="container">
    <div class="home-stories d-sm-flex align-items-sm-center justify-content-sm-center label-box-large row position-relative" id="home-story">
    	<div *ngFor="let story of stories" class="label-box img-holder position-relative kss-extension" attr.static_element-id="{{story.sequence}}" id="story-{{story.sequence}}" static_element-display_type="Shop By Stories" attr.static_element-type="{{story.type}}" page_slug="home" app-label-box [box_data]="story" [box_type]="story"></div>
    </div>
    <div *ngIf="isSmallScreen" class="sh-more more-category mb-3" id="show-more-story" (click)="showMoreStory()">{{toggleButton}}<i class="fas fa-chevron-down ml-1 sh-more__icon"></i></div>
  </div>
</section>



<!-- <section *ngIf="stories" class="d-none">
  <div class="container">
  	<div class="stories-grid stories-wrapper">

		<div *ngFor="let story of stories" class="story-{{story.sequence}} position-relative kss-extension">
				<div *ngIf="story.type == 'story_box_medium'"  attr.static_element-id="{{story.sequence}}" attr.static_element-display_type="Shop By Stories" attr.static_element-type="{{story.type}}" attr.page_slug="home">
				    <a href="{{story.element_data.image.href}}" class="img-holder trend-box d-block link-card" style="order:0;">
				        <img *ngIf="story.images.original; else noOriginal" class="d-block w-100 img-fluid pb-1"  [useSrcset]="true" [lazyLoad]="story.images.original" [offset]=0
				        alt="{{story.element_data.image.img_alt}}" title="{{story.element_data.image.title}}" />
				        <ng-template #noOriginal>
					        <img class="d-block w-100 img-fluid pb-1"

					            [useSrcset]=true
					            [offset]=0
					            [defaultImage]="'/assets/img/transparent.png'"
					            [lazyLoad]="createDataSrcSet(story.images.default['2x'], '370w', story.images.default['1x'], '248w')"
					            alt="{{story.element_data.image.img_alt}}"
					            title="{{story.element_data.image.title}}"/>
					    </ng-template>
				    </a>
				</div>

				<div *ngIf="story.type == 'story_landscape'" attr.static_element-id="{{story.sequence}}" attr.static_element-display_type="Shop By Stories" attr.static_element-type="{{story.type}}" attr.page_slug="home">
				    <a href="{{story.element_data.image.href}}" class="img-holder trend-box d-block link-card" style="order:0;">
                        <img *ngIf="story.images.original; else noOriginal2" [useSrcset]="true" class="d-block w-100 img-fluid pb-1" [lazyLoad]="story.images.original" [offset]=0
				        alt="{{story.element_data.image.img_alt}}" title="{{story.element_data.image.title}}" />
				        <ng-template #noOriginal2>
					       <img class="d-block w-100 img-fluid pb-1"

				            [useSrcset]="true"
				            [offset]=0
				            [defaultImage]="'/assets/img/transparent.png'"
				            [lazyLoad]="createDataSrcSet(story.images.default['2x'], '778w', story.images.default['1x'], '521w')"
				            alt="{{story.element_data.image.img_alt}}"
				            title="{{story.element_data.image.title}}"/>
					    </ng-template>
				    </a>
				</div>

				<div *ngIf="story.type == 'story_portrait'" attr.static_element-id="{{story.sequence}}" attr.static_element-display_type="Shop By Stories"					attr.static_element-type="{{story.type}}" attr.page_slug="home">
				    <a href="{{story.element_data.image.href}}" class="img-holder trend-box d-block link-card" style="order:0;">

		        	<img *ngIf="story.images.original; else noOriginal3" [useSrcset]="true" class="d-block w-100 img-fluid pb-1" [lazyLoad]="story.images.original" [offset]=0
			       	alt="{{story.element_data.image.img_alt}}" title="{{story.element_data.image.title}}" />
			        <ng-template #noOriginal3>
				        <img class="d-block w-100 img-fluid pb-1"

				            [useSrcset]="true"
				            [offset]=0
				            [defaultImage]="'/assets/img/transparent.png'"
				            [lazyLoad]="createDataSrcSet(story.images.default['2x'], '409w', story.images.default['1x'], '272w')"
				            alt="{{story.element_data.image.img_alt}}"
				            title="{{story.element_data.image.title}}"/>
				    </ng-template>
				    </a>
				</div>
		</div>
	</div>

  </div>
</section> -->