<!-- <app-header [menu]="menuObject"></app-header> -->

<!-- <app-loader *ngIf="showLoader"></app-loader> -->

<div class="container mt-3">
  <div class="row">
      <div class="col-12 text-center my-4 image-loaded">
            <img src="/assets/img/404.png" class="img-fluid" width="400px">
            <h2 class="mt-4">Page not found!</h2>
            <p class="my-3">Please check the spelling or try searching for something else</p>
          	<a href="/" class="btn btn-outline-dark btn-lg m-auto ">Back to Home</a>
      </div>
    </div>
</div>

<!-- Back to top -->
<!-- <div app-back-to-top></div> -->

<!-- <app-footer> </app-footer> -->