.btn-lg {
	// font-size: 14px;
	font-weight: 700;
}

// .btn:disabled{
// 	background-color: $gray-500;
// 	border-color: $gray-500;
// }

  @media (min-width: 360px) and (max-width: 767.98px) {
	.mobile-fixed{
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  z-index: 11;
		  visibility: hidden;
		  box-shadow: 2px 1px 11px #464646;
    	  padding: 10px 10px;
		  -webkit-transition: -webkit-transform 0.3s ease-out;
		  transition: -webkit-transform 0.3s ease-out;
		  transition: transform 0.3s ease-out;
		  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
		  -webkit-transform: translateY(63px);
		  transform: translateY(63px);
		  background-color: #fff;
    	.text-muted{
    		display:none;
    	}
	}
	.visible {
	    visibility: visible;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
}




@media (max-width: 767px){
	.kss-single-prod-add-to-cart{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index: 10;
	}
}

.btn{
	.btn-label-success, .btn-icon{
		display: none;
	}
	&.loading{
		.btn-label-success, .btn-label-initial{
			display: none;
		}
		.btn-icon{
			display: block;
		}
	}
	&.loaded{
		.btn-icon, .btn-label-initial{
			display: none;
		}
		.btn-label-success{
			display: block;
		}
	}
}

.btn-outline-dark{
	&:hover{
		color:white !important;
	}
}