.kss_share {
    position: absolute;
    font-size: 18px;
    right: 20px;
    top: 10px;
    color: theme-color("secondary");
    // text-shadow: 0 0 2px $gray-600;
    cursor: pointer;
    display: block;
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size:25px;
    }
}
.animated-heart {
    color: red !important;
}

.kss_heart{
    position: absolute;
    cursor:pointer;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 11px #000;
    z-index: 2;
}
.kss_cross{
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    font-size: 15px;
    z-index: 9;
    line-height: 29px;
    background: #fff;
    border-radius: 100%;
    border: 2px solid #ccc;
}
.kss_similar{
    position: absolute;
    right: 30px;
    top: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px 14px;
    font-size: 20px;
    border: 1px solid #ccc;
    z-index: 99;
    color: #FFC107;
    @media (min-width: 320px) and (max-width: 767.98px) {
       right: 65px;
    }
}