@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.image {
  position: relative;
  padding-bottom: 166.666666667%;
  background: linear-gradient(#f2f2f2 66%, rgba(242, 242, 242, 0));
  margin-bottom:10px;
}
.kss-collection .img-container  {
  position: relative;
  padding-bottom:80.7692307692%;
  margin-bottom:10px;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.image-sm {
  position: relative;
  padding-bottom:133.333333333%;
  background: linear-gradient(#f2f2f2 66%, rgba(242, 242, 242, 0));
}
.image img, .image-sm img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  -webkit-animation: scaleout 1.2s  infinite ease-in-out;
          animation: scaleout 1.2s  infinite ease-in-out;
  mix-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.9);
}

.lazyload {
  opacity:0;
}

.loading,
.lazyload,
.lazyloaded,
.image-sm,
.image {
  opacity: 1;
  // transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}


