
.color-custom-radio{
	top: -5px;
    right: -8px;
}

.colorOptions{
	&__trigger{
		.down-arrow{
			@include transition(all .5s ease);
			transform: rotate(180deg);
		}
		&.collapsed{
			.down-arrow{
				transform: rotate(0deg);
			}
		}
	}
	.product-color{
		input{
			&:checked{
				& + label{
					opacity: 1;
				}
			}
		}
		label{
			opacity: 1;
		}
	}
}

.variant-img-wrapper{
	height: 84px;
    // overflow: hidden;
    img{
    	height: 100%;
    	width: 100%;
    	object-fit: cover;
    }
}

.variant-placeholder{
	img{
		background-color: #dadada;
    	padding: 0 5px;
    	object-fit: contain;
    }
}

.address-block{
	.radio-selection{
    	width: 25px;
    	.fas{
    		position: relative;
    		left: 5px;
    	}
	}
	.kss-title{
		min-height: 35px;
	}
	.product-delete{
		padding: 0 5px;
	}
}