
.color-custom-radio{
	top: -5px;
    right: -8px;
}


.colorOptions{
	&__trigger{
		.down-arrow{
			@include transition(all .5s ease);
			transform: rotate(180deg);
		}
		&.collapsed{
			.down-arrow{
				transform: rotate(0deg);
			}
		}
	}
}
