/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.slide-out{
    width: 30% ;
    background:#fff;
    position:fixed;
    right:-1200px;
    transition: all 0.5s ease;
    z-index: 99999;
    height:100vh;
    overflow-y:scroll;
     overflow-x:hidden;
    top: 0px;
@media (min-width: 360px) and (max-width: 767.98px) {
    width: 100%;
  }
@media only screen and (min-width: 768px)
{
    width: 400px !important;
   }
@media (min-width: 992px) and (min-width: 1199.98px) {
    width: 40% !important;
  }
@media (min-width: 1300px) {
    width: 30% !important;
}
}
.slide-show{
     right:0px !important;
}
.fade-in {
    -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


img {
    opacity: 1;
    transition: 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
    &[data-imgsrc] {
        opacity: 0;
    }
}
.swipe-arrow {
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 40%;
    width: 20% !important;
    visibility: hidden;
}
.swipe-arrow-visible {
    visibility: visible;
    -webkit-animation: swipe 0.8s infinite;
    animation: swipe 0.8s infinite;
}
@-webkit-keyframes swipe {
    0% {
        right: 20px;
    }
    100% {
        right: 0px;
    }
}
@keyframes swipe {
    0% {
        right: 20px;
    }
    100% {
        right: 0px;
    }
}



        .shake {
          animation: shake 150ms 2 linear;
          -moz-animation: shake 150ms 2 linear;
          -webkit-animation: shake 150ms 2 linear;
          -o-animation: shake 150ms 2 linear;
        }

        @keyframes shake {
          0% {
            transform: translate(5px, 0);
          }
          50% {
            transform: translate(-5px, 0);
          }
          100% {
            transform: translate(0, 0);
          }
        }

        @-moz-keyframes shake {
          0% {
            -moz-transform: translate(5px, 0);
          }
          50% {
            -moz-transform: translate(-5px, 0);
          }
          100% {
            -moz-transform: translate(0, 0);
          }
        }

        @-webkit-keyframes shake {
          0% {
            -webkit-transform: translate(5px, 0);
          }
          50% {
            -webkit-transform: translate(-5px, 0);
          }
          100% {
            -webkit-transform: translate(0, 0);
          }
        }

        @-ms-keyframes shake {
          0% {
            -ms-transform: translate(5px, 0);
          }
          50% {
            -ms-transform: translate(-5px, 0);
          }
          100% {
            -ms-transform: translate(0, 0);
          }
        }

        @-o-keyframes shake {
          0% {
            -o-transform: translate(5px, 0);
          }
          50% {
            -o-transform: translate(-5px, 0);
          }
          100% {
            -o-transform: translate(0, 0);
          }
        }
@-webkit-keyframes moving {
    0% {
        margin-top: 0px;
    }
     50% {
        margin-top: -80px;
    }
    100% {
       margin-top: 0px;
    }
}
@keyframes moving {
    0% {
        margin-top: 0px;
    }
  50% {
        margin-top: -80px;
    }
    100% {
       margin-top: 0px;
    }
}
    