body {
    font-family: 'Open Sans', sans-serif;
 @media (min-width: 320px) and (max-width: 767.98px) {
       font-size:80%;
    }
}
.f-w-4{
    font-weight:400;
}
label {
    font-size: 0.95rem;
    font-weight: 600;
    @media (max-width: 575.98px) {
        font-size: .8rem;
    }
      @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: .8rem !important;
    }
}
.sub-text{
    color:#9e9e9e;
}
.sm-font{
    font-size: 12px;
    font-weight: 600;
}
.text-black{
    color:#000;
}
.kss-title {
    font-size: .9rem;
    @media (max-width: 575.98px) {
        font-size: .9rem;
        width: 100%;
    }
}

// Price
.kss-price {
    font-size: 1.3rem;
    font-weight: bold;
    &--smaller{
      font-size: 1.1em;
    }
    @media (max-width: 575.98px) {
        font-size: 1.4rem;
        &--smaller{
          font-size: 1.1em;
        }
    }
}
.kss-original-price {
    font-size: 80%;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}
.kss-discount {
    font-size: 80%;
    font-weight: normal;
}

.seperator{
    height:50px;
}

.kss_text-link{
    color:#000;
    border-bottom:1px solid #F9BC22;
    text-decoration:none !important;
}