::ng-deep {
  .priceRange .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .priceRange .ng5-slider .ng5-slider-selection {
    background: rgba(249, 188, 35, 1);
  }

  .priceRange .ng5-slider .ng5-slider-pointer {
    width: 20px;
    height: 20px;
    top: -10px;
    background-color: rgba(249, 188, 35, 1);
    outline: 0;
  }

  .priceRange .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .priceRange .ng5-slider .ng5-slider-bubble {
    font-size: 14px;
  }

  // .priceRange .ng5-slider .ng5-slider-limit {
  //   font-weight: bold;
  //   color: orange;
  // }

  // .priceRange .ng5-slider .ng5-slider-tick {
  //   width: 1px;
  //   height: 10px;
  //   margin-left: 4px;
  //   border-radius: 0;
  //   // background: rgba(249, 188, 35, 1);
  //   top: -1px;
  // }

  // .priceRange .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  //   background: orange;
  // }
}