<div id="filter-color-template-content">
  <div class="kss_filter-list pb-3" data-filter="color">
    <div class="filter-heading">
      <label class="w-100 mb-0 cursor-pointer" data-toggle="collapse" data-target="#collapseColor" aria-expanded="false" aria-controls="collapseColor">
        {{filter.header.display_name}}<i class="fas fa-angle-up float-right"></i>
      </label>
    </div>
    <div id="collapseColor" class="collapse color-wrapper show" data-field="color">
      <div class="card-body card-body-scrollbar pt-3">
        <!-- filter with color -->
          <!-- <div class="custom-control custom-checkbox color-filter d-flex">
            <input type="checkbox" class="facet-category custom-control-input" id="#FFC0CB">
            <label class="custom-control-label f-w-4 d-flex align-items-center badge-label" for="#FFC0CB">
              <span class="color-box" style="background-color:#FFC0CB;"></span>
              <span class="color-name pl-2 text-capitalize">Pink</span>
                <span class="sub-text filter-count badge-count">165</span>
            </label>
          </div> -->
          <!-- End of filter with color -->

          <!-- Normal filter -->
          <ng-container *ngIf="filter.items">
            <div *ngFor="let item of filter.items" class="custom-control custom-checkbox" data-val="">
              <input type="checkbox" class="facet-category custom-control-input" id="{{item.facet_value}}">
              <label class="custom-control-label badge-label f-w-4" for="{{item.facet_value}}">{{item.display_name}}
                <span class="sub-text badge-count">(166)</span>
              </label>
            </div>
          </ng-container>
          <!-- End of Normal filter -->

          <!-- Disabled filter -->
          <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="facet-category custom-control-input" id="Shirt" disabled="disabled" >
            <label class="custom-control-label badge-label f-w-4" for="Shirt">Shirt
              <span class="sub-text badge-count">0</span>
            </label>
          </div> -->
          <!-- End of Disabled filter -->

        </div>
      </div>
    </div>
  </div>