<div *ngIf="filter.template" id="filter-color-template-content">
  <div class="kss_filter-list pb-3" data-filter="color" [ngClass]="{'d-none' : isMobile && selectedFilterCategory != filter.header.facet_name}">
    <div class="filter-heading">
      <label class="w-100 mb-0 cursor-pointer" data-toggle="collapse" [attr.data-target]="'#'+filter.header.facet_name" aria-expanded="false" aria-controls="collapseColor" [ngClass]="{'collapsed' : filter.is_collapsed && !isMobile}">
        {{filter.header.display_name}}<i class="fas fa-angle-up float-right"></i>
      </label>
    </div>
    <div id="{{filter.header.facet_name}}" class="color-wrapper collapse" [ngClass]="{'show' : !filter.is_collapsed || isMobile}" data-field="color">
      <div class="card-body card-body-scrollbar pt-3">

          <!-- Normal filter -->
          <ng-container *ngIf="filter.items">
            <div *ngFor="let item of filter.items" class="custom-control custom-checkbox" [ngClass]="{'color-filter d-flex' : filter.template == 'color'}" data-val="">
              <input type="checkbox" class="facet-category custom-control-input" id="{{item.facet_value}}" [disabled]="filter.disabled_at_zero_count && item.count === 0">
              <label class="custom-control-label badge-label f-w-4" for="{{item.facet_value}}" [ngClass]="{'d-flex align-items-center' : filter.template == 'color'}">
                <span *ngIf="filter.template == 'color'" class="color-box mr-2" [ngStyle]="{'background-color' : item.facet_value}" style="background-color:#FFC0CB;"></span>  {{item.display_name}}
                <span *ngIf="filter.display_count" class="sub-text badge-count">{{item.count}}</span>
              </label>
            </div>
          </ng-container>
          
        <!-- Price range filter -->
        <ng-container *ngIf="filter.template == 'price'">
            <div class="priceRange">
              <!-- <input type="text" id="price-range" name="price" value="" class="facet-category irs-hidden-input"/> -->
              <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            </div>
            <div class="row mb-3">
              <div class="col-5 col-sm-5 d-flex align-items-baseline">
              ₹   <input type="number" step="{{options.step}}" [(ngModel)]="minValue" id="price-min" class="ml-1 pb-0 form-control text-muted price-change validate-number" placeholder="Min">
              </div>
              <div class="col-2 col-sm-2 text-center">
                <h6 class="align-self-center mt-3">to</h6>
              </div>
              <div class="col-5 col-sm-5 d-flex align-items-baseline">
                ₹ <input type="number" step="{{options.step}}" [(ngModel)]="maxValue" id="price-max" class="ml-1 pb-0 form-control text-muted price-change validate-number" placeholder="Max">
              </div>
            </div>
        </ng-container>
        <!-- End Price range filter -->

        </div>
      </div>
    </div>
  </div>