<nav aria-label="breadcrumb" class="">
	<ol class="breadcrumb mb-1 bg-transparent p-0">
		<li class="breadcrumb-item"><a href="/shop">Shop</a></li>
		<li class="breadcrumb-item"><a href="/apparels">Apparels</a></li>
	    <li class="breadcrumb-item"><a href="/apparels/toddler-2-7-years">2 - 7 Years</a></li>
	    <li class="breadcrumb-item"><a href="/apparels/toddler-2-7-years/girls">Girls</a></li>
	    <li class="breadcrumb-item"><a href="/apparels/toddler-2-7-years/girls/short">Short</a></li>
    </ol>
</nav>