<app-header></app-header>

<ng-container>
	<div class="landing-banner">
		<picture>
			<source media="(orientation: landscape)" srcset="/assets/img/uniforms/banner-uniform.jpg">
			<source media="(orientation: portrait)" srcset="/assets/img/uniforms/banner-uniform-mobile.jpg">
			<img src="/assets/img/uniforms/banner-uniform.jpg" alt="School Uniforms" title="School Uniforms" class="img-fluid img-holder">
		</picture>
			<!-- <img src="/assets/img/banner-uniform.jpg" class="img-fluid" alt="School Uniforms" title="School Uniforms"> -->
	</div>

	<div class="container mt-5">
		<div class="row justify-content-around">
			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/nahar-school.jpg" class="img-fluid m-auto d-block school-img" alt="Nahar International School" title="Nahar International School">
					<img src="/assets/img/uniforms/nahar-logo.jpg" class="img-fluid mx-auto d-block my-4 school-logo" alt="Nahar International School" title="Nahar International School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:nahar-international-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:nahar-international-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/Hiranandani-Foundation-School.png" class="img-fluid m-auto d-block school-img" alt="Hiranandani Foundation School" title="Hiranandani Foundation School">
					<img src="/assets/img/uniforms/hfs_main_logo.jpg" class="img-fluid mx-auto d-block my-4 school-logo" alt="Hiranandani Foundation School" title="Hiranandani Foundation School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:hiranandani-foundation-school-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:hiranandani-foundation-school-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/gopal-sharma-memorial-school.jpeg" class="img-fluid m-auto d-block school-img" alt="Gopal Sharma Memorial School" title="Gopal Sharma Memorial School">
					<img src="/assets/img/uniforms/gsms.jpg" class="img-fluid mx-auto d-block my-4 school-logo" alt="Gopal Sharma Memorial School" title="Gopal Sharma Memorial School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:gsis-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:gsis-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/kvs.jpg" class="img-fluid m-auto d-block school-img" alt="KVS" title="KVS">
					<img src="/assets/img/uniforms/kvslogo.jpg" class="img-fluid mx-auto d-block my-4 school-logo" alt="KVS" title="KVS">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:kv-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:kv-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/SM-shetty.jpg" class="img-fluid m-auto d-block school-img" alt="SM Shetty High School" title="SM Shetty High School">
					<img src="/assets/img/uniforms/SM-shetty-logo.png" class="img-fluid mx-auto d-block my-4 school-logo" alt="SM Shetty High School" title="SM Shetty High School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:smsi-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:smsi-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/SM-shetty.jpg" class="img-fluid m-auto d-block school-img" alt="SM Shetty International School" title="SM Shetty International School">
					<img src="/assets/img/uniforms/SMShetty-International.png" class="img-fluid mx-auto d-block my-4 school-logo" alt="SM Shetty International School" title="SM Shetty International School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:sms-ssc-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:sms-ssc-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/pawar-school.jpg" class="img-fluid m-auto d-block school-img" alt="Pawar Public School" title="Pawar Public School">
					<img src="/assets/img/uniforms/pawar-logo.jpg" class="img-fluid mx-auto d-block my-4 school-logo" alt="Pawar Public School" title="Pawar Public School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:gsis-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:gsis-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<div class="col-12 col-md-4">
				<div class="card shadow-sm mb-5">
					<img src="/assets/img/uniforms/bombay-school.jpg" class="img-fluid m-auto d-block school-img" alt="Bombay Scottish School" title="Bombay Scottish School">
					<img src="/assets/img/uniforms/bombay-school-logo.png" class="img-fluid mx-auto d-block my-4 school-logo" alt="Bombay Scottish School" title="Bombay Scottish School">
					<div class="card-body">
						<div class="row text-center">
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:bss-boys" class="btn btn-outline-dark w-100 text-uppercase">Boys' <br><strong>Uniform</strong></a>
							</div>
							<div class="col-6">
								<a href="https://www.kidsuperstore.in/shop?pf=tag:bss-girls" class="btn btn-outline-dark w-100 text-uppercase">Girls' <br><strong>Uniform</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</ng-container>

<!-- Back to top -->
<div app-back-to-top></div>

<app-footer> </app-footer>