.school-img{
	height: 200px;
	width: 100%;
	object-fit: cover;
}
.school-logo{
	height: 85px;
	width: 280px;
	object-fit: contain;
}
.landing-banner{
	position: relative;
	padding-top: 28.95%;
	@media (orientation:portrait){
		padding-top: 58.25%;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}