<div class="card h-100 product-card">
  	<a href="{{product.url}}" >
        <div class="product-card__wrapper d-flex align-items-center justify-content-center">
    		<img *ngIf="product.image && product.image['1x']; else noImage"
	            [useSrcset]=true
	            [offset]=1000
	            [defaultImage]="product.image.load"
	            [lazyLoad]="createDataSrcSet(product.image['1x'], '270w', product.image['2x'], '540w')"
	            class="card-img-top img-holder"
	            title="{{product.title}}"
	            alt="{{product.title}}"
	            sizes="(min-width: 1200px) 270px, (min-width: 992px) 226px, (max-width: 991px) 38vw">
          <ng-template #noImage>
            <img
            [defaultImage]="'/img/placeholder.svg'"
            [useSrcset]=true
            [offset]=1000
            [lazyLoad]="createDataSrcSet('/img/placeholder.svg', '270w', '/img/placeholder.svg', '540w')"
            class="card-img-top img-holder"
            title="{{product.title}}"
            alt="{{product.title}}"
            sizes="(min-width: 1200px) 270px, (min-width: 992px) 226px, (max-width: 991px) 38vw">
          </ng-template>
       	</div>
  	</a>
  	<div class="card-body">
        <a href="{{product.url}}" class="text-dark">
          <h5 class="card-title">
            {{product.title}}
          </h5>
        </a>

        <!-- <div id="kss-price-id" class="kss-price kss-price--smaller">₹599</div> -->
        <div id="kss-price-id" class="kss-price kss-price--smaller">₹{{product.sale_price}}
        	<ng-container *ngIf="product.sale_price != product.list_price">
        		<small class="kss-original-price text-muted">₹{{product.list_price}}</small><span class="kss-discount text-danger">{{getOffPercentage(product.list_price, product.sale_price)}}% OFF</span>
        	</ng-container>
     	</div>
 	</div>
</div>