@import "gender-box";

.gender-cat{
	min-height: 95px;
	padding: 0;
	&--top{
		transition: all 0.3s ease;
		background-color: #fff;
		border-radius: 0;
		box-shadow: 1px 2px 5px rgba(45, 45, 45, 0.13);
		border: 4px solid #a1a1a1;
	}
	&__name,&__year{
		transition: all 0.5s ease;
		color: black;
		padding: 10px 0;
		margin: 0;
	}
	&__year{
		padding: 0;
		margin-top: 5px;
	}
	&:hover{
		.gender-cat--top{
			box-shadow: none;
			border-color: #e2e2e2;
			.gender-cat__name,.gender-cat__year{
				// color: #000;
			}
		}
	}
	@include bp(mobile) {
		min-height: 85px;
		// padding: 0.5rem;
	}
}

.gender-cat-wrapper{
	@include bp(max_tab) {
		& > .col{
			flex: 1 0 33.33%;
    		margin-bottom: 1.5rem
		}
	}
	@include bp(mobile) {
		grid-template-columns: 3px repeat(6, 125px) 3px;
	    grid-gap: 15px;
	    & > .col{
	    	padding: 0;
	    }
	}
	& > .col{
    	&:last-child{
			.gender-cat__name{
				// padding: 0 1rem;
			}
		}
	}
}