<!-- Verify COD -->
<h3 class="modal-title font-weight-bold mt-1 mb-0">Verify COD Payment</h3>
<hr class="mb-0" />
<p class="my-2">In order to prevent delivery fraud, we need to verify the phone number associated with your shipping address. We have sent a 4 digit code to the below mobile number.</p>
<div class="text-center mb-4">
	<h4 class="mb-2 mt-4 font-weight-bold">9888888809</h4>
	<input type="tel" class="form-control form-control-number form-control-lg mb-2 letter-spacing-5 otp-number-field m-auto" (keyup)="enterclick($event)" [ngClass]="{'has-error' : userValidation.otpVerificationFailed}"  aria-describedby="emailHelp" [(ngModel)]="otp" name="otp" placeholder="" required pattern="\d{4}$" minlength = "4" maxlength = "4" inputmode="numeric" appNumbers placeholder="Enter OTP" [ngClass]="{'has-value' : otp}" autocomplete="off" appKssAutoFocus>
</div>
<hr class="mb-0" />
<!-- Verify COD -->