<!-- Verify COD -->
<div class="mb-5 py-3 px-4 padding-size">
	<h3 class="modal-title font-weight-bold mt-1 mb-0">Verify COD Payment</h3>
	<hr class="mb-0" />
	<p class="my-2">In order to prevent delivery fraud, we need to verify the phone number associated with your shipping address. We have sent a 4 digit code to the below mobile number.</p>
	<div class="text-center mb-4">
		<h4 class="mb-2 mt-4 font-weight-bold">{{shippingDetails.address.phone}}</h4>
		<input type="tel" class="form-control form-control-number form-control-lg mb-2 letter-spacing-5 otp-number-field m-auto" aria-describedby="emailHelp" [(ngModel)]="otp" name="otp" placeholder="" required pattern="\d{4}$" minlength = "4" maxlength = "4" inputmode="numeric" appNumbers placeholder="Enter OTP" autocomplete="off" appKssAutoFocus>

		 <small *ngIf="otpVerificationFailed" id="passwordHelpBlock" class="form-text text-danger">
				{{otpVerificationErrorMsg}}
		</small>

		<div class="mt-2">
			Didn't receive the code?  <a href="javascript:void(0);" class="text-secondary link-underline font-weight-bold" (click)="resendOTP()" >RESEND CODE</a>
		</div>
	</div>

	<hr class="mb-0"/>

	<div class="cart-summary final-summary mt-4">
	  <h4 class="mb-1 font-weight-bold">Price Summary</h4>
	  <p class="sub-text mb-3">Includes GST and all government taxes</p>
	  <app-bag-summary [summary]="shippingDetails.summary"></app-bag-summary>
	</div>


	<hr class="dashed">
	<div class="cd-cart-total">
	  <h5 class="font-weight-bold">Total Payable<span>₹{{shippingDetails.summary.you_pay}}</span></h5>
	</div>

	<!-- <hr class="mb-4"/> -->

<!-- 	<h4>Shipping Address</h4>

	<label class="w-100 text-left mb-0">
		<div class="d-flex align-items-start address-block review-section">
			<div class="text-left pl-2 flex-fill">
				<h3 class="kss-title font-weight-bold d-flex align-items-center w-100">{{shippingDetails.address.name}}</h3>
				<p class="h6 line-height-5">
					{{shippingDetails.address.address}}, {{shippingDetails.address.city}}, {{shippingDetails.address.state}} {{shippingDetails.address.pincode}}
				</p>
				<p class="h6 my-3">
					Mobile: <b class="font-weight-bold">{{shippingDetails.address.phone}}</b>
				</p>
			</div>
		</div>
	</label> -->

	<hr class="mb-2">
	<div class="d-flex align-items-center py-3">
		<img src="/img/shield.png" class="img-fluid" width="40" alt="100% Secure Payments" title="100% Secure Payments">
		<div class="pl-2 genuinity">
			<p class="mb-1">Genuine products. 7 day returns.</p>
			<p class="my-1">100% Secure payments.</p>
		</div>
	</div>

	<div id="kss_cod_payment" class="p-3 fixed-bottom fixed-checkout-btn d-flex align-items-center justify-content-between">
		<button  id="cancel" class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="showCancelModal()">Cancel</button>
		<button  id="verify-cod" class="btn kss-btn kss-btn--big mt-0" (click)="verifyOTP()" [disabled]="!otp || otp.length != 4">Verify COD Payment</button>
	</div>

	<app-cancel-cod (cancelCODTriggered)="cancelCOD()"> </app-cancel-cod>
</div>