<div class="">
    <div class="mt-sm-2">
	    <!-- Product Title -->
	    <a *ngIf="facets.product_brand && facets.product_brand.slug" [routerLink]="'/'+facets.product_brand.slug" class="text-black"><h2 class="brands-title brands-title--single">{{facets.product_brand.name}}</h2></a>
	    <div *ngIf="showLoader" class="loadingBg mt-4" style="height: 30px;"></div>
      <h1 class="section-heading section-heading--single">{{attributes.product_title}}</h1>

	    <!-- Product Default/Selected Price -->
	    <app-product-price [variants]="variants" [selectedVariantId]="selectedSize" [showLoader]="showLoader"></app-product-price>
    </div>
</div>

<hr class="my-2">

<div class="d-flex justify-content-between mt-3 mb-2">
	<label class="">Select Size</label>
  <a *ngIf="sizeChart.mobile && sizeChart.desktop" href="#" data-target="#sizechart-modal" data-toggle="modal" class="font-weight-bold text-secondary text-uppercase">View Size Chart</a>
</div>

<!-- Product Size Selection -->
<div class="radio-wrap d-flex kss_sizes wo-image mb-4 single-radio" [ngClass]="{'shake' : shakeSizes}">
  <div *ngIf="showLoader" class="loadingBg" style="height: 43px;"></div>
  <ng-container *ngFor="let variant of variants">
	<input class="d-none radio-input" type="radio" name="kss-sizes" id="size-{{variant.variant_attributes.variant_id}}" attr.data-variant_id="{{variant.variant_attributes.variant_id}}" attr.data-list_price="{{variant.variant_attributes.variant_list_price}}" attr.data-sale_price="{{variant.variant_attributes.variant_sale_price}}" attr.data-discount_per="{{getOffPercentage(variant.variant_attributes.variant_list_price, variant.variant_attributes.variant_sale_price)}}" data-title="3-4yrs" [(ngModel)]="selectedSize" [value]="variant.variant_attributes.variant_id" (change)="sizeSelected()" [disabled]="!variant.is_available">
	<label class="radio-label" for="size-{{variant.variant_attributes.variant_id}}">
    	<div class="radio-option">{{variant.variant_facets.variant_size.name}}</div>
  </label>
  </ng-container>
</div>

<div class="text-danger d-none font-weight-bold position-relative size-select-error" style="top: -15px;">Please select a size</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-12 mobile-fixed pb-0 pb-sm-2 add-bag-btn shadow-layer d-flex" (scroll)="scrollHandler($event)" [ngClass]="{'visible' : btnSticky}">
    <div *ngIf="totalQuantity" class="align-items-center border d-flex font-weight-bold mr-2 px-4 py-2 qty-select" data-target="#qty-modal" data-toggle="modal">
      Qty: {{selectedQuantity}}
    </div>
    <div *ngIf="showLoader" class="loadingBg w-100" style="height: 58px;"></div>
		<button *ngIf="isSellable" id="cd-add-to-cart" class="btn kss-btn kss-btn--big cd-add-to-cart" (click)="addToBag()">
			<div class="kss-btn__wrapper d-flex align-items-center justify-content-center">
				<span class="btn-contents align-items-center">
					<i class="kss_icon bag-icon-fill icon-sm"></i> Add to Bag
				</span>
				<div class="btn-icon">
					<i class="fas fa-circle-notch fa-spin fa-lg"></i>
				</div>
			</div>
		</button>
		<div *ngIf="!isSellable && !showLoader" class="out-of-stock">Currently unavailable</div>
	</div>
</div>

<ng-container *ngIf="facets.product_category_type && facets.product_category_type.slug == 'uniform'">
  <hr class="my-4">
  <!-- Product shipping info -->
  <div class="shipping-info-box d-flex my-4">
    <div class="col-left">
      <div class="ship-info-icon">
        <img width="35" src="/assets/img/returns.svg">
      </div>
      <div class="ship-info">
        <label class="ship-text text-grey">Return/Replace</label>
      </div>
    </div>
    <div class="col-right">
      <p class="ship-text">This product has a 3 day return/replace policy. <a routerLink="/terms-and-conditions/#return" target="_self" class="ship-link" >Know More</a></p>
    </div>
  </div>
</ng-container>

<div class="accordion product-collapse" id="prodDetails">
  <div *ngIf="attributes.product_description" class="">
    <div class="collapse-head border-bottom mb-0" id="headingDetails">
        <button class="btn btn-link btn-block text-left py-3 px-0 br-0 " type="button" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">
            <label class="mb-0 text-body cursor-pointer">
                Details
            </label>
        </button>
    </div>

    <div id="collapseDetails" class="collapse show" aria-labelledby="headingDetails" data-parent="#prodDetails">
        <div class="card-body pb-2 px-0">
            <p>{{attributes.product_description}}</p>
        </div>
    </div>
  </div>

  <div class="">
    <div class="collapse-head border-bottom mb-0" id="headingInfo">
        <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
            <label class="mb-0 text-body cursor-pointer">
                Additional Info
            </label>
        </button>
    </div>
    <div id="collapseInfo" class="collapse" aria-labelledby="headingInfo" data-parent="#prodDetails">
        <div class="card-body pb-2 px-0">
            <dl class="row">
              <ng-container *ngIf="facets.product_gender">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Gender</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{facets.product_gender.name}}</dd>
              </ng-container>
              <ng-container *ngIf="facets.product_age_group">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Age Group</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{facets.product_age_group.name}}</dd>
              </ng-container>
              <ng-container *ngIf="facets.product_brand">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Brand</label></dt>
                <dd class="col-8 col-sm-9 text-capitalize">{{facets.product_brand.name}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_material">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Material</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_material}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_occasion">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Occasion</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_occasion}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_wash">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Wash</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_wash}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_fabric_type">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Fabric Type</label></dt>
              	<dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_fabric_type}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_sleeves">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Sleeves</label></dt>
                <dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_sleeves}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_product_type">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Product Type</label></dt>
                <dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_product_type}}</dd>
              </ng-container>
              <ng-container *ngIf="attributes.product_att_other_attribute">
                <dt class="col-4 col-sm-3"><label class="text-muted f-w-4">Other Attribute</label></dt>
                <dd class="col-8 col-sm-9 text-capitalize">{{attributes.product_att_other_attribute}}</dd>
              </ng-container>
            </dl>
        </div>
    </div>
  </div>

  <div *ngIf="facets.product_metatag && facets.product_metatag.length" class="">
    <div class="collapse-head border-bottom mb-0" id="headingTags">
        <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
            <label class="mb-0 text-body cursor-pointer">
                Tags
            </label>
        </button>
    </div>
    <div id="collapseTags" class="collapse" aria-labelledby="headingTags" data-parent="#prodDetails">
        <div class="card-body pb-2 px-0">
          <ul class="list-inline d-flex flex-wrap kss-tags">
              <li *ngFor="let tag of facets.product_metatag">{{tag.name}}</li>
          </ul>
        </div>
    </div>
  </div>
</div>

<app-color-options *ngIf="isMobile && colorVariants && colorVariants.length > 1" [colorVariants]="colorVariants" [collapse]=true></app-color-options>

<!-- Mobile size selection -->
<div class="modal fade size-modal" id="size-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title font-weight-bold" [ngClass]="{'text-danger' : modalSizeSelectError}">Select a size</h6>
        <a *ngIf="sizeChart.mobile && sizeChart.desktop" href="#" data-target="#sizechart-modal" data-toggle="modal" class="font-weight-bold mt-1 text-secondary text-uppercase">View Size Chart</a>
      </div>
      <div class="modal-body">

        <div class="radio-wrap d-flex kss_sizes wo-image mb-4 single-radio" [ngClass]="{'shake' : shakeSizes}">
            <ng-container *ngFor="let variant of variants">
              <input class="d-none radio-input" type="radio" name="kss-sizes-modal" id="size-modal-{{variant.variant_attributes.variant_id}}" attr.data-variant_id="{{variant.variant_attributes.variant_id}}" attr.data-list_price="{{variant.variant_attributes.variant_list_price}}" attr.data-sale_price="{{variant.variant_attributes.variant_sale_price}}" attr.data-discount_per="{{getOffPercentage(variant.variant_attributes.variant_list_price, variant.variant_attributes.variant_sale_price)}}" data-title="3-4yrs" [(ngModel)]="selectedModalSize" (change)="modalSizeSelected()" [value]="variant.variant_attributes.variant_id" [disabled]="!variant.is_available">
              <label class="radio-label" for="size-modal-{{variant.variant_attributes.variant_id}}" title="3-4yrs">
                  <div class="radio-option">{{variant.variant_facets.variant_size.name}}</div>
                  <span class="sale-price">₹ {{variant.variant_attributes.variant_sale_price}}</span>
              </label>
            </ng-container>
        </div>

      </div>
      <div class="modal-footer add-bag-btn">
        <button id="cd-add-to-cart" class="btn kss-btn kss-btn--big cd-add-to-cart" (click)="addToBag()">
      <div class="kss-btn__wrapper d-flex align-items-center justify-content-center"><i class="kss_icon bag-icon-fill icon-sm"></i> Add to Bag</div>
    </button>
      </div>
    </div>
  </div>
</div>

<!-- Size Chart modal -->
<div *ngIf="sizeChart.mobile && sizeChart.desktop" class="modal fade sizechart-modal" id="sizechart-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-center text-uppercase font-weight-bold w-100 mb-0 ml-4">
          Size Chart
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="h1" style="line-height: 0.4;">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto" style="max-height: 88vh">
        <img *ngIf="isMobile" src="{{sizeChart.mobile}}" class=" img-fluid d-block m-auto" width="">
        <img *ngIf="!isMobile" src="{{sizeChart.desktop}}" class=" img-fluid d-block m-auto" width="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="qty-modal" tabindex="-1" role="dialog" app-quantity-modal (quantityChanged)="updateQuantity($event)" [totalQuantity]="totalQuantity" [selectedQuantity]="selectedQuantity">
  <!-- <app-quantity-modal (quantityChanged)="updateQuantity($event)" [totalQuantity]="totalQuantity" [selectedQuantity]="selectedQuantity"></app-quantity-modal> -->
</div>
