<div class="happening-month text-center col-block">
	<a href="#" class="d-block">
		<picture>  
		  <source media="(min-width: 768px)"
		          srcset="https://via.placeholder.com/1800x900 1800w,
		                       https://via.placeholder.com/1200x600 1200w,
		                       https://via.placeholder.com/600x300 600w"
		          sizes="48vw">

		  <source media="(max-width: 767px)"
		          srcset="https://via.placeholder.com/1200x933 1200w,
		                       https://via.placeholder.com/700x544 700w,
		                       https://via.placeholder.com/400x311 400w"
		          sizes="100vw">
		  <img src="https://via.placeholder.com/600x300" data-sizes="100vw" class="img-fluid w-100" 
		       alt="" title="">
		</picture>
		<span class="happening-month__text text-uppercase explore-text">+Explore</span>
	</a>
</div>
