<div id="filter-price-template-content">
  <div class="kss_filter-list" data-filter="price">
    <div class="filter-heading">
      <label class="w-100 mb-0 pb-3 cursor-pointer" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice">
        Price Range<i class="fas fa-angle-up float-right"></i>
      </label>
    </div>

    <div id="collapsePrice" class="collapse show" data-field="price">
      <div class="card-body">
        <div class="priceRange">
          <!-- <input type="text" id="price-range" name="price" value="" class="facet-category irs-hidden-input"/> -->
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>
        <div class="row mb-3">
          <div class="col-5 col-sm-5 d-flex align-items-baseline">
            ₹ <input type="number" step="{{options.step}}" [(ngModel)]="minValue" id="price-min" class="ml-1 pb-0 form-control text-muted price-change validate-number" placeholder="Min">
          </div>
          <div class="col-2 col-sm-2 text-center">
            <h6 class="align-self-center mt-3">to</h6>
          </div>
          <div class="col-5 col-sm-5 d-flex align-items-baseline">
            ₹ <input type="number" step="{{options.step}}" [(ngModel)]="maxValue" id="price-max" class="ml-1 pb-0 form-control text-muted price-change validate-number" placeholder="Max">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>