<app-header [menu]="menuObject"></app-header>

<app-loader *ngIf="!homePageElements"></app-loader>


<!-- <app-categories> </app-categories> -->
<div *ngIf="homePageElements" class="pb-5">

  <!-- Gender category selection -->
  <app-gender-category *ngIf="homePageElements.gender_tabs" [tabs]="homePageElements.gender_tabs"></app-gender-category>

   <!-- Our offers -->
  <app-offers *ngIf="homePageElements.offers" [offers]="homePageElements.offers"></app-offers>


    <!-- Theme of the week and what's happening this month section -->
  <section class="mt-5 pt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" *ngIf="homePageElements.week_theme">
          <div app-week-theme [theme]="homePageElements.week_theme[0]" ></div>
        </div>
        <div class="col-sm-6" *ngIf="homePageElements.month_theme">
          <div app-happening-month [theme]="homePageElements.month_theme[0]"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Brands -->
  <div *ngIf="homePageElements.brands" app-brands [brands]="homePageElements.brands"></div>


<!-- Home category -->
<div app-categories></div>


  <!-- <div (deferLoad)="showStories=true"> -->
    <app-stories *ngIf="homePageElements.story" [stories]="homePageElements.story"> </app-stories>
  <!-- </div> -->
  <!-- <div (deferLoad)="showTrendingSection=true"> -->
    <app-trending *ngIf="homePageElements.trending" [trending]="homePageElements.trending"> </app-trending>
  <!-- </div> -->
</div>
<!-- <section>
  <div class="container mt-5">
      <div class="row add-info-row">
          <div class="col-md-6 mb-3 mb-sm-0">
             <div class=" d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row border-0 text-left p-2 p-sm-4" style="background-color: #fbf5d5;">
              <div class="text-center text-sm-left pr-0 pr-sm-3">
                <h2 class="font-weight-bold mt-3">
                  Fresh and Latest
                </h2>
                <p class="text-muted mt-1 captions">
                  We always find the latest clothing and accessories for kids.
                </p>
              </div>
              <div class="bg-gift ml-auto home-coupon latest-trend"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row border-0 text-left p-2 p-sm-4" style="background-color: #f2e6de;">
              <div class="text-center text-sm-left pr-0 pr-sm-3">
                <h2 class="font-weight-bold mt-3">
                  Free shipping!
                </h2>
                <p class="text-muted mt-1 captions">
                  We provide free shipping on all our products. No minimum checkout value.
                </p>
              </div>
              <div class="bg-gift ml-auto home-coupon shipping-img"></div>
            </div>
          </div>
      </div>
  </div>
</section> -->

<!-- <section>
  <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <div class="store-banner postion-relative">
            <picture>
               <source media="(orientation: landscape)"
                      data-srcset="/assets/img/stores/banner/store-banner-large.jpg 2000w,
                                  /assets/img/stores/banner/store-banner-medium.jpg 1200w,
                                  /assets/img/stores/banner/store-banner-small.jpg 700w"
                      sizes="100vw">

               <source media="(orientation: portrait)"
                      data-srcset="/assets/img/stores/banner/store-banner-mo-large.jpg 1200w,
                                  /assets/img/stores/banner/store-banner-mo-medium.jpg 700w,
                                  /assets/img/stores/banner/store-banner-mo-small.jpg 400w"
                      sizes="100vw">

               <img src="/assets/img/stores/banner/store-banner-20px.jpg"
                   data-sizes="100vw"
                   class="img-fluid lazyload blur-up w-100" alt="Visit our store" title="Visit our store">
            </picture>
            <div class="contentWrapper text-center d-flex align-items-center">
              <div>
                <p class="store-banner__title mb-0">Want to see our clothes in real life?</p>
                <span class="store-banner__caption">Just visit any one of stores near you!</span>
                <a href="/stores" class="btn kss-btn kss-btn--small">Visit our store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer> </app-footer> -->
