<app-header [menu]="menuObject"></app-header>
<!-- <app-banner> </app-banner> -->

<app-loader *ngIf="!homePageElements"></app-loader>
<!-- <section class="mt-5">
  <div class="container mb-3">
      <div class="row">
          <div class="col-md-3 col-6 mb-md-0 mb-3">
            <a href="/shop/infants" class="card link-card border-0 text-center pt-3" style="background-color:#EEFAFC;">
                <label class="font-weight-bold m-0 link-card_text">0-2 YEARS</label>
                <h4 class="font-weight-bold link-card_text">Infants</h4>
                <hr class="w-25 m-auto border-dark">
                <img class="d-block w-100 img-fluid lazyload blur-up"
                    src="/assets/img/gender/infant-10px.jpg"
                    data-srcset="/assets/img/gender/infant-large.jpg 813w,
                                 /assets/img/gender/infant-medium.jpg 542w,
                                 /assets/img/gender/infant-small.jpg 271w"
                    data-sizes='(min-width: 1200px) 270px, (min-width: 768px) 22vw,  44vw'
                    title="Infants 0-2 years"
                    alt="Infants 0-2 years"/>
            </a>
          </div>
          <div class="col-md-3 col-6 mb-md-0 mb-3" >
            <a href="/shop/boys" class="card link-card border-0 text-center pt-3" style="background-color:#F3F3F1;">
                <label class="font-weight-bold m-0 link-card_text">2-14 YEARS</label>
                <h4 class="font-weight-bold link-card_text">Boys</h4>
                <hr class="w-25 m-auto border-dark">
                 <img class="d-block w-100 img-fluid lazyload blur-up"
                      src="/assets/img/gender/boy-10px.jpg"
                      data-srcset="/assets/img/gender/boy-large.jpg 813w,
                                   /assets/img/gender/boy-medium.jpg 542w,
                                   /assets/img/gender/boy-small.jpg 271w"
                      data-sizes='(min-width: 1200px) 270px, (min-width: 768px) 22vw,  44vw'
                      title="Boys 2-14 years"
                      alt="Boys 2-14 years"/>
            </a>
          </div>
          <div class="col-md-3 col-6" >
            <a href="/shop/girls" class="card link-card border-0 text-center pt-3" style="background-color:#F4E6DC;">
                <label class="font-weight-bold m-0 link-card_text">2-14 YEARS</label>
                 <h4 class="font-weight-bold link-card_text">Girls</h4>
                 <hr class="w-25 m-auto border-dark">
                 <img class="d-block w-100 img-fluid lazyload blur-up"
                      src="/assets/img/gender/girl-10px.jpg"
                      data-srcset="/assets/img/gender/girl-large.jpg 813w,
                                   /assets/img/gender/girl-medium.jpg 542w,
                                   /assets/img/gender/girl-small.jpg 271w"
                      data-sizes='(min-width: 1200px) 270px, (min-width: 768px) 22vw,  44vw'
                      title="Girls 2-14 years"
                      alt="Girls 2-14 years"/>
            </a>
          </div>
          <div class="col-md-3 col-6">
            <div class="card border-0 p-3 text-center" style="background-color:#F3F3F1;">
              <label class="font-weight-bold">NEW ARRIVALS</label>
              <div id="slider-newarrival" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators ">
                  <li data-target="#slider-newarrival" data-slide-to="0" class="active"></li>
                  <li data-target="#slider-newarrival" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner mt-5">
                  <div class="carousel-item active">
                    <a href="/accessories/others/">
                      <img class="d-block w-100 img-fluid lazyload blur-up"
                        src="/assets/img/new-arrival/kids-accessories-10px.jpg"
                        data-srcset="/assets/img/new-arrival/kids-accessories-large.jpg 813w,
                                     /assets/img/new-arrival/kids-accessories-medium.jpg 542w,
                                     /assets/img/new-arrival/kids-accessories-small.jpg 271w"
                        data-sizes='(min-width: 1200px) 270px, (min-width: 768px) 22vw,  44vw'
                        alt="New Arrivals - Accessories"
                        title="New Arrivals - Accessories"/>
                      </a>
                  </div>
                  <div class="carousel-item">
                    <a href="/shoes/">
                      <img class="d-block w-100 img-fluid lazyload blur-up"
                        src="/assets/img/new-arrival/slider-shoes-10px.jpg"
                        data-srcset="/assets/img/new-arrival/slider-shoes-large.jpg 813w,
                                     /assets/img/new-arrival/slider-shoes-medium.jpg 542w,
                                     /assets/img/new-arrival/slider-shoes-small.jpg 271w"
                        data-sizes='(min-width: 1200px) 270px, (min-width: 768px) 22vw,  44vw'
                        alt="New Arrivals - Shoes"
                        title="New Arrivals - Shoes"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section> -->

<!-- <app-categories> </app-categories> -->
<app-stories *ngIf="homePageElements && homePageElements.story" [stories]="homePageElements.story" (storiesLoaded)="storiesLoaded = true"> </app-stories>
<app-trending *ngIf="homePageElements && homePageElements.trending" [trending]="homePageElements.trending"> </app-trending>

<!-- <section>
  <div class="container mt-5">
      <div class="row add-info-row">
          <div class="col-md-6 mb-3 mb-sm-0">
             <div class=" d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row border-0 text-left p-2 p-sm-4" style="background-color: #fbf5d5;">
              <div class="text-center text-sm-left pr-0 pr-sm-3">
                <h2 class="font-weight-bold mt-3">
                  Fresh and Latest
                </h2>
                <p class="text-muted mt-1 captions">
                  We always find the latest clothing and accessories for kids.
                </p>
              </div>
              <div class="bg-gift ml-auto home-coupon latest-trend"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row border-0 text-left p-2 p-sm-4" style="background-color: #f2e6de;">
              <div class="text-center text-sm-left pr-0 pr-sm-3">
                <h2 class="font-weight-bold mt-3">
                  Free shipping!
                </h2>
                <p class="text-muted mt-1 captions">
                  We provide free shipping on all our products. No minimum checkout value.
                </p>
              </div>
              <div class="bg-gift ml-auto home-coupon shipping-img"></div>
            </div>
          </div>
      </div>
  </div>
</section> -->

<!-- <section>
  <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <div class="store-banner postion-relative">
            <picture>
               <source media="(orientation: landscape)"
                      data-srcset="/assets/img/stores/banner/store-banner-large.jpg 2000w,
                                  /assets/img/stores/banner/store-banner-medium.jpg 1200w,
                                  /assets/img/stores/banner/store-banner-small.jpg 700w"
                      sizes="100vw">

               <source media="(orientation: portrait)"
                      data-srcset="/assets/img/stores/banner/store-banner-mo-large.jpg 1200w,
                                  /assets/img/stores/banner/store-banner-mo-medium.jpg 700w,
                                  /assets/img/stores/banner/store-banner-mo-small.jpg 400w"
                      sizes="100vw">

               <img src="/assets/img/stores/banner/store-banner-20px.jpg"
                   data-sizes="100vw"
                   class="img-fluid lazyload blur-up w-100" alt="Visit our store" title="Visit our store">
            </picture>
            <div class="contentWrapper text-center d-flex align-items-center">
              <div>
                <p class="store-banner__title mb-0">Want to see our clothes in real life?</p>
                <span class="store-banner__caption">Just visit any one of stores near you!</span>
                <a href="/stores" class="btn kss-btn kss-btn--small">Visit our store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer> </app-footer> -->

<div class="alert alert-dark alert-offline text-center slide-in-bottom " role="alert"> <!-- Replace class slide-in-bottom with slide-out-bottom to hide it -->
  <strong>You are offline and may be viewing outdated info!</strong>
</div>