.return-item-btn {
    padding: 0.6rem 0;
    text-transform: inherit;
}
.order-item-info {
    .item-info {
        font-weight: 400;
        display: block;
        strong {
            color: #000;
            font-weight: 700;
        }         
    }
}

.green {
    color: green;
    font-weight: 600;
}
.grey {
    color: grey;
    font-weight: 600;
}