<div class="d-flex order-card">					
	<a href="{{item.href}}" class="order-card__image" [ngClass]="{'variant-placeholder' : item.images[0]=='/img/placeholder.svg'}">
		<div class="product-img">
			<img src="{{item.images[0]}}" class="lazyload img-fit" data-srcset="{{item.images[0]}} 50w, {{item.images[1]}} 100w, {{item.images[2]}} 150w" sizes="50px">
		</div>
	</a>	
	<div class="product-detail order-card__detail">
		<a href="{{item.href}}" class="text-dark">
			<div class="product-name text-truncate">
				{{item.title}}
			</div>
		</a>
		<div class="product-size text-muted mb-1">
			<span>Size: {{item.size}}</span> <span>|</span> <span>Qty: {{item.quantity}}</span>
		</div>
		<div class="product-price">
			<div class="kss-price kss-price--smaller">₹{{item.price_final}}									
				<span *ngIf="item.price_final != item.price_mrp">
					<small class="kss-original-price text-muted">₹{{item.price_mrp}}
				  	</small>
				  	<span class="kss-discount text-danger">{{item.off_percentage}}</span>
				</span>
			</div>
		</div>
		<!-- Refund initiated text -->
		<!-- <div *ngIf="showRefundStatus && item.status && item.status == 'cancelled' " class="text-success mt-1">
			Refund initiated
		</div> -->
		<div *ngIf="showStatus">
			<span *ngIf="item.state == 'draft' " class="order-label order-label--processing" data-toggle="tooltip" data-placement="top" title="Your order has been placed and we are verifying item availability in the inventory.">Processing</span>
			<span *ngIf="item.state == 'sale' " class="order-label order-label--confirmed" data-toggle="tooltip" data-placement="top" title="Stock for the items has been verified and your items will be shipped out soon.">Confirmed</span>
			<span *ngIf="item.state == 'cancel' " class="order-label" data-toggle="tooltip" data-placement="top" title="Item is cancelled an refund is initiated">Cancelled</span>
		</div>
	</div>
</div>