<div id="cd-shadow-layer"></div>

<div id="cd-cart">
	<div class="kss_shipping_summary slide-out custom-padding" [ngClass]="{'slide-show' : widgetOpen}">
		<div *ngIf="shippingDetails" class="scroll-container">	
			<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
				<div class="d-flex align-items-center w-100">
					<div class="">
						<a >
							 <img src="/img/logo-kss.png" xpreview="assets/img/logo-kss.png" class=" img-fluid m-0" width="180px">
					 </a>
					</div>
					<div class="ml-auto align-self-center">
						<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeCart()"><span aria-hidden="true">&times;</span></h3>
					</div>
				</div>
			</nav>

			<div class="mb-5 py-3 px-3 padding-size">
				<div class="row no-gutter">
					<!-- <div class="col-1">
		             <h3 class="m-0 font-weight-bold back-to-cart">
		               <img (click)="navigateBack()" class="btn-back kss_highlight" src="/img/left-arrow.png" style="width:20px;">
		             </h3>
		           </div> -->
					<div class="col-8">
						<h3 class="modal-title font-weight-bold" id="exampleModalLabel">Review your order</h3>
					</div>
					<div class="col-4 text-right">
						<h6 class="text-muted mt-2">STEP: 2 / 2</h6>
					</div>
				</div>
				<hr>
				<!-- <div class="alert alert-success mb-3" role="alert">
				  <b><i class="fas fa-truck"></i> Standard Delivery</b> (Free delivery)
				</div> -->
				<div>
					<label class="w-100 text-left mb-0">
						<div class="d-flex align-items-start address-block review-section">
							<div class="text-left pl-2 flex-fill">
								<h3 class="kss-title font-weight-bold d-flex align-items-center w-100">{{shippingDetails.address.name}} 
								<!-- <i class="fas fa-pencil-alt number-edit cursor-pointer ml-2 mt-1" (click)="editShippingAddress()"></i> --></h3>
								<p class="h6 line-height-5">
									{{shippingDetails.address.address}}, {{shippingDetails.address.city}}, {{shippingDetails.address.state}} {{shippingDetails.address.pincode}}
								</p>
								<p class="h6 my-3">
									Mobile: <b class="font-weight-bold">{{shippingDetails.address.phone}}</b>
								</p>
								<p *ngIf="userEmail" class="h6 mt-3 mb-0">
									Order Tracking emails will be sent to the following address : <b class="font-weight-bold">{{userEmail}}</b>
									<i class="fas fa-pencil-alt number-edit cursor-pointer ml-2 mt-1" (click)="editUserInfo()"></i>
								</p>
							</div>
						</div>
					</label>
				</div>

				<hr>

				<ul class="cd-cart-items list-unstyled mt-2 pt-2 cart-summary-items mb-1">
				  <li class="p-0 pb-3 mb-3" *ngFor="let item of shippingDetails.items">
				    <div class="primary-info d-flex">
				      <div class="product-img">
				      	<a href="{{item.href}}" [ngClass]="{'variant-placeholder' : item.attributes.images[0]=='/img/placeholder.svg'}">
				      		<!-- <div class="img" style="background-image: url('/img/thumbnail/6front@thumb.jpg');"></div> -->
				      		<img src="{{item.attributes.images[0]}}" class="lazyload img-fit" data-srcset="{{item.attributes.images[0]}} 50w, {{item.attributes.images[1]}} 100w, {{item.attributes.images[2]}} 150w" sizes="50px">
				      	</a>
				        
				      </div>
				      <div class="product-detail">
				      	<a href="{{item.href}}" class="d-inline-flex section-title text-black">
					        <label class="m-0 cursor-pointer text-capitalize">
					          {{item.attributes.title}}
					        </label>
					    </a>
				        	<div class="d-flex flex-row align-items-center py-1">
							  <div class="size-qty align-self-center">
							  	<label class="m-0">Size:</label>
							  </div>
							  <div class="pl-2 pr-4 align-self-center">
							  	{{item.attributes.size}}
							  </div>
							  <div class="qty align-self-center mt-0">
							  	<label class="m-0">Qty:</label>
							  </div>
							  <div class="pl-2">
							  	{{item.quantity}}
							  </div>
							</div>
				       <!--  <div class="product-size text-muted ">
				         <p class="sub-text mt-3">Estimated Delivery <b class="text-dark">23 Aug 2018</b></p>
				        </div> -->
				      </div>
				    </div>
				  </li>
				</ul>

				<hr class="mt-0">

				<div class="cart-summary final-summary mt-4">
				  <h4 class="mb-1 font-weight-bold">Price Summary</h4>
				  <p class="sub-text mb-3">Includes GST and all government taxes</p>
				  <app-bag-summary [summary]="shippingDetails.summary"></app-bag-summary>
				</div>


				<hr class="dashed">
				<div class="cd-cart-total">
				  <h5 class="font-weight-bold">Total Payable<span>₹{{shippingDetails.summary.you_pay}}</span></h5>
				</div>
				<h5 *ngIf="shippingDetails.summary.mrp_total - shippingDetails.summary.you_pay != 0 " class="font-weight-bold text-success w-50 line-height-5">Your total savings on this order ₹{{shippingDetails.summary.mrp_total - shippingDetails.summary.you_pay}}</h5>
			</div>

			<div *ngIf="!showUserInfoModal" class="fixed-bottom d-show pl-3 pr-3">
			  <div class="row no-gutters py-2">
		      <div class="col-12 text-center">
		          <button id="payment-details" type="button" class=" btn kss-btn kss-btn--big mt-1 mb-1 d-flex align-items-center justify-content-center" (click)="navigateToPaymentPage()">Pay ₹{{shippingDetails.summary.you_pay}}  <img src="/img/pay-u-icon.png" class="ml-2" width="50"> <i class="fas fa-angle-right position-absolute r-0 mt-i-1"></i></button>
		      </div>
			  </div>
			</div>

			<div class="modal fade show" id="user-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content ">
			      <div class="modal-body">

			        <div class="state-1">
			          <div class="d-flex align-items-center">
			            <!-- <div class="pr-3">
			              <h3  class="m-0 font-weight-bold kss_highlight" data-dismiss="modal" aria-label="Close">
			                <img class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/>
			              </h3>
			            </div> -->
			            <div class="">
			              <h3 class="modal-title font-weight-bold mt-1" id="exampleModalLabel">User Info</h3>
			            </div>
			          </div>

			          <p class="sub-text w-75 mt-3">Please provide following details</p>
			          <form #userInfo="ngForm">
			            <div class="form-group mb-0">
			              <input type="text" class="form-control form-control-lg" id="frm-name" name="name" required [(ngModel)]="shippingDetails.user_info.name" [ngClass]="{'has-value' : shippingDetails.user_info.name}">
			              <label class="control-label">Name</label>			              
			            </div>
			            <div class="form-group mb-0">
			            	<input type="email" class="form-control form-control-lg" id="frm-email" name="email" required [(ngModel)]="shippingDetails.user_info.email" [ngClass]="{'has-value' : shippingDetails.user_info.email}" pattern="[^ @]+@[^ @]+\.[^ @]+">
				            <label class="control-label">Email Id</label>
			            </div>
			          </form>
			          <div id="kss_cart" class="pt-3 d-flex align-items-center justify-content-between">
						<button *ngIf="showCancelButton" id="cancel" class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="hideModal()" >Cancel</button>
						<button id="save" class="btn kss-btn kss-btn--big mt-0" [disabled]="!userInfo.valid" (click)="saveUserInfo()" >Save</button>
					</div>
			        </div>

			      </div>
			    </div>
			  </div>
			</div>


		</div>
	</div>
</div>	