<app-header></app-header>

<!-- Banner -->
<div class="kss_banner_sm justify-content-center d-flex p-3 p-md-5 text-white bg-dark">
  <div class="align-self-center text-center">
     <h1 class="display-6 bold mt-4 mb-1 banner-title">KidSuperStore Stores - R.S. Puram, Coimbatore</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row">

    <div class="col-12 col-md-8 mb-3">
        <app-store-gallery [gallery]='storeImages'></app-store-gallery>
        
      <ul id="storeSlider" class="cs-hidden">
        <li class="item-a" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore1-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore1-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-b" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore2-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore2-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-c" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore3-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore3-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-d" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore4-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore4-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-e" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore5-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore5-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-e" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore6-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore6-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-e" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore7-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore7-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-e" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore8-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore8-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
        <li class="item-e" attr.data-thumb="{{cdnUrl}} + 'assets/img/stores/coimbatore/coimbatore9-small.jpg'">
          <img class="card-img-top lazyload"
              src="{{cdnUrl}}assets/img/stores/coimbatore/coimbatore9-large.jpg"
              title="R.S. Puram, Coimbatore"
              alt="R.S. Puram, Coimbatore"/>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-4">
        <h4 class="font-weight-bold mb-2">Location</h4>
        <div class="h5 text-gray line-height-5">D.B. Road, R.S. Puram, Coimbatore</div>

        <h4 class="font-weight-bold mt-5 mb-2">Address</h4>
        <div class="h5 text-gray line-height-5">Shop No. 97, D.B. Road, R.S. Puram, Coimbatore, Tamil Nadu - 641002</div>

        
        <a href="https://www.google.com/maps/search/?api=1&query=11.00742,76.95087" target="_blank" class="btn btn-primary my-2 font-weight-bold">View on Google Maps</a>

        <h4 class="font-weight-bold mt-5 mb-2">Store Manager</h4>
        <div class="h5 text-gray line-height-5">Chinraj</div>

        <h4 class="font-weight-bold mt-5 mb-2">Timings</h4>
        <div class="h5 text-gray line-height-5">10:30am to 10:00pm</div>

        <h4 class="font-weight-bold mt-5 mb-2">Contact</h4>
        <div class="h5 text-gray line-height-5">Phone: 9787046725</div>
        <div class="h5 text-gray line-height-5">Email: 2001@omniedgeretail.com</div>
    </div>

  </div>
</div>

<app-why-visit-us></app-why-visit-us>

<!-- Back to top -->
<div app-back-to-top></div>

<app-footer></app-footer>