<div *ngIf="promoApplied && promo" class="kss-flash kss-flash--info mb-3">
	<div class="d-flex align-items-center justify-content-between">
		<div class="pr-4">
			<p class="mb-2 text-success">COUPON APPLIED!</p>
			<p class="font-weight-normal mb-2 label-size">{{promo.display_title}}</p>
			<p class="text-gray f-w-4 m-0 d-block font-weight-bold">
				Saved <span class="text-success">₹{{promo.actual_discount}}</span>
			</p>
		</div>
		<i class="fas fa-pencil-alt edit-pencil edit-promotion cursor-pointer ml-2 mt-1"></i>
	</div>
</div>