<div class="header">
	<div class="container pl-2 pl-sm-0 pr-2 pr-sm-0">
		<nav class="navbar navbar-expand-lg better-bootstrap-nav-left pl-1 pr-1 pb-0 pt-0">

		    <div (click)="openMenu()" class="megamenu-open menu-toggle pr-3 py-2 d-block d-lg-none">
		      <i class="fas fa-bars"></i>
		    </div>

		    <a href="/" class="header-logo">
		      <img src="/assets/img/logo-kss.png" class=" img-fluid m-0 kss-logo" width="180px">
		    </a>

		    <div class="megamenu">

		      <div class="d-flex d-lg-none justify-content-between align-items-center border-bottom border-cancel header-close-trigger">
		        <a href="/">
		          <img src="" class=" img-fluid m-3 d-block d-lg-none" width="180px">
		        </a>
		        <div class="megamenu-close menu-toggle p-3" (click)="closeMenu()">
		          <i class="fas fa-times"></i>
		        </div>
		      </div>

		      <div class="d-flex megamenu__contents">
		        <ul class="nav flex-column megamenu--left d-flex d-lg-none">
		          <li class="nav-item" data-target="Boys">
		            Boys
		          </li>
		          <li class="nav-item" data-target="Girls">
		            Girls
		          </li>
		          <li class="nav-item" data-target="Infants">
		            Infants
		          </li>
		          <li class="nav-item" data-target="Toys">
		            Toys
		          </li>
		          <li class="nav-item" data-target="Stationery">
		            Stationery
		          </li>
		          <li class="flex-grow-1 disabled"></li>
		          <li class="nav-item" data-target="otherlinks">
		            Other links
		          </li>
		        </ul>

		        <ul *ngIf="menu" class="nav megamenu--right">
		            <!-- Boys -->
		            <li *ngFor="let item of menu">
		                <a href="javascript:void(0)" class="d-none d-lg-block">{{item.type}}</a>
		                <div class="megamenu-wrapper" attr.data-menu="{{item.type}}">
		                    <div *ngFor="let row of item.rows" class="nav-column">
		                    	<div *ngFor="let menu of row.menus">
			                        <div class="nav-column--heading mb-1">{{menu.shop_by}}</div>
			                        <ul class="list-unstyled">
			                          <li *ngFor="let type of menu.data"><a class="megamenu-link" [ngClass]="{'megamenu-link--primary' : type.title === 'View all products'}" href="{{type.link}}">{{type.title}}</a></li>			                          
			                        </ul>

		                        </div>
		                    </div>
		                    <div *ngIf="item.image_section" class="nav-column nav-column--wide d-none d-lg-block">
		                        <a href="/boys/shirt" class="d-block">
		                          <!-- <img class="d-block w-100 img-fluid lazyload offer-img mt-4 mt-lg-0"
		                             src="{{CDN::asset('/img/menu/mm_boys_onecolumn_10px.jpg') }}"
		                             data-srcset="{{CDN::asset('/img/menu/mm_boys_onecolumn_medium.jpg') }} 2x,
		                                          {{CDN::asset('/img/menu/mm_boys_onecolumn_small.jpg') }} 1x"
		                             alt="Spotlight on Boys Shirts"
		                             title="Spotlight on Boys Shirts"/> -->
		                        </a>
		                        <div class="row align-items-center mt-2 mb-4 mb-lg-0">
		                            <div class="col-7">
		                              <div class="h5 text-primary font-weight-bold">Spotlight on</div>
		                              <div class="text-white">Boys shirts</div>
		                            </div>
		                            <div class="col-5">
		                              <a href="/boys/shirt" class="btn kss-btn kss-btn--mini">Shop now</a>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </li>		            

		            <!-- Other links -->
		            <li class="d-lg-none align-self-end">
		              <div class="megamenu-wrapper" data-menu="otherlinks">
		                <div class="nav-column mb-0">
		                  <ul class="list-unstyled">
		                    <li><a class="megamenu-link" href="/about-us">About Us</a></li>
		                    <li><a class="megamenu-link" href="/contact">Contact Us</a></li>
		                    <li><a href="https://cutshort.io/company/omni-edge-retail-private-ltd?career_page=true" class="megamenu-link">Careers</a></li>
		                    <li><a class="megamenu-link" href="/faq">FAQ</a></li>
		                    <li><a class="megamenu-link" href="/terms-and-conditions">Terms of Use</a></li>
		                    <li><a class="megamenu-link" href="/privacy-policy">Privacy Policy</a></li>
		                    <li><a class="megamenu-link" href="http://ideas.kidsuperstore.in/">Blog</a></li>
		                  </ul>
		                </div>
		              </div>
		            </li>
		        </ul>
		      </div>
		    </div>

		    <div class="my-lg-0 ml-auto header-actions">
		        <ul class="list-inline mb-2 pt-2">
		            <li class="list-inline-item">
		                <a class="cursor-pointer" id="cd-my-account-trigger">
		                    <i class="kss_icon profile-icon">
		                   </i>
		                </a>
		            </li>
		            <li class="list-inline-item pr-0 ">
		                <div id="cd-cart-trigger" class="shopping-cart position-relative cursor-pointer">
		                <!-- <a id="cd-cart-trigger-test" href="#" class="shopping-cart"> -->
		                   <i class="kss_icon bag-icon cursor-pointer">
		                   </i>
		                   <span class="badge badge-light cart-counter d-none"><div id="output">0</div></span>
		                </div>
		            </li>
		        </ul>
		    </div>
		</nav>
	</div>
</div>