<!-- Order info -->
<!-- Order shipped details -->
<div *ngFor="let item of items; let i = index" class="mb-2 my-order-collapse">
	<div class="d-flex bd-highlight row mb-2">
		<div class="pb-2 pr-2 col-7">
			<label class="d-block m-0 mb-1">Item {{i+1}} of {{items.length}}</label>
				<span *ngIf="item.store_address">Sold by: {{item.store_address.store_name}}</span>
		</div>
		<div class="pb-2 ml-auto col-5 text-right pl-0">
			<div *ngIf="showStatus" class="mt-4">
				<span *ngIf="item.state == 'draft' && !item.shipment_status" class="order-label order-label--processing" data-toggle="tooltip" data-placement="top" title="Your order has been placed and we are verifying item availability in the inventory">Processing</span>
				<span *ngIf="item.state == 'cancel' || item.shipment_status == 'cancelled' " class="order-label order-label--cancelled" data-toggle="tooltip" data-placement="top" title="The item has been cancelled">Cancelled</span>
				<span *ngIf="item.state == 'processing-cancel' " class="order-label order-label--processcancel" data-toggle="tooltip" data-placement="top" title="The item is being processed for cancellation">Processing Cancel</span>

				<span *ngIf="item.state == 'sale' && !item.shipment_status " class="order-label order-label--confirmed" data-toggle="tooltip" data-placement="top" title="Stock for the items has been verified and your items will be shipped out soon.">Confirmed</span>

				<span *ngIf="item.shipment_status == 'shipped' " class="order-label order-label--shipped" data-toggle="tooltip" data-placement="top" title="Your item has been shipped and should reach you soon">Shipped</span>
				<span *ngIf="item.shipment_status=='out for delivery' " class="order-label order-label--outdelivery" data-toggle="tooltip" data-placement="top" title="Your item is out for delivery">Out for Delivery</span>
				<span *ngIf="item.shipment_status=='delivered' " class="order-label order-label--delivered" data-toggle="tooltip" data-placement="top" title="The item has been delivered">Delivered</span>
			</div>
		</div>
	</div>

	<!-- Actual order info -->
	<div class="p-md-3 p-2 mb-4 card shadow-sm">
		<div class="row primary-info">
			<div class="col-12 d-flex flex-column">
				<app-item [item]="item" [showStatus]=showStatus ></app-item>
			</div>
		</div>
		<div class="row secoundary-info">
			<div class="col-12 item-order-info">
				<!-- <hr *ngIf="showStatus && (item.state == 'draft')" class="mt-0"> -->


				<div *ngIf="showStatus" class="order-item-info" [ngClass]="{'mb-3' : item.state == 'delivered' && showReturnbtn == true }">
					<label *ngIf="item.return_policy.date && !isReturnPolicyValid(item.return_policy.date)" class="item-info mb-0 sm-font text-dark">
						<i class="fa fa-info-circle mr-1"></i> Return policy was valid till {{getValidTill(item.return_policy.date)}}
					</label>

					<!-- <label class="item-info mb-0 sm-font text-dark">
						<i class="fa fa-info-circle mr-1"></i> This item cannot be returned
					</label> -->
				<!-- 	<label *ngIf="item.state == 'sale' && !item.shipment_status" class="item-info text-dark mb-0"><strong>Processed On:</strong><span class="grey"> 26 February 2019</span></label>

					<label *ngIf="item.shipment_status == 'shipped' "  class="item-info text-dark"><strong>Expected Delivery:</strong><span class="green"> 26 February 2019</span></label>
					<label *ngIf="item.shipment_status == 'shipped' " class="item-info text-dark mb-0">Entered warehouse Bangalore, Karnataka<br>Tue, 26th Feb 18 - 11:57am</label>

					<label *ngIf="item.shipment_status == 'delivered' && item.state == 'draft' "  class="item-info text-dark mb-0"><strong>Delivered on:</strong><span class="grey"> 26 February 2019</span></label> -->

					<label *ngIf="item.is_returned"  class="item-info text-dark"><strong>Return Initiated</strong> <br>
						<span class="grey">
							Our team will get in touch with you to process your request
						</span>
					</label>

					<!-- <label *ngIf="item.shipment_status == 'retured' "  class="item-info text-dark"><strong>Refund Processed:</strong><span class="grey"> 26 February 2019</span></label> -->

			<!-- 		<label *ngIf="item.state == 'processing-cancel'" class="item-info text-dark mb-0">Cancellation request has been sent and is currently being processed</label>

					<label *ngIf="item.state == 'cancel'"  class="item-info text-dark mb-0"><strong>Cancelled on:</strong><span class="grey"> 26 February 2019</span></label> -->
				</div>

				<!-- Return Item -->
				<div *ngIf="showStatus && item.return_policy.return_allowed" class="return-item-section">
					<hr class="mt-0">
					<label *ngIf="item.return_policy.date && isReturnPolicyValid(item.return_policy.date)" class="item-info mb-0 sm-font text-dark">
						<i class="fa fa-info-circle mr-1"></i> Return policy valid till {{getValidTill(item.return_policy.date)}}
					</label>
					<a href="javascript:void(0);"  class="btn kss-btn kss-btn--outline-secondary return-item-btn mt-3" (click)="returnItem(item)">Return Item <i class="fas fa-chevron-right"></i></a>
				</div>
				<!-- End of Return Item -->
			</div>
		</div>
	</div>
</div>


