<div class="cart-step1-header">
	<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
		<div class="d-flex align-items-center w-100">
			<div class="">
				<a>
					<img _ngcontent-c1="" class=" img-fluid m-0" src="/img/logo-kss.png" width="180px" xpreview="/img/logo-kss.png">
			 	</a>
			</div>
			<div class="ml-auto align-self-center">
				<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeWidget()"><span aria-hidden="true">×</span></h3>
			</div>
		</div>
	</nav>
</div>

<div *ngIf="userInfo">
	<div class="col-12 p-0">
		<div class="d-flex align-items-top top-navbar pt-3">
            <div class="pr-3 d-block">
            	<a>		              	
	              	<h4 class="m-0 font-weight-bold back-to-cart">
		               <img (click)="navigateBack()" class="btn-back kss_highlight" src="/img/left-arrow.png" style="width:20px;">
		             </h4>
	          	</a>
            </div>
            <div class="">
              <h4 class="font-weight-bold m-0"> Profile</h4>
            </div>
        </div>
		<hr>
		
		<div class="p-3 mb-3 d-block">
			<h5 class="font-weight-bold text-dark mb-3">Primary Info</h5>
			<div class="row mb-2">
				<div class="col-5 card-title-size">Name :</div>
				<label class="mb-0 col-6 card-title-size"> <span *ngIf="userInfo.name; else noName">{{userInfo.name}}</span> <ng-template #noName> - </ng-template> </label>
			</div>
			<div class="row mb-2">
				<div class="col-5 card-title-size">Mobile Number :</div>
				<label class="mb-0 col-6 card-title-size">{{userInfo.mobile}}</label>
			</div>
			<div class="row mb-2">
				<div class="col-5 card-title-size">E-mail id :</div>
				<label class="mb-0 col-6 card-title-size"><span *ngIf="userInfo.email; else noEmail">{{userInfo.email}}</span> <ng-template #noEmail> - </ng-template></label>
			</div>

			<!-- <button type="button" class="btn kss-btn kss-btn--medium mt-3" (click)="showModal()">Edit</button> -->
			<div class="text-center">
				<button type="button" class="btn text-secondary pb-0 pr-0 link-btn" (click)="showModal()">Edit <i class="fas fa-chevron-right pl-2"></i></button>
			</div>

		</div>			
	</div>

	<app-edit-user-popup [user_info]="userInfo" [showCancelButton]="showCancelButton" [showMobileNumber]=true (pop_up_closed)="updateEmail()"></app-edit-user-popup>
</div>	
