.kss_banner {
    width: 100%;
    height: 400px;
    background-size: contain !important;
    background-color: #ffeb64 !important;
    padding-top: 90px;
    @media (max-width: 575.98px) {
        height:150px;
        padding-top: 30px;
    }
    .breadcrumb {
        background: none;
        text-align: center;
        display: inline-flex;
    }

}
.kss_banner_sm{
    width: 100%;
    height: 200px;
    background-size: contain !important;
    background-color: #ffeb64 !important;
    padding-top: 90px;
}
 .banner-title {
        color: $d-blue;
        font-weight: bold;
        @media (max-width: 575.98px) {
            font-size: 30px;
        }
    }