
// Home blog section

.blog-section{
	background-color: rgb(245, 245, 245);
    padding: 3em 0 5em 0;
    margin: 3em 0;
    @media (max-width: 991px){
    	padding-bottom: 3em;
    }
}


// Home blog grid

.blog-articles{
	&__recent{
		background-color: theme-color('dark');
    	color: #fff;
    	flex: 0.9;
    	padding: 0 8px;
	}
	&__featured{
		flex: 2;
    	padding-left: 8px;
	}
	.featured-section{
		&__col{
			padding: 0 8px;
		}
	}
	.post-action{
		display: none;
	}
	@media (min-width: 767px) and (max-width: 991px){
		.featured-section{
			&__col{
				margin-right: 1em;
			}
		}
	}
	@media (max-width: 991px){
		&__recent{
			border: 1px solid #cacaca;
			background-color: transparent;
			margin-top: 1em;
		}
		&__featured{
			padding-left: 0;
		}
		.featured-section{
			&__col{
				padding: 5px 0;
				margin-bottom: 1em;
			}
		}
	}
}

// Featured post

.featured-post{
	background-color: #fff;
	// box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
	padding-bottom: 5px;
	transition: all 0.3s ease;
	position: relative;
	&:hover{
		.cover-img{
			filter: brightness(110%) contrast(110%);
			opacity: 0.9;
		}
	}
	&__cover{
		position: relative;
		height: 200px;
	}
	.cover-img{
		object-fit: cover;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    opacity: 1;
	    transition: all 0.3s ease;
	}
	.post-content{
		padding: 0 15px;
		&__links{
			margin-top: 20px;
    		padding-bottom: 8px;
		}
	}
	&__title{
		font-size: 1.3em;
		font-weight: bold;
		padding: 15px 0px 0;
		color: #000;
		text-transform: capitalize;
		@extend .ellipsis-2;
	    height: 55px;
	    a{
	    	&:hover{
	    		color: #000;
	    	}
	    }
	}
	&__desc{
		font-size: 1.15em;
		color: #797979;
		margin-bottom: 0;
		line-height: 1.3;
		@extend .ellipsis-3;
	    height: 62px;
	}
	@media (max-width: 991px){
		&__cover,&__desc{
			display: none;
		}
		&__title{
			line-height: 1.3;
			margin-bottom: 15px;
		}
		.post-content{
			&__links{
				margin-top: 0;
			}
		}
	}
}


// Post tags/categories

.post-tags{
	&__title{
		margin-bottom: 0;
    	font-weight: bold;
    	padding-right: 5px;
	}
	&__data{
		a{
			color: #6d6d6d;
			span{
				display: inline-flex;
			    position: relative;
			    padding: 0 8px;
			    align-items: center;
			    text-transform: uppercase;
			    font-size: 0.875rem;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					height: 68%;
					width: 2px;
					background-color: theme-color('primary');
				}
				@media (max-width: 991px){
					font-size: 1em;
				}
			}
			&:hover{
				color: theme-color('primary');
				text-decoration: underline !important;
			}
		}
	}
}


// Featured cover post

.cover-post{
	margin-bottom: 16px;
	position: relative;
	.post-content{
		position: absolute;
	    bottom: 0;
	    color: #fff;
	    z-index: 1;
	    background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
	    width: 100%;
	    left: 0;
	    padding: 6em 15px 0 15px;
	    &__links{
	    	display: flex;
	    	margin-top: 0;
	    	padding-bottom: 0.8em;
	    }
	}
	.post-tags{
		padding-right: 1.5em;
		&__title{
			color: #e2e2e2;
		}
		&__data{
			a{
				color: #d3d3d3;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.featured-post{
		padding-bottom: 0;
		&__cover{
			height: 350px;
		}
		&__title{
			margin-bottom: 0;
			font-size: 2.5em;
			color: #fff;
			& > a{
				color: #fff;
				&:hover{
					// color: theme-color('primary');
				}
			}
		}
		&__desc{
			color: #d3d3d3;
			height: 25px;
			font-size: 1.3em;
			margin-top: 5px;
	    	margin-bottom: 10px;
	    	-webkit-line-clamp: 1;
		}
	}
	@media (max-width: 991px){
		.featured-post__cover{
			height: 250px;
			display: block;
		}
		.post-content{
			padding-top: 3em;
		}
		.featured-post__title{
			font-size: 1.6em;
    		height: auto;
    		margin-bottom: 10px;
		}
		.featured-post__desc{
			display: none;
		}
	}
}

.horizontal-card{
	.featured-post{
		display: flex;
		padding-bottom: 0;
		&__cover{
			flex: 1.2;
		}
		.post-content{
			flex: 2;
			display: flex;
    		flex-direction: column;
    		justify-content: space-evenly;
		}
	}
}



// Recent Post

.recent-post{
	&__heading{
		margin: 0 -8px 0 -8px;
	    padding: 10px;
	    background-color: theme-color('primary');
	    color: #000;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 1.3em;
	    text-align: left;
	  //   & + .recent-post__box{
			// padding-top: 20px;
	  //   }
	}
	&__box{
		margin: 0 -8px;
		min-height: 175px;
		transition: all 0.3s ease;
		& > a{
    		width: 100%;
    		display: block;
    		padding: 30px 25px 5px 25px;
    		color: #fff;
    		&:hover{
    			text-decoration: underline !important;
    		}
    	}
    	&:not(:last-child){
    		border-bottom: 1px solid #848484;
    	}
    	&:hover{
    		// background-color: darken(theme-color('dark'), 10%);
    	}
    	&:nth-child(even){
    		background-color: darken(theme-color('dark'), 10%);
    	}
	}
	&__title{
    	font-size: 1.3em;
    	line-height: 1.5;
	    height: 82px;
	    @extend .ellipsis-3;
	}
	&__date,.post-tags{
		color: #cecece;
    	padding: 0 25px 22px 25px;
	}
	.post-tags{
		a{
			color: #cecece;
			&:hover{
				color: theme-color("primary");
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991px){
		display: flex;
		flex-wrap: wrap;
		&__heading{
			flex: 1 0 100%;
		}
		&__box{
			flex: 1 0 50%;
		}
	}
	@media (max-width: 991px){
		&__heading{
			font-size: 1.15em;
		}
		&__box{
			min-height: auto;
			& > a{
				padding: 20px 25px 5px 25px;
				color: #000;
			}
			&:nth-child(even){
	    		background-color: #e4e4e4;
	    	}
	    	&:not(:last-child){
	    		border-bottom: 0;
	    	}
		}
		&__title{
			font-weight: bold;
			font-size: 1.2em;
		    line-height: 1.5;
		    height: auto;
		}
		&__date{
			padding: 0 25px 15px 25px;
			color: #000;
		}
		.post-tags{
			a{
				color: #000;
			}
		}
	}
}


// Single blog content

.single-blog{
	&__heading{
		font-size: 2em;
	}
	&__social{
		text-align: center;
		li{
			margin: 1em 0;
			.s-icon{
				font-size: 2.5em;
			}
		}
	}
}

.bl-single-heading{
	font-size: 2.8em;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.3em;
    color: #222;
    a{
    	color: #222;
    }
    @media (min-width: 768px) and (max-width: 991px){
    	margin-top: 0.8em;
    }
    @media (max-width: 767px){
    	font-size: 2em;
    }
    &--small{
		font-size: 1.5em;
		@media (max-width: 767px){
	    	font-size: 1.4em;
	    }
    }
}

.bl-single-caption{
	font-size: 1.4em;
    color: #5a5a5a;
    &--small{
    	font-size: 1.2em;
    	@media (max-width: 767px){
	    	font-size: 1.1em;
	    }
    }
}


.full-header{
	height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &__heading{
    	color: #fff;
	    position: relative;
	    z-index: 1;
	    line-height: 1.5;
	    font-size: 2.4em;
	    padding: 0 4em;
	    font-weight: 600;
    }
    &:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,0.45);
    }
}

.row-spacer{
	margin: 0.5em 0 1em 0;
}

.blog-content{
	p{
    	font-size: 1.4em;
    	line-height: 1.6;
    	color: #404040;
    	@media (max-width: 767px){
	    	font-size: 1.2em;
	    }
	}
	&--spacer{
		@media (min-width: 991px){
			padding: 0 3em 0 4em;
		}
	}
}

@media (max-width: 991px){
	.bl-single-img-wrapper{
		padding: 0;
	}
}

.sticky-col{
	position: sticky;
	top: 80px;
	z-index: 10;
}

.advertise{
	min-height: 300px;
    background-color: #ddd;
    font-weight: bold;
    font-size: 1.3em;
}

.view-all{
	text-align: center;
    margin: 0.5em 0;
    a{
		color: theme-color("secondary");
	    font-weight: 600;
	    font-size: 1.05em;
	    text-transform: uppercase;
    }
}

.sidebar-cards{
	// border: 1px solid #ddd;
    padding: 5px 0;
    &__heading{
    	margin: 0.5em 0;
    }
}


// blog homepage

// .blog-home{
// 	background-color: #f7f7f7;
//     margin-bottom: -50px;
//     padding: 30px 0 50px 0;
//     &__wrapper{
//     	// background-color: #fff;
//     }
//     &__title{
//     	font-size: 1.5em;
// 	    font-weight: bold;
// 	    margin-bottom: 0;
// 	    border-bottom: 1px solid theme-color("primary");
// 	    padding: 10px 0;
// 	    border-top: 1px solid theme-color("primary");
// 	    display: inline-block;
// 	    text-transform: uppercase;
//     }
// 	.featured-post{
// 		// box-shadow: none;
// 		display: flex;
// 		flex-direction: column;
// 		// padding-top: 1em;
// 		&__cover{
// 			order: 2;
// 			height: 300px;
// 		}
// 		&__title{
// 			font-size: 2em;
//     		line-height: 1.3;
//     		height: auto;
//     		padding: 15px 0px 10px;
//     		a{
//     			color: #000;
//     		}
// 		}
// 		&__desc{
// 			order: 3;
// 			font-size: 1.4em;
// 		    padding: 1em 1.5em;
// 		    height: 105px;
//     		line-height: 1.5;
// 		}
// 		.post-content{
// 			order: 1;
// 			padding: 0 20px;
// 			&__links{
// 				display: flex;
// 				border-bottom: 0;
// 				margin-top: 0;
// 				.post-tags{
// 					padding-right: 0.8em;
// 				}
// 			}
// 		}
// 		.post-action{
// 			order: 4;
// 			.btn{
// 				padding: 0.5rem;
//     			min-width: 130px;
//     			font-size: 1.1em;
//     			width: auto;
// 			}
// 		}
// 	}
// 	.featured-section{
// 		&__col{
// 			margin-top: 1.5em;
// 			border-bottom: 1px solid #eee;
//     		padding-bottom: 2em;
//     		& + .no-cover-post{
//     			flex-direction: column !important;
//     		}
// 		}
// 	}
// 	// Horizontal cards
// 	.h-cards{
// 		.featured-post{
// 			flex-direction: row;
// 		    padding: 0;
// 		    &__cover{
// 		    	flex: 0.9;
// 		    	height: auto;
// 		    	height: 300px;
// 		    }
// 		    .post-content{
// 		    	flex: 1.5;
//     			padding: 15px 20px;
//     			&__links{
//     				margin-bottom: 0;
// 				    flex-direction: column;
//     			}
// 		    }
// 		    .post-tags__title{
// 		    	color: #656565;
// 		    }
// 		    &__title{
// 		    	margin-bottom: 0;
// 		    }
// 		    &__desc{
// 		    	padding: 0;
// 			    font-size: 1.3em;
// 			    height: 82px;
// 			    margin-bottom: 230px;
// 		    }
// 		    .post-action{
// 		    	padding-left: 0 !important;
//     			margin-bottom: 0 !important;
// 		    }
// 		}
// 	}
// }

.border-header{
	font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: 1px solid theme-color("primary");
    padding: 10px 0;
    border-top: 1px solid theme-color("primary");
    display: inline-block;
    text-transform: uppercase;
    @media (max-width: 991px){
    	font-size: 1.4em;
    }
}

.blog-hero{
	background-color: #f5f5f5;
}

.hero-post{
	margin: 20px 0;
	.featured-section{
		display: grid;
    	grid-template-columns: 2fr 1fr;
    	grid-gap: 20px;
    	&__col{
    		margin-bottom: 0;
    	}
	}
	@media (min-width: 992px){
		.cover-post{
			.featured-post{
				height: 100%;
				&__cover{
					height: 100%;
					& > *{
						height: 100%;
					}
				}
			}
		}
		.no-cover-post{
			flex-direction: column !important;
		    display: grid !important;
		    grid-gap: 20px;
		    .featured-post{
		    	&__cover{
		    		height: 235px;
		    	}
		    	&__title{
		    		font-size: 1.4em;
				    height: 67px;
				    font-weight: 400;
				    line-height: 1.4;
				    margin-bottom: 10px;
		    	}
		    	&__desc{
		    		display: none;
		    	}
		    }
		}
	}
	@media (max-width: 991px){
		.featured-section{
			grid-template-columns: 1fr;
		}
		.no-cover-post{
			.featured-post{
				&__cover{
					display: none;
				}
				&__title{
					color: #000;
				    font-weight: bold;
				    line-height: 1.3;
				    margin-bottom: 10px;
				    font-size: 1.3em;
				}
			}
			.featured-section{
				&__col{
					&:not(:last-child){
						margin-bottom: 20px;
					}
				}
			}
			.post-content{
				position: relative;
			    background-image: none;
			    color: #000;
			    padding: 0 15px;
			}
			.post-tags{
				&__data{
					a{
						color: #6d6d6d;
					}
				}
			}
		}
	}
}

.blog-ls{
	background-color: #f5f5f5;
	margin-bottom: -4em;
    padding-bottom: 2.5em;
}

.blog-col{
	.kss-posts{
		display: flex;
		flex-direction: row-reverse;
		& > a{
			flex: 0.6;
		}
		&__content{
			padding-right: 1em;
			flex: 1.5;
		}
		&__cover{
			margin-bottom: 0 !important;
			img{
				height: 125px;
				width: 200px !important;
				margin-left: auto;
				margin-bottom: 1.5em;
			}
			&:after{
				display: none;
			}
		}
		@media (max-width: 991px){
			margin-bottom: 10px;
		}
	}
	&__wrapper{
    	padding-top: 1em;
    	margin-top: 0.5em;
		&:not(:last-child){
			border-bottom: 1px solid #ddd;
		}
	}
}

.kss-posts{
	a{
		&:hover{
			.bl-single-heading{
				text-decoration: underline;
			}
		}
	}
}



.blog-sidebar{
	// margin-top: 1.5em;
	&__header{
		// background-color: theme-color("dark");
	    padding: 0 0.8em;
	    // text-align: center;
	    color: #222;
	    text-transform: uppercase;
	    font-weight: bold;
		font-size: 1.4em;
	}
	.c-popular{
		// padding: 0 1.5em;
		&__lists{
			padding: 2em 0;
		    list-style: none;
		    background-color: #fff;
		    li{
		    	padding: 1em 0.5em;
    			border-top: 1px solid #ddd;
    			a{
    				font-size: 1.14em;
    			}
    			&:first-child{
					padding-top: 0;
					border-top: 0;
    			}
    			&:last-child{
    				padding-bottom: 0;
    			}
		    }
		}
		.kss-anchor{
			color: #222;
			&:hover{
				color: theme-color("primary");
			}
		}
		&__index{
			font-size: 1.1em;
    		font-weight: bold;
    		color: theme-color("primary");
		}
	}
}

.newsletter{
	&__content{
		padding: 1.5em 1em;
    	background-color: #fff;
	}
	&__text{
		font-size: 1.05em;
	}
    &__input{
    	flex: 1;
    }
    .subscribe-btn{
    	flex: 0.5;
    }
}

.store-adv{
	.store-banner{
		&__title{
			font-size: 1.3em;
    		text-align: center;
		}
		&__caption{
			font-size: 1.35em;
		}
		.contentWrapper{
			width: 100%;
			right: 0;
			padding-top: 38px;
			& > div{
				margin: 0 auto;
			}
		}
		.kss-btn{
			width: 180px;
		    font-size: 1.2em;
		    padding: 0.5rem 1rem;
		}
	}
}


// Other posts

.kss-posts{
	&__cover{
		position: relative;
		img{
			height: 230px;
    		object-fit: cover;
    		@media (max-width: 767px){
    			height: 200px;
    		}
		}
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(0,0,0,0.08);
		}
	}
	&:hover{
		img{
			filter: brightness(110%) contrast(110%);
    		opacity: 0.9;
		}
	}
}

.more-post-grid{
	@media (max-width: 767px){
		&:after,&:before{
			content: '';
		}
		display: grid;
	    grid-template-columns: 5px repeat(3,280px) 5px;
	    grid-gap: 20px;
	    overflow: auto;
	    & > div{
	    	padding: 0;
	    }
	}
}



.layout-2{
	@media (min-width: 992px){
		align-items: center;
		margin-top: 1em;
		.bl-single-heading{
			margin: 0.6em 0;
		}
		.bl-single-caption{
			margin-bottom: 1.5em;
		}
		img{
			height: 290px;
		    object-fit: cover;
		    width: 100%;
		}
		small{
	    	position: absolute;
		}
	}
}