.btn-lg {
	// font-size: 14px;
	font-weight: 700;
}

// .btn:disabled{
// 	background-color: $gray-500;
// 	border-color: $gray-500;
// }

  @media (max-width: 767.98px) {
	.mobile-fixed{
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  z-index: 11;
		  visibility: hidden;
		  box-shadow: 2px 1px 11px #464646;
    	  padding: 0 !important;
		  -webkit-transition: -webkit-transform 0.3s ease-out;
		  transition: -webkit-transform 0.3s ease-out;
		  transition: transform 0.3s ease-out;
		  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
		  -webkit-transform: translateY(63px);
		  transform: translateY(63px);
		  background-color: #fff;
    	.text-muted{
    		display:none;
    	}
	}
	.visible {
	    visibility: visible;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
}




@media (max-width: 767px){
	.kss-single-prod-add-to-cart{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index: 10;
	}
}

.btn{
	.btn-label-success, .btn-icon{
		display: none;
	}
	&.loading{
		.btn-label-success, .btn-label-initial{
			display: none;
		}
		.btn-icon{
			display: block;
		}
	}
	&.loaded{
		.btn-icon, .btn-label-initial{
			display: none;
		}
		.btn-label-success{
			display: block;
		}
	}
}

.btn-outline-dark{
	&:hover{
		color:white !important;
	}
}

.kss-btn{
    background-color: theme-color("primary");
    border-color: theme-color("primary");
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
    &:hover{
        background-color: darken(theme-color("primary"),15%);
        color: #212529;
    }
    &--secondary{
    	background-color: theme-color("primary");
    	border-color: theme-color("primary");
    	&:hover{
        	background-color: darken(theme-color("secondary"),15%);
    	}
    }
    &--outline-secondary{
    	background-color: transparent;
    	border-color: theme-color("secondary");
    	color: theme-color("secondary");
    	&:hover{
    		color: #fff;
		    background-color: theme-color("secondary");
		    border-color: theme-color("secondary");
    	}
    }
    &--link{
    	background-color: transparent;
    	border-color: transparent;
    	color: #707279;
    	&:hover{
    		background-color: transparent;
    		border-color: transparent;
    		color: #707279;
    		text-decoration: underline;
    	}
        &:disabled{
            &:hover{
                background-color: transparent !important;
            }
        }
    }
    &--secondary-link{
        font-size: 1.25em;
        background-color: transparent;
        border: 0;
        text-transform: inherit;
        font-weight: normal;
        color: theme-color("secondary");
        &:hover{
            background-color: transparent;
        }
    }
    &--big{
        font-size: 1.15rem;
        padding: 0.9rem 1rem;
        @media (max-width: 767px){
            font-size: 1rem;
            padding: 0.75rem 1rem;
            border-radius: 0;
        }
    }
    &--big-alternate{
    	text-transform: capitalize;
    }
    &--fab{
        position: fixed;
        bottom: 40px;
        right: 15px;
        display: block;
        width: 60px;
        height: 60px;
        background-color: theme-color("secondary");
        border-color: theme-color("secondary");
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 1.5em;
        &:hover,&:focus{
            background-color: theme-color("secondary");
            border-color: theme-color("secondary");
            outline: 0;
            color: #fff;
        }
    }
    &--small{
        width: 230px;
        font-size: 1.15rem;
        padding: 0.9rem 1rem;
        @media (max-width: 767px){
            font-size: 1rem;
            padding: 0.75rem 1rem;
            border-radius: 0;
        }
    }
    &--medium{
        font-size: 1.2em;
        width: auto;
        padding: 0.6rem 2rem;
    }
    &--mini{
        // width: 150px;
        font-size: 12px;
        padding: 4px 5px;
        @media (max-width: 767px){
            border-radius: 0;
        }
    }
    &--dark{
        background-color: #000;
        color: #fff;
        padding: 0.5em;
        border-color: #000;
        border-radius: 0;
        &:hover{
            background-color: lighten(#000, 10%);
            color: #fff;
        }
    }
    &:disabled{
        &:hover{
            background-color: theme-color("primary");
        }
    }
}

.btn-size{
	font-size: 1.15rem !important;
	@media (max-width: 767px){
        font-size: 1rem !important;
    }
}

.more-products-btn{
    background-color: transparent;
    border-color: theme-color("secondary");
    font-size: 1.1em;
    padding: 0.8em 1.2em;
    color: theme-color("secondary");
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 480px) {
        font-size: 1.05em;
    }
}