$size: 20px;
#card-list {
    @media (max-width: 575.98px) {
        // padding:10px;
        .col-lg-4 {
            padding: 8px;
        }
    }
    .product-card{
        overflow: hidden;
        .overlay{
            width:100%;
            opacity: 0;
            // background: rgba(0, 0, 0, 0.34);
            transition: all 0.5s ease;
            position: absolute;
            top: 0px;
            z-index: 1;
            height: 100%;
            @media (max-width: 767.98px) {
            display:none;
         }
        }
         .select-size{
           position: absolute;
           bottom: 0;
           width: 100%;
           z-index: 999;
           opacity: 0;
           left: 270px;
           transition: all 0.5s ease;
           padding: 10px 0px;
           border-radius: 0px;
           margin-bottom: 0px;
            .radio-wrap{
            padding: 8px 0px 0px 8px;
           text-align: center;
           .radio-label{
                min-width: auto;
                padding: 8px;
                background: #fff;
                .radio-option{
                    min-width: 52px;
                }
           }
         }
         @media (max-width: 767.98px) {
            display:none;
         }
        }
            &:hover{
            .overlay{
                opacity:9;
            }
            .select-size{
                opacity: 9;
                left: 0px;

            }
        }
    }


}
.card {
  &.product-card{
    border: 0px;
    @media (max-width: 767.98px) {
        background:none;
    }
    .card-title {
        font-weight: 400;
        font-size:1rem;
        @media (max-width: 575.98px) {
            font-size:.8rem;
        }
    }
    .card-img-top{
        border-radius: 5px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 10px 0px;
        padding: 10px 0px;
        .price {
            .text-muted {
                color: $gray-500 !important;
            }
        }
    }
    .product-card__wrapper{
        height: 380px;
        overflow: hidden;
         @media (max-width: 991px) {
            height: 240px;
            border: 1px solid #eee;
         }
    }
  }
  .placeholder-img{
    background-color: $placeholder;
    width: 100%;
    height: 100%;
  }

}
@media (max-width: 767.98px) {
    .kss_mobile-list {
        display: flex;
        overflow: scroll;
        flex-wrap: nowrap;
    }
}
.m-similar{
    margin-top:-8px;
}

.link-card{
  transition: all 0.15s ease-in;
  .link-card_text{
    color: #212529;
  }
  &:hover{
    transform: translateY(-2px);
    // box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.15);
  }
}

.productGrid{
  .product-card{
    display: flex;
    justify-content: center;
    @media (max-width: 767px){
      background-color: #fff;
    }
    &:hover{
       box-shadow: 0 0 5px rgba(6, 6, 6, 0.16);
    }
  }
}