// .kss_filter {
//     transition: all 0.15s ease;
//     .fixed-bottom {
//         display: none;
//     }
//     @media (max-width: 767px) {
//         position: fixed;
//         z-index: 9999;
//         background: #fff;
//         width: 100%;
//         height: 100%;
//         top: 0px;
//         left: 100%;
//         padding: 0;
//         overflow: hidden;
//         padding-bottom: 75px;
//     }
//     .kss_filter-list {
//         cursor: pointer;
//         border-bottom: 1px solid lighten($gray-400, 8%);
//         margin: 18px 0px;
//         .card-body {
//             padding: 1.25rem 0px;
//             .form-check {
//                 .form-check-label {
//                     font-size: 15px;
//                 }
//                 .form-check-input {
//                     margin-top: 0.4rem;
//                 }
//             }
//         }
//         .collapsed {
//             i {
//                 transform: rotate(180deg);
//             }
//         }
//         .btn-group{
//             button{
//                 box-shadow:none !important;
//             }
//         }
//         @media (max-width: 767px) {
//             padding: 0 15px;
//             margin: 5px 0px;
//             border-bottom: 0;
//             .card-body{
//                 padding-bottom: 0.5rem;
//             }
//         }
//     }
//     .custom-control-label::before {
//           background:#fff;
//           border:1px solid #c5c5c5;
//           width: 1.2rem;
//           height: 1.2rem;
//         }
//     .custom-control-label::after {
//           left: -1.55rem;
//           width: 1.3rem;
//           height: 1rem;
//     }
//     .custom-control-input{
//         width: 100%;
//         height: 100%;
//         left: 0px;
//         z-index: 1;
//         cursor: pointer;
//     }
//     label{
//         font-size: 0.9rem;
//     }
// }
// .sticky-mob-filter{
//     position: fixed;
//     width: 100%;
//     background-color: #fff;
//     z-index: 1;
//     left: 100%;
//     top: 0;
//     padding: 10px 15px 10px 15px;
//     transition: all 0.15s ease;
//     box-shadow: 0 1px 4px rgba(0,0,0,0.15);
//     .filter-head{
//         &__caption{
//             margin-bottom: 0;
//             font-size: 1.1em;
//             font-weight: 600;
//         }
//     }
// }
.sticky-space{
    display: none;
}
// @media(max-width: 767px){
//     .kss_filter_mobile {
//         left: 0px;
//         // height: calc(100vh - 50px);
//         height: 100vh;
//         padding-bottom: 0;
//         .fixed-bottom {
//             display: block;
//         }
//         .sticky-mob-filter{
//             left: 0;
//         }
//         .sticky-space{
//             display: block;
//             margin-top: 70px;
//         }
//         &--left{
//             margin-top: 52px;
//             // border-right: 1px solid lighten($gray-400, 8%);
//             // height: calc(100vh - 103px);
//             overflow-y: auto;
//             overflow-x: hidden;
//             background-color: lighten($gray-400, 12%);
//             flex-wrap: nowrap;
//             margin-bottom: 1em;
//             .nav-item{
//                 padding: 15px 20px 15px 15px;
//                 margin-right: -1px;
//                 border-right: 1px solid transparent;
//                 border-bottom: 1px solid lighten($gray-400, 8%);
//                 position: relative;
//                 &.active{
//                     border-right: 1px solid white;
//                     font-weight: bold;
//                     box-shadow: inset 4px 0 0 theme-color("primary");
//                     background-color: white;
//                 }
//                 .filter-count{
//                     position: absolute;
//                     right: 6px;
//                     top: 17px;
//                     color: theme-color("secondary")
//                 }
//             }
//         }
//         &--right{
//             flex: 1;
//             margin-top: 52px;
//             // max-height: calc(100vh - 103px);
//             overflow: auto;
//             .filter-heading{
//                 display: none;
//             }
//             .custom-control{
//                 border-bottom: 1px solid lighten($gray-400, 8%);
//                 padding-bottom: 12px;
//                 &:last-child{
//                     border-bottom-color: transparent;
//                 }
//             }
//         }
//     }
// }
@media(min-width: 768px){
    .kss_filter_mobile--left{
        display: none;
    }
}
.fixed-bottom {
    line-height: 60px;
    background-color: #ffffff;
    box-shadow: -1px 0px 22px #666;
    z-index: $zindex-sticky;
    h5 {
        color: $d-blue;
    }
    .b-r {
        border-right: 1px solid #ccc;
        height: 58px;
    }
}
@media (max-width: 767.98px) {
    .modal.show .modal-dialog {
        transform: translate(0, 0);
        max-width: 100%;
    }

}

  // @media (max-width: 767.98px) {
  //  .kss_filter_mobile {
  //  .footer-filter {
  //       display:block !important;
  //   }
  //  }
  // }

//   .custom-control-input:disabled~.custom-control-label {
//     color: #a4a4a4;
// }

// .color-filter{
//     .color-box{
//         width: 15px;
//         height: 15px;
//         display: inline-block;
//         border: 1px solid #eee;
//     }
// }

// .more-color{
//     display: none;
// }

// .color-wrapper{
//     @media (min-width: 768px){
//         .card-body{
//             height: 243px;
//             overflow: hidden;
//             &.is-open{
//                 height: auto;
//             }
//         }
//         .more-color{
//             display: block;
//             color: #004283;
//             font-weight: 600;
//             cursor: pointer;
//             padding-bottom: 10px;
//             padding-left: 34px;
//             font-size: 1.05em;
//         }
//     }
// }

// .list-sort{
//     .modal-header{
//         border-bottom: 0;
//         padding: 0.8rem 1rem;
//     }
//     &__element{
//         li{
//             border-top: 1px solid #f2f2f2;
//             padding: 0 10px;
//             border-radius: 0 !important;
//             border-bottom: 0;
//             font-size: 1.1em;
//              &.is-active{
//                 box-shadow: inset 4px 0px 0px theme-color("primary");
//                 a{
//                     color: theme-color("primary");
//                 }
//             }
//             &:first-child{
//                 border-top: 0;
//             }
//             &:hover{
//                 z-index: inherit;
//             }
//         }
//         a{
//             color: #707279;
//         }
//     }
// }
