body {
	padding-top: 45px;
	@media (min-width: 992px){
		padding-top: 54px; 
	}
}
.header {
    background-color: theme-color("dark");
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    a {
        color: white;
    }
}
.recent-search {
    a {
        color: #000 !important;
    }
}
.navbar-toggler {
    padding: 0.15rem 0.45rem;
}
.cart-counter {
    position: absolute;
    top: 20px;
    right: 2px;
}

@media(max-width: 320px) {
    .header {
        ul {
            .list-inline-item {
                margin-right: .1rem;
            }
        }
        img {
            width: 144px;
        }
    }
}

