nav{
	&.navbar{
		z-index: 20;
	}
}

/* Menu Container */
.megamenu{
	padding-left: 20px;
	&-link{
		padding: 2px 0px;
	}
	.nav {
		>li {
			display: block;
			float: left;
			>a {
				position: relative;
				display: block;
				padding: 0 20px;
				line-height: 54px;
				font-weight: bold;
				color: #fcfcfc;
				transition: all .3s ease;
			}
			>div {
				position: absolute;
				display: flex;
				width: 100%;
				top: 54px;
				left: 0;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				background: $gray-800;
				border-radius: 0 0 3px 3px;
				transition: all .15s ease;
				max-width: 1000px;
			}
			&:hover {
				background-color: $gray-800;
				>div {
					opacity: 1;
					visibility: visible;
					overflow: visible;
				}
			}
		}
		.nav-column {
			float: left;
			width: 25%;
			padding: 2.5%;
			&--heading {
				line-height: 18px;
				font-weight: bold;
				font-size: 14px;
				color: theme-color("primary");
				text-transform: uppercase;
			}
			> ul{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			li {
				a {
					display: block;
					line-height: 28px;
					font-weight: bold;
					font-size: 13px;
					color: white;
					&:hover{
						color: darken(#fcfcfc, 15%);
					}
				}
			}
		}

		@media(max-width: 991px){
			>li{
				float:none;
				width: 100%;
				>div {
					position: static;
					display: block;
					opacity: 1;
					visibility: visible;
					background-color: transparent;
				}
			}
			.nav-column{
				float: none;
				width: 100%;
				padding: 0 2.5%;
				&:first-child{
					padding-top: 2.5%;
				}
				&--heading{
			    	color: theme-color("primary");
			    	padding-left: 10px;
			    	padding-top: 20px;
			    }
				li{
					border-bottom: 1px solid lighten($gray-800, 4%);
					.megamenu-link{
						color: white;
						padding: 5px 10px;
						line-height: 30px;
					}
				}
			}
		}
	}
}

@media(max-width: 991px){
	.megamenu{
		position: fixed;
		height: 100vh;
		width: 100vw;
		left: 0;
		top: 0;
		// padding-top: 50px;
		background-color: $gray-800;
		z-index: 20;
		transform: translateX(-100vw);
		transition: transform 0.1s ease-out;
		padding-left: 0;
		&.active{
			transform: translateX(0);
		}
		&--left{
		    // border-right: 1px solid lighten($gray-400, 8%);
		    height: calc(100vh - 61px);
		    overflow-y: auto;
		    overflow-x: hidden;
		    background-color: lighten($gray-800, 12%);
		    flex-wrap: nowrap;
		    .nav-item{
		        padding: 15px 20px 15px 15px;
		        margin-right: -1px;
		        border-right: 1px solid transparent;
		        border-bottom: 1px solid lighten($gray-800, 8%);
		        position: relative;
		        color: white;
		        &.active{
		            border-right: 1px solid $gray-800;
		            font-weight: bold;
		            box-shadow: inset 4px 0 0 theme-color("primary");
		            background-color: $gray-800;
		        }
		    }
		}
		&--right{
		    flex: 1;
		    max-height: calc(100vh - 61px);
		    overflow: auto;
		}
	}
}

.menu-toggle{
	color: white;
	font-size: 1.2rem;
}