
.color-custom-radio{
	top: initial;
    right: -3px;
    bottom: 0px;
}

.colorOptions{
	&__trigger{
		.down-arrow{
			@include transition(all .5s ease);
			transform: rotate(180deg);
		}
		&.collapsed{
			.down-arrow{
				transform: rotate(0deg);
			}
		}
	}
	.product-color{
		input{
			&:checked{
				& + label{
					opacity: 1;
				}
			}
		}
		label{
			opacity: 1;
		}
	}
}

.variant-img-wrapper{
	height: 64px;
    // overflow: hidden;
    img{
    	height: 100%;
    	width: 100%;
    	object-fit: cover;
    	// border-radius:3px;
    }
}

.variant-placeholder{
	img{
		background-color: $placeholder;
    	padding: 0 5px;
    	object-fit: contain;
    }
}

.address-block{
	.radio-selection{
    	width: 25px;
    	.fas{
    		position: relative;
    		left: 5px;
    	}
	}
	.kss-title{
		min-height: 35px;
		font-size: 1.1rem;
	}
	.product-delete{
		.delete{
			height: 31px;
    		width: 34px;
    		margin: 0;
		}
	}
}

.review-section{
	.kss-title{
		min-height: auto;
	}
}

.colorOptions__trigger{
    border: 1px solid #e2e6e9;
    padding: 5px 10px 5px 0;
      @media (min-width: 320px) and (max-width: 767.98px) {
          width:100%;
          position:relative;
          i{
          	position: absolute;
   		    right: 10px;
          }
      }
    p{
    margin-right:5px;
    }
}

// Custom styling for select

.custom-select-drop{
	select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-right: 15px;
		&:focus,&:active{
			border: 0;
			outline: 0;
		}
		// Weird dotted border in Mozilla
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		// IE blue background when selected fix
		&:focus::-ms-value {
			background-color: transparent;
			color: #000;
		}
	}
	&:after{
		content: "";
		display: inline-block;
		position: absolute;
    	top: 50%;
    	right: 15px;
    	width: 0;
	    height: 0;
	    border-top: .3em solid;
	    border-right: .3em solid transparent;
	    border-bottom: 0;
	    border-left: .3em solid transparent;
	}
}

// Order details titles/labels

.order-details{
	.kss-title{
		font-size: 1.1rem;
	}
	label{
    	font-size: .9rem;
	}
}

//productlist loader
.pl-loader{
	height: calc(100vh - 60px);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 60px;
    left: 0;
    // @media (max-width: 767px){
    // 	height: calc(100vh - 90px);
    // }
}

// about us
.kss-care{
	@media (min-width: 768px){
		margin-bottom: -65px;
	}
}

.footer-link-separator{
	margin-left: -0.5em;
	li{
		padding: 0 0.5em;
		margin-bottom: 0.7em;
		border-right: 1px solid #b1b1b1;
		&:last-child{
			border-right: 0;
		}
	}
}

// Similar products

.similar-products{
	&__col{
		max-width: 20%;
		flex-basis: 20%;
		@media (max-width: 767px){
			max-width: 50%;
			flex-basis: 50%;
		}
	}
}

/* ----------- iPhone X ----------- */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 812px)
 and (-webkit-min-device-pixel-ratio: 3) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}


.custom-padding{
	padding-bottom: 30px !important;
	@media (max-width: 767px){
		padding-bottom: 100px !important;
	}
}

.mt-i-1{
	@media (max-width: 340px){
		margin-top: 5px;
	}
}

.out-of-stock{
	color: rgba(10, 0, 0, 0.63);
    font-size: 1.7em;
    @media (max-width: 767px){
    	font-size: 1.5em;
    	text-align: center;
    	padding: 10px;
    }
    &--list{
    	font-size: 1.05em;
    }
}

.hidden-footer-section.collapse:not(.show){
	@media (min-width: 768px){
		display: block;
	}
}

.footer-more{
	color: #000;
	&:hover,&:focus,&:active{
		color: #000;
		outline: 0;
	}
	.icon-down{
		transform: rotate(180deg);
		transition: transform 0.5s ease;
	}
	&.collapsed{
		.icon-down{
			transform: rotate(0deg);
		}
	}
}


.expandSearch{
	@media (min-width: 768px){
		position: absolute;
    	right: 15px;
    	top: 0;
	}
	&.no-sort{
		top: -18px;
		right: 0;
	}
    &.showSearch{
    	.custom-expand-search{
    		width: 230px;
    		padding-right: 30px;
    	}
    	.clear-search{
			position: absolute;
		    right: 38px;
		    color: #c1c1c1;
		    font-size: 1.1em;
		    cursor: pointer;
		}
    }
    .clear-search{
    	
    }
    .custom-expand-search{
    	/*transition: all 0.5s ease;*/
	    width: 0;
	    // margin-right: 5px;
    }
    .search-trigger{
    	.search-path{
    		fill: #000;
    	}
    }
    @media (max-width: 767px){
		&.showSearch{
    		.custom-expand-search{
    			width: 200px;
    		}
    	}
    }
    @media (max-width: 420px){
    	&.showSearch{
    		.custom-expand-search{
    			width: 150px;
    		}
    	}
    	.custom-expand-search{
    		padding-top: 0;
    	}
    	svg{
    		width: 80%;
    	}
    }
    @media (max-width: 320px){
    	&.showSearch{
    		.custom-expand-search{
    			width: 120px;
    		}
    	}
    }
    @media (max-width: 767px){
    	display: none !important;
    }
}

