
.color-custom-radio{
	top: initial;
    right: -3px;
    bottom: 0px;
}

// Start comment PWA
.colorOptions{
	&__trigger{
		.down-arrow{
			@include transition(all .5s ease);
			transform: rotate(180deg);
		}
		&.collapsed{
			.down-arrow{
				transform: rotate(0deg);
			}
		}
	}
	.product-color{
		input{
			&:checked{
				& + label{
					opacity: 1;
				}
			}
		}
		label{
			opacity: 1;
		}
	}
}

.variant-img-wrapper{
	height: 64px;
    // overflow: hidden;
    img{
    	height: 100%;
    	width: 100%;
    	object-fit: cover;
    	// border-radius:3px;
    }
}

// End comment PWA

.variant-placeholder{
	img{
		background-color: $placeholder;
    	padding: 0 5px;
    	object-fit: contain;
    }
}

// .address-block{
// 	.radio-selection{
//     	width: 25px;
//     	.fas{
//     		position: relative;
//     		left: 5px;
//     	}
// 	}
// 	.kss-title{
// 		min-height: 35px;
// 		font-size: 1.1rem;
// 	}
// 	.product-delete{
// 		.delete{
// 			height: 31px;
//     		width: 34px;
//     		margin: 0;
// 		}
// 	}
// }

.review-section{
	.kss-title{
		min-height: auto;
	}
}

.colorOptions__trigger{
    border: 1px solid #e2e6e9;
    padding: 5px 10px 5px 0;
      @media (min-width: 320px) and (max-width: 767.98px) {
          width:100%;
          position:relative;
          i{
          	position: absolute;
   		    right: 10px;
          }
      }
    p{
    margin-right:5px;
    }
}

// Custom styling for select

.custom-select-drop{
	select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-right: 15px;
		&:focus,&:active{
			border: 0;
			outline: 0;
		}
		// Weird dotted border in Mozilla
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		// IE blue background when selected fix
		&:focus::-ms-value {
			background-color: transparent;
			color: #000;
		}
	}
	&:after{
		content: "";
		display: inline-block;
		position: absolute;
    	top: 50%;
    	right: 15px;
    	width: 0;
	    height: 0;
	    border-top: .3em solid;
	    border-right: .3em solid transparent;
	    border-bottom: 0;
	    border-left: .3em solid transparent;
	}
}

// Order details titles/labels

.order-details{
	.kss-title{
		font-size: 1.1rem;
	}
	label{
    	font-size: .9rem;
	}
}

//productlist loader
.pl-loader{
	height: calc(100vh - 60px);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 60px;
    left: 0;
    // @media (max-width: 767px){
    // 	height: calc(100vh - 90px);
    // }
}

.prod_load{
	background-color: #fff;
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.30);
    position: absolute;
    top: 10em;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    z-index: 10;
	.fas{
		color: theme-color('primary');
		font-size: 1.9em;
		@media (max-width: 767px){
			font-size: 1.8em;
		}
	}
}

// about us
.kss-care{
	@media (min-width: 768px){
		margin-bottom: -65px;
	}
}

.footer-link-separator{
	margin-left: -0.5em;
	li{
		padding: 0 0.5em;
		margin-bottom: 0.7em;
		border-right: 1px solid #b1b1b1;
		&:last-child{
			border-right: 0;
		}
	}
}

// Similar products

.similar-products{
	&__col{
		max-width: 20%;
		flex-basis: 20%;
		@media (max-width: 767px){
			max-width: 50%;
			flex-basis: 50%;
		}
	}
}

/* ----------- iPhone X ----------- */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 812px)
 and (-webkit-min-device-pixel-ratio: 3) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2) {
 	html,body{
 	-webkit-overflow-scrolling : touch !important;
 	height: 100%  !important;
 	overflow: auto !important;
 	}
}


.custom-padding{
	padding-bottom: 30px !important;
	@media (max-width: 767px){
		padding-bottom: 100px !important;
	}
}

.mt-i-1{
	@media (max-width: 340px){
		margin-top: 5px;
	}
}

.out-of-stock{
	color: rgba(10, 0, 0, 0.63);
    // font-size: 1.7em;
    // @media (max-width: 767px){
    // 	font-size: 1.5em;
    // 	text-align: center;
    // 	padding: 10px;
    // }
    &--list{
    	font-size: 1.05em;
    }
}

.hidden-footer-section.collapse:not(.show){
	@media (min-width: 768px){
		display: block;
	}
}

// .footer-more{
// 	color: #000;
// 	&:hover,&:focus,&:active{
// 		color: #000;
// 		outline: 0;
// 	}
// 	.icon-down{
// 		transform: rotate(180deg);
// 		transition: transform 0.5s ease;
// 		font-size: 1.1em;
// 	}
// 	&.collapsed{
// 		.icon-down{
// 			transform: rotate(0deg);
// 		}
// 	}
// 	@media (max-width: 320px){
// 		font-size: 0.93em;
// 	}
// }

// @media (max-width: 600px){
// 	.hidden-footer-section{
// 		border-top: 1px solid #c3c3c3;
// 	}
// }


.expandSearch{
	@media (min-width: 768px){
		position: absolute;
    	right: 15px;
    	top: 0;
	}
	&.no-sort{
		top: -18px;
		right: 0;
	}
    &.showSearch{
    	.custom-expand-search{
    		width: 230px;
    		padding-right: 30px;
    	}
    	.clear-search{
			position: absolute;
		    right: 38px;
		    color: #c1c1c1;
		    font-size: 1.1em;
		    cursor: pointer;
		}
    }
    .clear-search{

    }
    .custom-expand-search{
    	/*transition: all 0.5s ease;*/
	    width: 0;
	    // margin-right: 5px;
    }
    .search-trigger{
    	.search-path{
    		fill: #000;
    	}
    }
    @media (max-width: 767px){
		&.showSearch{
    		.custom-expand-search{
    			width: 200px;
    		}
    	}
    }
    @media (max-width: 420px){
    	&.showSearch{
    		.custom-expand-search{
    			width: 150px;
    		}
    	}
    	.custom-expand-search{
    		padding-top: 0;
    	}
    	svg{
    		width: 80%;
    	}
    }
    @media (max-width: 320px){
    	&.showSearch{
    		.custom-expand-search{
    			width: 120px;
    		}
    	}
    }
    @media (max-width: 767px){
    	display: none !important;
    }
}


// // Footer social icon

.social-wrap{
    li{
		&:not(:last-child){
	        border-right: 1px solid #b1b1b1;
	        padding-right: 0.8rem;
	    }
	    @media (min-width: 768px) and (max-width: 992px){
	    	&:last-child{
				// margin-top: 0.8em;
	    	}
	    }
	    @media (max-width: 320px){
	    	&:last-child{
				// margin-top: 0.8em;
	    	}
	    }
    }
}

// .socialIcon-size{
//     font-size: 1.6em;
//     &.wa{
//         font-size: 1.8em;
//     }
// }

// .social-title{
//     margin-left: 5px;
//     margin-bottom: 0;
//     font-size: 1.1em;
// }

// .account-nav{
// 	&__username{
// 		font-size: 1.4em;
// 	}
// 	.list-group-item{
// 		display: flex;
//     	align-items: center;
//     	justify-content: space-between;
// 		&:hover{
// 			background-color: #fbfbfb;
// 			color: #000;
// 			font-weight: bold;
// 		}
// 	}
// 	&__icons{
// 		font-size: 1.6em;
// 		min-width: 25px;
// 	}
// 	.nav-icon{
// 		background-image: url('../img/account-sprite.png');
// 	    height: 40px;
// 	    width: 40px;
// 	    display: inline-block;
// 	    background-size: cover;
// 	    background-position: -46px 0px;
// 	    &.i-profile{
// 	    	background-position: -93px 0px;
// 	    }
// 	    &.i-address{
// 	    	background-position: 0 0px;
// 	    }
// 	}
// 	.nav-title{
// 		font-size: 1.1em;
// 		padding-left: 0.5em;
// 	}
// 	.arrow-right{
// 		font-size: 1.3em;
// 	}
// }

.store-jp-offer{
	& + .container-fluid{
		background-color: transparent !important;
	}
	img{
		transition: all 0.3s ease;
		&:hover{
			box-shadow: none !important;
		}
	}
}

// Activities landing page

.rules{
	.group-body{
		@media (min-width: 768px){
			font-size: 1.05rem;
		}
	}
}

.check-terms{
	.custom-control-label{
		&:before{
			background-color: #fff;
			border: 1px solid #828181;
		    width: 1.5rem;
		    height: 1.5rem;
		}
		&:after{
			width: 1.5rem;
		}
		@media (max-width: 600px){
			&:before{
				width: 1.3rem;
		    	height: 1.3rem;
			}
			&:after{
				width: 1.4rem;
    			height: 1.2rem;
			}
		}
	}
	label{
		font-size: 1.15rem;
		@media (max-width: 600px){
			font-size: 1rem !important;
		}
	}
	.terms-accepted-btn{
		width: 150px;
	}
}

// Gender landing page
.sublanding-container{
	// @media(min-width: 992px){
	// 	padding-left: 35px;
 //    	padding-right: 35px;
	// }
	@media(max-width: 600px){
		.img-hero{
			padding: 0;
		}
	}
	.card-img-top{
		transition: all 0.3s;
		&:hover{
			transform: translateY(-3px);
		}
	}
}

.gender{
	&__name{
		font-size: 1.5em;
	}
	&__years{
		font-size: 1.5em;
	}
	.kss-btn--dark{
		max-width: 200px;
		font-size: 1.4em;
        font-weight: 400;
	}
	@media (max-width: 991px){
		&__years{
			font-size: 1.3em;
		}
		.kss-btn--dark{
			font-size: 1.3em;
		}
    }
    @media (max-width: 767px){
    	.kss-btn--dark{
    		position: absolute;
    		top: -70px;
    		z-index: 1;
    		padding: 0.8em;
    	}
    	&:not(.m-heading){
    		.gender__name,.gender__years{
    			display: none;
    		}
    	}
    	&.m-heading{
    		background-color: #cecece;
    		padding-top: 0.5em;
    		padding-bottom: 0.5em;
    		.gender__name{
    			font-size: 1.7em;
    			margin-top: 10px;
    			color: #131313 !important;
    		}
    		.gender__years{
    			display: inline-block;
			    color: #000 !important;
			    font-weight: bold;
    		}
    	}
    }
}

@media (min-width: 768px){
	.m-heading{
		margin-top: -1em;
    	margin-bottom: 2em;
    	.gender__name{
    		font-size: 2em;
    		color: #000 !important;
    		display: inline-block;
    		position: relative;
    		padding: 5px 5em;
    		&:before{
    			content: '';
    			position: absolute;
			    top: 45%;
			    width: 100%;
    			left: 0;
    			border: 4px double #9a9a9a;
    			border-left: 0;
    			border-right: 0;
    		}
    		span{
    			background-color: #fff;
			    position: relative;
			    padding: 10px;
    		}
    	}
	}
	.img-hero{
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}



.product-group{
	border-bottom: 2px solid #d4d4d4;
	&__col{
		flex: 1 0 33.33%;
		min-height: 200px;
    	display: flex;
    	align-items: center;
    	padding: 0 5px;
    	@media (min-width: 992px){
    		min-width: 156px;
    	}
	}
	@media (max-width: 600px){
		overflow: auto;
	    display: grid !important;
	    grid-gap: 20px;
	    grid-template-columns: 5px repeat(3,calc(60% - 40px)) 5px;
	}
	&:after,&:before{
		content: '';
	}
}

// Mobile footer padding for sticky btns
@media (max-width: 767px){
	.sticky_btn_bottom{
		padding-bottom: 5.5em !important;
		& + .hidden-footer-section{
			padding-bottom: 5em;
			margin-top: -5em;
		}
	}
}

@media (max-width: 767px){
	.shadow-layer{
		padding: 10px !important;
		.cd-add-to-cart{
			padding: 0.6rem 1rem;
		}
	}
}


// Landingpage no product UI
.no-match{
	background-color: rgba(247, 247, 247, 0.78);
    box-shadow: 0 0 5px rgb(236, 8, 8);
    &__msg{
    	font-size: 1.1em;
    	line-height: 1.3;
    }
}

.cd-add-to-cart{
	.btn-contents{
		display: flex;
	}
}

.jaipur-col{
	.lSSlideOuter .lSSlideWrapper{
		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.18);
		}
	}
	.lSPager{
		li{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.18);
			}
		}
	}
}

// Single related search links
.related-search{
	li{
		&:first-child{
			a{
				margin-left: 0;
			}
		}
	}
	a{
	    text-transform: uppercase;
	    font-weight: bold;
	    color: #000;
	    font-size: 1.05rem;
	    border-bottom: 2px solid theme-color('primary');
	    margin: 0 1.5rem;
	}
	&.stories-links{
		a{
			border-color: theme-color("secondary");
		}
	}
	@media (max-width: 767px){
		flex-direction: column;
		border-bottom: 1px solid #ddd;
		&:not(.stories-links){
			border-top: 1px solid #ddd;
		}
		li{
			width: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		}
		a{
			border-bottom: 0;
			font-size: 0.85rem;
			margin: 0;
			display: flex;
		    align-items: center;
		    justify-content: space-between;
		    width: 100%;
    		padding: 0.8rem 0;
		}
	}
}	