<!-- If valid Coupon -->
<div *ngIf="applicablePromotions.length" class="coupon-valid">
	<h6 class="font-weight-bold my-3 coupon-title">Available coupons</h6>
	<div *ngFor="let coupon of applicablePromotions; let last = last" clas
	="radio-wrap d-flex kss_sizes wo-image mb-4">
		<app-promotion [coupon]="coupon" [orderTotal]="orderTotal" [appliedCoupon]="appliedCoupon" [applicable]=true> </app-promotion>
		<hr *ngIf="!last">
	</div>
	<br><br>	
</div>

<!-- Invalid Coupon -->
<div *ngIf="nonApplicablePromotions.length" class="coupon-invalid">
	<h6 *ngIf="applicablePromotions.length" class="font-weight-bold my-3 coupon-title text-black-50">Coupons not valid for this order</h6>
	<h6 *ngIf="!applicablePromotions.length" class="font-weight-bold my-3 coupon-title text-black-50">Currently no coupons are eligible on your order. Please add more items to the bag to be eligible for the coupons below.</h6>	
	<div *ngFor="let coupon of nonApplicablePromotions; let last = last" clas
	="radio-wrap d-flex kss_sizes wo-image mb-4">
		<app-promotion [coupon]="coupon" [orderTotal]="orderTotal" [applicable]=false> </app-promotion>
		<hr *ngIf="!last">
	</div>
</div>