<section class="mt-5 mb-3 d-md-none">
	<div class="container">
		<div class="mobile-products mobile-overflow d-sm-flex align-items-sm-center justify-content-sm-center label-box-small row">
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
			<div class="label-box img-holder position-relative">
				<a href="#" class="d-block text-black">

				<!-- Offers section -->
					<img class="d-block w-100 img-fluid img-holder"
					src="https://test.stage.kidsuperstore.in/NOV/static_elements/2922/default/1x/category_box_large-default-234.jpeg"
					/>

				</a>
			</div>	
		</div>
	</div>
</section>
