<div *ngIf="payment_info">
	<label class="">Payment Information</label>

	<!-- Payment Info/Mode -->

	<div class="card shadow-sm">
	    <div class="card-body text-muted d-flex">
	       Payment Mode:<i class="mr-1 ml-1" [ngClass]="payment_info.payment_mode == 'MAST' ? 'icon-master-card' : (payment_info.payment_mode == 'VISA' ? 'icon-visa' : (payment_info.payment_mode == 'rupay' ? 'icon-rupay' : 'far fa-credit-card no-card'))" ></i> <strong>ending in {{getSubstr(payment_info.card_num)}}</strong>
	    </div>
	</div>	
</div>
