<div class="container-fluid mt-5 py-5" style="margin-bottom:-50px; background-color: #f6f6f6;">
    <h2 class="font-weight-bold pt-2 pb-5 text-center">Why Visit Us?</h2>
  
    <div class="container">
  
      <div class="row">
        <div class="col-sm-6">
          <div class="accordion collapse-style-2" id="whyvisit">
            <div class="card border-0">
              <div class="card-header border-0" id="touchfeel">
                <div class="h4 font-weight-bold mb-0 cursor-pointer" data-toggle="collapse" data-target="#collapseTouch" aria-expanded="true" aria-controls="collapseTouch">
                  Touch And Feel The Products
                </div>
              </div>

              <div id="collapseTouch" class="collapse show" aria-labelledby="touchfeel" data-parent="#whyvisit">
                <div class="card-body h5">
                  Lack of touch-feel-try creates concerns over the quality of the product on offer. At our stores you can feel and try the products you want thus giving you more confidence in the purchase you make.
                </div>
              </div>
            </div>

            <div class="card border-0">
              <div class="card-header border-0" id="experience">
                <div class="h4 font-weight-bold mb-0 cursor-pointer collapsed" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
                  Superior Shopping Experience
                </div>
              </div>
              <div id="collapseExperience" class="collapse" aria-labelledby="experience" data-parent="#whyvisit">
                <div class="card-body h5">
                  You can try a variety of styles and combinations and see which one suits you firsthand. Plus our team is always there to help you select the best style and fit.
                </div>
              </div>
            </div>

            <div class="card border-0">
              <div class="card-header border-0" id="discounts">
                <div class="h4 font-weight-bold mb-0 cursor-pointer collapsed" data-toggle="collapse" data-target="#collapseDiscounts" aria-expanded="false" aria-controls="collapseDiscounts">
                  Great Discounts At Our Stores
                </div>
              </div>
              <div id="collapseDiscounts" class="collapse" aria-labelledby="discounts" data-parent="#whyvisit">
                <div class="card-body h5">
                  We have attractive discounts which are only available in-store. We offer the irresistible deals and discounts for almost every product on our store.
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-sm-6">
          <img class="img-fluid"
              src="{{cdnUrl}}assets/img/kss_why.png"
              title="Why KSS"
              alt="Why KSS"/>
        </div>
      </div>

  </div>
</div>