<div *ngIf="shipping_address">
	<label class="mt-2">Shipping Address</label>
	<div class="card shadow-sm">
	  <div class="card-body p-3">
	     <h3 class="kss-title font-weight-bold text-muted">{{shipping_address.name}}</h3>
	     <p class="text-muted mb-2">
	        {{shipping_address.address}},
	        <span *ngIf="shipping_address.landmark">{{shipping_address.landmark}},</span>
	        {{shipping_address.city}}, {{shipping_address.state}} {{shipping_address.pincode}}
	     </p>
	     <p class="text-muted mb-0">
	        Mobile: <b class="font-weight-bold">+91 {{shipping_address.phone}}</b>
	     </p>
	  </div>
	</div>
</div>