
.gender-cat{
	&__name{
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		font-size: 1.08rem;
	}
	&__year{
		font-size: 1.05rem;
    	color: #909090;
	}
	@include bp(mobile) {
		&__name,&__year {
			font-size: 1rem;
			margin-bottom: 0.1rem;
		}
	}
}