<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
	<div class="d-flex align-items-center w-100">
		<div class="d-flex align-items-center justify-content-center">
			<a>
				<img src="{{cdnUrl}}img/logo-kss.png" xpreview="/img/logo-kss.png" class=" img-fluid m-0 slide-nav-logo" width="180px">
		 	</a>
		 	<div class="secure-lock-wrapper pl-2 ml-2 border-left">
		 		<img src="{{cdnUrl}}img/secure-lock.png" class="img-fluid" alt="Secure Checkout" title="Secure Checkout" width="100">
		 	</div>
		</div>
		<div class="ml-auto align-self-center">
			<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeCart()"><span aria-hidden="true">&times;</span></h3>
		</div>
	</div>
</nav>