<div *ngIf="banner.element_data.text.text1" class="text-center p-2 top-offer kss-extension" [ngStyle]="{'background-color' : banner.element_data.bg_color ? banner.element_data.bg_color : ''}" attr.static_element-id="{{banner.sequence}}" static_element-display_type="New offer" attr.static_element-type="{{banner.type}}" page_slug="home">
	<a href="{{banner.element_data.link}}" [ngStyle]="{'color' : banner.element_data.text_color ? banner.element_data.text_color : ''}">
 		<!-- <strong>Flat 50% OFF</strong> on selected merchandise. <strong>Shop Now</strong> -->
 		<strong>{{banner.element_data.text.text1}}</strong>
 	</a>
</div>