<div class="row center" >

	<div class="col-12 order-2 col-sm-12 col-md-12 order-sm-1 px-0 item">
		<div class="loader"></div>
		<!-- If no image, class = "slider-placeholder-img" -->
		<ul id="aniimated-thumbnials" class="list-unstyled m-0 mb-3 mb-sm-0 m-lg-2 prod-slides carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>

			<li class="carousel-cell">
				<!-- <img data-flickity-lazyload-src="transparent img"
					class="carousel-image"
					data-flickity-lazyload-srcset="image_1x 1x, image_2x 2x, image_3x 3x"
					alt="alt text"
					title="title"> -->

				<img class="carousel-image flickity-lazyloaded"
					alt="Girls casual woven short"
					title="Girls casual woven short"
					src="https://www.kidsuperstore.in/images/products/62951/thumb/1x/shorts-1018-color-blush-1.jpg"
					srcset="https://www.kidsuperstore.in/images/products/62951/main/1x/shorts-1018-color-blush-1.jpg 1x,
							https://www.kidsuperstore.in/images/products/62951/main/2x/shorts-1018-color-blush-1.jpg 2x,
							https://www.kidsuperstore.in/images/products/62951/main/3x/shorts-1018-color-blush-1.jpg 3x">
			</li>

			<!-- If no image -->
			<!-- <li class="mb-3 w-100">
				<img src="img/placeholder.svg" class="lazyload" alt="No image" title="No image">
			</li> -->

		</ul>
	</div>
</div>