<div class="row center" >

	<div class="col-12 order-2 col-sm-12 col-md-12 order-sm-1 px-0 item">
		<div class="loader"></div>
		<!-- If no image, class = "slider-placeholder-img" -->
		<ul id="aniimated-thumbnials" class="list-unstyled m-0 mb-3 mb-sm-0 m-lg-2 prod-slides carousel">

			<ng-container *ngIf="images.length != 0; else noImage" (onload)="initSlider()">
				<li class="carousel-cell" *ngFor="let image of images">
					<img class="carousel-image"
						alt="Girls casual woven short"
						title="Girls casual woven short"
						src="image.thumb['1x']"
						srcset="{{image.main['1x']}} 1x,
								{{image.main['2x']}} 2x,
								{{image.main['3x']}} 3x">
				</li>
			</ng-container>

			<!-- If no image -->
			<ng-template #noImage>
				<li *ngIf="" class="mb-3 w-100">
					<img src="img/placeholder.svg" class="lazyload" alt="No image" title="No image">
				</li>
			</ng-template>

		</ul>
	</div>
</div>