<div class="week-theme text-center col-block kss-extension" attr.static_element-id="{{theme.sequence}}" static_element-display_type="Theme of the Week" attr.static_element-type="{{theme.type}}" page_slug="home">
	<a href="javascript:void(0)" (click)="navigateTo(theme.element_data.image.href)" class="d-block">
		<picture>
		  	<source media="(min-width: 992px)"
				  [attr.defaultImage]="'/assets/img/transparent.png'"
				  [attr.lazyLoad]="createDataSrcSet(theme.images.landscape['2x'], '1200w', theme.images.landscape['1x'], '600w')"
		          sizes="(min-width:1200px) 570px, 48vw">

		  	<source media="(max-width: 991px)"
		  		  [attr.defaultImage]="'/assets/img/transparent.png'"
				  [attr.lazyLoad]="createDataSrcSet(theme.images.portrait['2x'], '700w', theme.images.portrait['1x'], '400w')"
		          sizes="100vw">

		    <img
    			[offset]=500
    			[defaultImage]="'/assets/img/transparent.png'"
    			[lazyLoad]="theme.images.portrait['1x']"
    		  	class="img-fluid w-100 img-holder"
    		    alt="{{theme.element_data.image.img_alt}}"
    		    title="{{theme.element_data.image.title}}">
		</picture>
		<span class="d-lg-block d-none week-theme__text text-uppercase explore-text">+Explore</span>
	</a>
</div>
