<div *ngIf="cart" class="angular-app h-100">
	<div class="cart-step1-header">
		<app-navbar (closeCartTrigger)="closeCart()"> </app-navbar>
	</div>
	<div class="d-flex pt-2">
		<!-- <div class="pr-3 align-items-center">
			<h3 class="modal-title font-weight-bold" >
            	<img (click)="closeCart()" class="btn-pay btn-back kss_highlight" src="/img/close-icon.png" style="width:22px;position: relative;top: 2px;"/>
          	</h3>
		</div> -->
	  	<div class="align-items-center w-100">
	  		<div class="d-flex justify-content-between">
				<h3 class="modal-title font-weight-bold mt-1 mb-0">
					Bag <span class="text-muted "> <strong *ngIf="cart.items">&#183;</strong></span>
					<small *ngIf="cart.items" class="count text-muted ">{{cart.cart_count || 0}} <span *ngIf="(cart.cart_count !==undefined && (cart.cart_count >1 || cart.cart_count == 0)) || cart.cart_count===undefined">items</span> <span *ngIf="cart.cart_count && cart.cart_count == 1">item</span>
					</small>
				</h3>
				<!-- <div>
					<img src="/img/secure-ssl.png" class="img-fluid" alt="100% Secure" title="100% Secure">
				</div> -->
			</div>
	  	</div>
<!-- 	  	<div class="ml-auto align-self-center">
	 	 	<button class="btn btn-outline-secondary mt-1" >
                <i class="far fa-heart"></i> Wishlist
            </button>
	  	</div> -->
	</div>

	<hr class="mb-0">
	<!-- <div class="alert kss_highlight" role="alert">
	<a  id="delivery-pincode"  data-toggle="modal" data-target="#modal_pincode">
	  <strong><i class="kss_marker"></i></strong> Enter Pincode To Delivery
	  <button type="button" class="close" >
	    <label aria-hidden="true" class="kss-link kss_highlight">Check</label>
	  </button>
	</a>
	</div> -->
	<div *ngIf="addToCartFailed" class="kss-flash kss-flash--error">
	 	{{addToCartFailureMessage}}
	</div>
	 <div *ngIf="cartItemOutOfStock" class="kss-flash kss-flash--error">
	 	It looks like some of the items in your bag are out of stock. Please edit your bag items to checkout.
	</div>
	<div *ngIf="!cartItemOutOfStock && cart.cart_type == 'order' && !addToCartFailed" class="kss-flash kss-flash--info">
	 	Hey! It looks like you were interrupted during your last checkout process. You can continue from where you left off.
	</div>
	<div *ngIf="!cartItemOutOfStock && isCartTypeFailure" class="kss-flash kss-flash--error">
	 	Due to the high volume of orders, your current order could not be processed. Please try placing your order again.
	</div>

	<hr *ngIf="cartItemOutOfStock || (!cartItemOutOfStock && cart.cart_type == 'order' && !addToCartFailed) || (!cartItemOutOfStock && isCartTypeFailure) || addToCartFailed" class="m-0" />

	<div *ngIf="cart.items && cart.items.length">
		<ul class="cd-cart-items">
			<li *ngFor="let item of cart.items" [ngClass]="{'out-of-stock': !item.availability}">
				<div class="primary-info d-flex">
					<div class="product-img">
						<a href="{{item.href}}" [ngClass]="{'variant-placeholder' : item.attributes.images[0]=='/img/placeholder.svg'}">
							<!-- <div class="img" style="background-image: url('/img/4front.jpg');"></div> -->
							<img src="{{item.attributes.images[0]}}" class="lazyload img-fit" data-srcset="{{item.attributes.images[0]}} 50w, {{item.attributes.images[1]}} 100w, {{item.attributes.images[2]}} 150w" sizes="50px">
						</a>
					</div>
					<div class="product-detail">
						<a href="{{item.href}}" class="kss-link kss_highlight">
							<label class="m-0 text-capitalize kss_highlight">
							{{ item.attributes.title }}
						</label>
						</a>
						<div class="product-size text-muted ">
							<div class="d-flex flex-row align-items-center py-1">
							  <div class="size-qty align-self-center">
							  	<label class="m-0">Size:</label>
							  </div>
							  <div class="pl-2 pr-4 align-self-center">
							  	{{item.attributes.size}}
<!-- 							  	<select class="size form-control form-control-sm br-0  border-dark custom" [(ngModel)]="item.attributes.size" (ngModelChange)="modifyCart(item)">
										<option *ngFor="let option of item.related_items.size">{{option.value}}</option>
								</select> -->
							  </div>
							  <div class="qty align-self-center mt-0">
							  	<label class="m-0">Qty:</label>
							  </div>
							  <div class="pl-2">
							  	{{item.quantity}}
<!-- 								<select class="size form-control form-control-sm br-0  border-dark custom" [(ngModel)]="item.quantity" (ngModelChange)="modifyCart(item)">
										<option [ngValue]=1>1</option>
										<option [ngValue]=2>2</option>
										<option [ngValue]=3>3</option>
										<option [ngValue]=4>4</option>
								</select> -->
							  </div>
							</div>

							<div class="product-price" *ngIf="item.availability">
								<div class="kss-price kss-price--smaller">₹{{item.attributes.price_final}} 	  	<small *ngIf="item.attributes.price_final != item.attributes.price_mrp" 		class="kss-original-price text-muted">₹{{item.attributes.price_mrp}}
								  </small>
								  <span class="kss-discount text-danger">{{item.off_percentage}}</span>
								</div>
							</div>

							<div *ngIf="item.available_quantity">
								<ul *ngFor="let array of item.available_quantity" class="product-price px-3 mt-2">
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.warehouse}}
										</li>
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.location}}
										</li>
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.quantity}}
										</li>
										<hr>
								</ul>
							</div>

							<div class="product-price" *ngIf="!item.availability">
								<div class="kss-price kss-price--smaller text-danger-dark">Out of Stock</div>
							</div>
						</div>

					</div>

					<div *ngIf="cart.cart_type =='cart'" class="product-delete ml-2" title="Remove" (click)="deleteItem(item)">
						<a  class="cd-item-remove delete d-block text-center">
							<i class="far fa-trash-alt"></i>
						</a>
					</div>
				</div>
			</li>
		</ul>

		<!-- Promotion summary -->
		<div *ngIf="promotions && promotions.length && (displayPromo || cart.promo_applied )" class="cart-promotion mt-4">
			<h4 class="mb-2 font-weight-bold">Promotion Summary</h4>
			<app-applied-coupon [promoApplied]="cart.promo_applied" [promotions]="promotions"> </app-applied-coupon>
			<div *ngIf="cart.promo_applied">
				<app-better-promo-available [promoApplied]="cart.promo_applied" [promotions]="promotions" [orderTotal]="cart.summary.sale_price_total"></app-better-promo-available>
			</div>
			<app-upgrade-cart [promotions]="promotions" [orderTotal]="cart.summary.sale_price_total" (noUpgradePromo)="displayPromo = false"> </app-upgrade-cart>
			<hr>
		</div>

		<div *ngIf="coupons && coupons.length" class="cart-promotion mt-4" [ngClass]="{'d-none' : cart.cart_type == 'order' && !cart.applied_coupon}">
			<h4 class="mb-2 font-weight-bold">Coupon Summary</h4>
			<div *ngIf="cart.applied_coupon">
				<app-applied-coupon [promoApplied]="cart.applied_coupon" [promotions]="coupons" [orderTotal]="cart.summary.sale_price_total" [cartType]="cart.cart_type" (editCouponTrigger)="displayCouponSideBar()"> </app-applied-coupon>
			</div>
			<div *ngIf="!cart.applied_coupon" class="kss-flash kss-flash--info mb-3 cursor-pointer" (click)="displayCouponSideBar()">
				<div class="d-flex align-items-center justify-content-between py-1">
					<div class="pr-4">
						<h5 class="f-w-4 text-muted m-0"><i class="fas fa-ticket-alt pr-1"></i> Apply Code</h5>
					</div>
					<div class="ml-auto">
						<h5 class="m-0"><i class="fas fa-angle-right"></i></h5>
					</div>
				</div>
			</div>
			<hr>
		</div>


<!-- 		<div *ngIf="promotions && promotions.length">
			<app-promotions-list  [promotionsList]="promotions" [orderTotal]="cart.summary.sale_price_total"></app-promotions-list>
		</div> -->

		<!-- <div class="row no-gutters">
			<div class="col-7">
	   <div class="form-group m-0">
	            <input class="form-control form-control-lg br-1" id="name" type="text" placeholder="Enter Promo Code">

	  </div>
			</div>
			<div class="col-1">
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-lg btn-primary"> Apply Code</button>
			</div>
		</div> -->
<!-- 		<div class="alert alert-light p-3 m-3 ">
			<div id="kss_coupon" class="d-flex" (click)="enterCoupon = true">
				<div>
					<h5 class="f-w-4 text-muted m-0"><i class="fas fa-ticket-alt"></i>  Apply Code</h5>
				</div>
				<div class="ml-auto">
					<h5 class="m-0"><i class="fas fa-angle-right"></i></h5>
				</div>
			</div>
		</div> -->
		<!-- <hr> -->
		<div class="cart-summary final-summary mt-4">
			<h4 class="mb-2 font-weight-bold">Bag Summary</h4>
			<app-bag-summary [summary]="cart.summary"></app-bag-summary>
		</div>
		<hr class="dashed">
		<hr class="dashed d-none">
		<div class="cd-cart-total mt-4">
			<h5 class="font-weight-bold">Bag Total <span>₹{{cart.summary.you_pay}}</span></h5>
			<p *ngIf="cart.summary.shipping == 0" class="sub-text mb-3">Free Shipping</p>
		</div>

		<hr class="mt-0 mb-2">
		<div class="d-flex align-items-center py-3 mb-4">
			<img src="/img/shield.png" class="img-fluid" width="40" alt="100% Secure Payments" title="100% Secure Payments">
			<div class="pl-2 genuinity">
				<p class="mb-1">Genuine products. 7 day returns.</p>
				<p class="my-1">100% Secure payments.</p>
			</div>
		</div>

		<div class="seperator mb-5"></div>
		<!-- <div class="seperator mb-3"></div> -->

		<div id="kss_cart" class="p-3 fixed-bottom fixed-checkout-btn d-flex align-items-center justify-content-between">
				<!-- <div class="d-flex align-items-center mb-2">
					<img src="/img/shield.png" class="img-fluid" width="25" alt="100% Secure Payments" title="100% Secure Payments">
					<div class="pl-2 genuinity">
						<p class="mb-1">Genuine products. 7 day returns.</p>
						<p class="my-1">100% Secure payments.</p>
					</div>
				</div>
				<div class="align-items-center d-flex justify-content-between w-100"> -->
					<button *ngIf="cart.cart_type =='order'" id="checkout" class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="editBag()" >Edit Bag</button>
					<button  id="checkout" class="btn kss-btn kss-btn--big mt-0" [ngClass]="{'disabled' : cartItemOutOfStock}" (click)="checkLoginStatus()" >Secure Checkout</button>
				<!-- </div> -->

		</div>
	</div>

	<div *ngIf="cart.items && cart.items.length == 0" class="empty-cart text-center d-flex align-items-center justify-content-center flex-column">
		<img src="/img/empty-cart-icon.png" class="img-fluid pt-2 cart-bag-img" width="150">
		<h5 class="pt-2 pt-sm-4 pb-2 mb-0" style="line-height: 1.5;">There is nothing in your <br>bag.</h5>
		<div class="mb-2 mb-sm-3 mb-sm-0">
			<button class="btn kss-btn kss-btn--secondary-link btn-pay" (click)="shopNow()">
				Let's do some shopping <i class="fas fa-chevron-right"></i>
			</button>
		</div>
		<ul class="d-flex flex-wrap d-sm-inline-block helper-links list-inline mt-sm-1 mb-0 mb-sm-2">
			<li class="py-3 col-6 col-sm-12">
				<a href="/boys/junior-7-14-years--toddler-2-7-years/" class="font-weight-bold">Shop Boys</a>
			</li>
			<li class="py-3 col-6 col-sm-12">
				<a href="/girls/junior-7-14-years--toddler-2-7-years/" class="font-weight-bold">Shop Girls</a>
			</li>
			<li class="py-3 col-6 col-sm-12">
				<a href="/infant-0-2-years/" class="font-weight-bold">Shop Infants</a>
			</li>
			<li class="py-3 col-6 col-sm-12">
				<a href="/shoes/" class="font-weight-bold">Shop Shoes</a>
			</li>
		</ul>
		<div class="border-top mb-3 mb-sm-0 pt-2 pt-sm-3 text-center w-100">
			<a href="javascript:void(0);" class="btn text-secondary pb-0 pr-0 order-details-btn" (click)="viewOrders()">View all My Orders <i class="fas fa-chevron-right"></i></a>
		</div>
	</div>

	<!-- No connection -->

	<div *ngIf="fetchCartFailed" class="empty-cart text-center d-flex align-items-center justify-content-center flex-column">
		<img src="/img/bag-bg.png" class="image-fluid" width="80">
		<h4 class="py-4 mb-0 text-muted">Oops! Unable to view your bag. <br> Please reload the page and try again</h4>
		<button class="btn kss-btn kss-btn--big btn-pay d-inline-flex align-items-center justify-content-center" style="min-width: 130px;" (click)="reloadPage()">
			Retry Again
		</button>
	</div>

</div>

<div class="slide-out pb-4 px-3" id="cd-coupon" [ngClass]="{'slide-show' : enterCoupon}">
	<div class="cart-step1-header">
		<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
			<div class="d-flex align-items-center w-100 px-2 pt-2">
				<div class="d-flex align-items-center justify-content-center">
					<a>
						<img src="/img/logo-kss.png" xpreview="/img/logo-kss.png" class=" img-fluid m-0 slide-nav-logo" width="180px">
				 	</a>
				 	<div class="secure-lock-wrapper pl-2 ml-2 border-left">
				 		<img src="/img/secure-lock.png" class="img-fluid" alt="Secure Checkout" title="Secure Checkout" width="100">
				 	</div>
				</div>
				<div class="ml-auto align-self-center">
					<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeCart()"><span aria-hidden="true">&times;</span></h3>
				</div>
			</div>
		</nav>
	</div>
	<div *ngIf="enterCoupon" class="">
		<div class="d-flex pt-2 ">
			<div class="pr-3 align-items-center">
				<h3 class="modal-title font-weight-bold">
					<img (click)="hideCouponSideBar()" class="btn-back kss_highlight cd-coupon-apply" src="/img/left-arrow.png"  style="width:20px;"/>
				</h3>
			</div>
			<div class="align-items-center">
				<h3 class="modal-title font-weight-bold mt-1 mb-0">
					Apply Coupon
				</h3>
			</div>
		</div>
		<hr class="mb-0"/>
		<div class="">
			<!-- <h4 class="mb-1 mt-4 font-weight-bold">
				Have a coupon code?
			</h4>
			<div class="form-group">
				<input class="form-control form-control-lg" id="frm-coupon" type="text"/>
				<label class="control-label">
					Enter coupon code
				</label>
			</div> -->
			<div *ngIf="couponErrorMessage" class="kss-flash kss-flash--error">
			 	{{couponErrorMessage}}
			</div>
			<div *ngIf="coupons && coupons.length" class="coupon-wrapper">
				<!-- <div class="text-center">
					<strong class="h5 font-weight-bold">OR</strong>
				</div> -->
				<app-promotions-list  [promotionsList]="coupons" [orderTotal]="cart.summary.sale_price_total" [appliedCoupon]="cart.applied_coupon"></app-promotions-list>
			</div>
			<div class="d-block pl-3 pr-3 coupon-sticky" [ngClass]="{'fixed-bottom' : enterCoupon}">
				<div class="py-2 pr-3 d-flex align-items-center">
					<button class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="hideCouponSideBar()">Cancel</button>
					<button class=" btn kss-btn kss-btn--big mt-1 mb-1" data-price="869" (click)="applyCoupon()" [ngClass]="{'disabled' : !couponCode}">
						<div class="btn-label-initial">
							Apply
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<app-shipping-details *ngIf="openShippingAddress" (openShippingSummary)="openShippingSummary=true"></app-shipping-details>
<app-shipping-summary *ngIf="openShippingSummary"></app-shipping-summary>