<div id="cd-shadow-layer"></div>

<div id="cd-cart" class="default-flyout-open">
	<!-- shipping-summary -->
	<div class="kss_shipping_summary slide-out custom-padding" [ngClass]="{'slide-show' : widgetOpen}">
		<div class="scroll-container">
			<app-navbar (closeCartTrigger)="closeCart()"> </app-navbar>
			<div *ngIf="shippingDetails && !showVerifyCod">

				<div class="mb-5 py-3 px-4 padding-size">
					<div class="row no-gutter">
						<!-- <div class="col-1">
			             <h3 class="m-0 font-weight-bold back-to-cart">
			               <img (click)="navigateBack()" class="btn-back kss_highlight" src="/img/left-arrow.png" style="width:20px;">
			             </h3>
			           </div> -->
						<div class="col-8">
							<h3 class="modal-title font-weight-bold" id="exampleModalLabel">Order Summary</h3>
						</div>
						<div class="col-4 text-right">
							<h6 class="text-muted mt-2">STEP: 2 / 2</h6>
						</div>
					</div>
					<hr>

					<!-- <div class="alert alert-success mb-3" role="alert">
					  <b><i class="fas fa-truck"></i> Standard Delivery</b> (Free delivery)
					</div> -->
					<h4 class="mb-1 font-weight-bold">Order Items</h4>

					<ul class="cd-cart-items list-unstyled mt-2 pt-2 cart-summary-items mb-1">
					  <li class="p-0 pb-3 mb-3" *ngFor="let item of shippingDetails.items">
					    <div class="primary-info d-flex">
					      <div class="product-img">
					      	<a href="{{item.href}}" [ngClass]="{'variant-placeholder' : item.attributes.images[0]=='/img/placeholder.svg'}">
					      		<!-- <div class="img" style="background-image: url('/img/thumbnail/6front@thumb.jpg');"></div> -->
					      		<img src="{{item.attributes.images[0]}}" class="lazyload img-fit" data-srcset="{{item.attributes.images[0]}} 50w, {{item.attributes.images[1]}} 100w, {{item.attributes.images[2]}} 150w" sizes="50px">
					      	</a>

					      </div>
					      <div class="product-detail">
					      	<a href="{{item.href}}" class="d-inline-flex section-title text-black">
						        <label class="m-0 cursor-pointer text-capitalize kss_highlight">
						          {{item.attributes.title}}
						        </label>
						    </a>
					        	<div class="d-flex flex-row align-items-center py-1">
								  <div class="size-qty align-self-center">
								  	<label class="m-0">Size:</label>
								  </div>
								  <div class="pl-2 pr-4 align-self-center">
								  	{{item.attributes.size}}
								  </div>
								  <div class="qty align-self-center mt-0">
								  	<label class="m-0">Qty:</label>
								  </div>
								  <div class="pl-2">
								  	{{item.quantity}}
								  </div>
								</div>
					       <!--  <div class="product-size text-muted ">
					         <p class="sub-text mt-3">Estimated Delivery <b class="text-dark">23 Aug 2018</b></p>
					        </div> -->
					      </div>
					    </div>
					  </li>
					</ul>

					<hr class="mt-0 w-shadow">

					<div class="cart-summary final-summary mt-4">
					  <h4 class="mb-1 font-weight-bold">Price Summary</h4>
					  <p class="sub-text mb-3">Includes GST and all government taxes</p>
					  <app-bag-summary [summary]="shippingDetails.summary"></app-bag-summary>
					</div>


					<hr class="dashed">
					<div class="cd-cart-total">
					  <h5 class="font-weight-bold">Total Payable<span>₹{{shippingDetails.summary.you_pay}}</span></h5>
					</div>
					<h5 *ngIf="shippingDetails.summary.mrp_total + shippingDetails.summary.shipping_fee - shippingDetails.summary.you_pay != 0 " class="font-weight-bold text-success line-height-5">Your total savings on this order ₹{{roundOff(shippingDetails.summary.mrp_total + shippingDetails.summary.shipping_fee - shippingDetails.summary.you_pay)}}</h5>
					<hr class="dashed">
					<div class="align-items-center d-flex py-2">
						<img src="/img/shield.png" class="img-fluid" width="30" alt="100% Secure Payments" title="100% Secure Payments">
						<div class="pl-2 genuinity">
							<p class="mb-1">Genuine products. 7 day returns.</p>
							<p class="my-1">100% Secure payments.</p>
						</div>
					</div>

					<hr class="mb-2 w-shadow">

					<div>
						<h4 class="mb-1 font-weight-bold mt-4">Deliver To</h4>
						<label class="w-100 text-left mb-0">
							<div class="d-flex align-items-start address-block review-section mb-5">
								<div class="text-left flex-fill">
									<h6 class="font-weight-bold d-flex align-items-center w-100 mb-2 mt-2">{{shippingDetails.address.name}}
									<!-- <i class="fas fa-pencil-alt number-edit cursor-pointer ml-2 mt-1" (click)="editShippingAddress()"></i> --></h6>
									<p class="h6 line-height-5">
										{{shippingDetails.address.address}}, {{shippingDetails.address.city}}, {{shippingDetails.address.state}} {{shippingDetails.address.pincode}}
									</p>
									<p class="h6 my-2">
										Mobile: <b class="font-weight-bold">{{shippingDetails.address.phone}}</b>
									</p>
									<p *ngIf="userEmail" class="h6 mt-4 mb-0">
										Order Tracking emails will be sent to : <br> <b class="font-weight-bold">{{userEmail}}</b>
										<i class="fas fa-pencil-alt number-edit cursor-pointer ml-2 mt-1" (click)="editUserInfo()"></i>
									</p>
								</div>
							</div>
						</label>
					</div>

				</div>

				<div *ngIf="!showUserInfoModal" class="fixed-bottom d-show pl-3 pr-3">
				  	<div class="row no-gutters py-2">
				      	<div class="col-12 text-center">
				          	<button type="button" class=" btn kss-btn kss-btn--big mt-1 mb-1 d-flex align-items-center justify-content-center" data-target="#payment-modal" data-toggle="modal" (click)="openPaymentModal()">
					          	<span>Continue to Payment
				          		</span>
				          	</button>
				      	</div>
				  	</div>
				</div>

				<div class="modal fade payment-modal" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h6 class="modal-title font-weight-bold">
				        	<span [ngClass]="{'text-danger' : showSelectPaymentError}">
				        		Select Payment Method
				        	</span>
				        </h6>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePaymentModal()">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
						<!-- Select Payment mode -->
						<div [ngClass]="{'shake' : shakePaymentModal}">
							<div *ngFor="let option of paymentOptions" class="radio-wrap d-flex wo-image mb-0">
								<!-- Selection Radio -->
								<input class="d-none radio-input" type="radio" name="kss-payment-option" id="{{option}}" [value]="option" [(ngModel)]="selectedPaymentOption" (change)="updatePaymentOption()" />
								<!-- Coupon box -->
								<label class="radio-label radio-label--simple mb-2 w-100 d-flex" for="{{option}}">
									<div class="pr-2">
										<div class="radio-selection position-relative">
											<i class="far fa-circle"></i>
										</div>
									</div>
									<div class="flex-1">
										<div>
											<div class="d-flex justify-content-between align-items-center">
												<div *ngIf="option == 'cod'" class="font-weight-bold selection_label">Cash On Delivery</div>
												<div *ngIf="option == 'payu'" class="font-weight-bold selection_label align-items-center d-flex">Pay via Card/Bank/UPI/Wallet</div>
											</div>
										</div>
									</div>
								</label>
							</div>
						</div>
						<!-- Select Payment mode -->
				      </div>
				      <div class="modal-footer add-bag-btn">
		      	          <button id="payment-details" type="button" class=" btn kss-btn kss-btn--big mt-1 mb-1 d-flex align-items-center justify-content-center" (click)="navigateToPaymentPage()">
		      		          	<span *ngIf="!selectedPaymentOption">Select mode of Payment
		      	          		</span>
		      	          		<span *ngIf="selectedPaymentOption == 'payu'" class="d-flex align-items-center">Pay ₹{{shippingDetails.summary.you_pay}} via  <img src="/img/pay-u-icon.png" class="ml-2" width="50"> <i class="fas fa-angle-right position-absolute r-0 mt-i-1"></i>
		      	          		</span>
		      	          		<span *ngIf="selectedPaymentOption == 'cod'" class="d-flex align-items-center">Pay ₹{{shippingDetails.summary.you_pay}} via COD <i class="fas fa-angle-right position-absolute r-0 mt-i-1"></i>
		      	          		</span>
		      	          </button>
				      </div>
				    </div>
				  </div>
				</div>

				<app-edit-user-popup [user_info]="shippingDetails.user_info" [showCancelButton]="showCancelButton" [showMobileNumber]=false (showPayButton)="showUserInfoModal = false" (pop_up_closed)="updateEmail()"></app-edit-user-popup>
			</div>

			<app-verify-cod *ngIf="showVerifyCod" [shippingDetails]="shippingDetails" (hideVerifyCOD)="hideVerifyCOD()"></app-verify-cod>

		</div>
	</div>
</div>