<div class="alert mb-4 mt-2" [ngClass]="{'alert-warning' : status == 'success' || status == 'cod',  'alert-danger' : status == 'failure'}">	
	<ng-container *ngIf="status == 'success' || status == 'cod'">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
		<div>
			<h4 class="font-weight-bold text-success mb-3"><i class="fas fa-check-circle"></i> Order Confirmed</h4>
			<h4 class="font-weight-bold"> Thank you for shopping at kidsuperstore.in</h4>
			<p>Your order has been placed and is being processed, When the item are shipped you will receive an email with the details </p>
			Easily track all Kidsuperstore Orders!
		</div>

		<iframe *ngIf="trackBackUrl" src="{{trackBackUrl}}" height="1" width="1" frameborder="0"></iframe>

		<iframe *ngIf="iframeSrc" [src]="iframeSrc" height="1" width="1" frameborder="0"></iframe>

		<!-- Trade tracker iframe -->
		<iframe [src]="tradeTrackerIFrame" height="1" width="1" frameborder="0"></iframe>

	</ng-container>

	<ng-container *ngIf="status == 'failure'">
		<button class="btn btn-primary retry-pay-btn" (click)="openCart()">Retry Payment</button>
		<div>
			<h4 class="font-weight-bold failed-title"><i class="fas fa-times-circle"></i> Payment Failed</h4>
			<p class="mb-2 pt-3 pt-md-0">We could not process your payment. This could be due to the following reasons :</p>
			1. The CVV or Expiry Date might be wrong<br>
			2. Your bank network might be down<br>
			3. You have cancelled the transaction
		</div>
	</ng-container>
</div>