<!-- Selection Radio -->
<input class="d-none radio-input coupon-radio" type="radio" name="kss-coupon" id="coupon-{{coupon.coupon_code}}" [value]="coupon.coupon_code" [(ngModel)]="selectedCoupon" (change)="couponChanged()"/>
<!-- Coupon box -->
<label class="coupon-box radio-label w-100 d-flex" for="coupon-{{coupon.coupon_code}}">
	<div class="pr-2">
		<div class="radio-selection position-relative">
			<i class="fas fa-check-circle"></i>
		</div>
	</div>
	<div>
		<div>
			<div class="font-weight-bold coupon-box__code">{{coupon.display_title}}</div>
			<span class="coupon-box__desc custom-size">{{coupon.description}}</span>
		</div>
		<div class="my-1">
			<div class="font-weight-bold coupon-box__saving custom-size">
				You save: <span class="text-success">Rs.{{coupon.actual_discount}}</span>
			</div>
		</div>
		<div class="coupon-box__validity custom-size">
			valid till <strong>{{getValidTill(coupon.valid_till)}}</strong>
		</div>
	</div>
</label>