<!-- <div id="cd-shadow-layer"></div> -->

<div *ngIf="cart" class="angular-app h-100">
	<div class="d-flex ">
		<div class="pr-3 align-items-center">
			<h3 class="modal-title font-weight-bold" >
            	<img (click)="closeCart()" class="btn-pay btn-back kss_highlight" src="/img/close-icon.png" style="width:22px;position: relative;top: 2px;"/>
          	</h3>
		</div>
	  	<div class="align-items-center">
			<h3 class="modal-title font-weight-bold mt-1 mb-0">
				Bag <span class="text-muted "> <strong *ngIf="cart.items">&#183;</strong></span>
				<small *ngIf="cart.items" class="count text-muted ">{{cart.cart_count || 0}} <span *ngIf="(cart.cart_count !==undefined && (cart.cart_count >1 || cart.cart_count == 0)) || cart.cart_count===undefined">items</span> <span *ngIf="cart.cart_count && cart.cart_count == 1">item</span>
				</small>
			</h3>
	  	</div>
<!-- 	  	<div class="ml-auto align-self-center">
	 	 	<button class="btn btn-outline-secondary mt-1" >
                <i class="far fa-heart"></i> Wishlist
            </button>
	  	</div> -->
	</div>

	<hr class="mb-0">
	<!-- <div class="alert kss_highlight" role="alert">
	<a  id="delivery-pincode"  data-toggle="modal" data-target="#modal_pincode">
	  <strong><i class="kss_marker"></i></strong> Enter Pincode To Delivery
	  <button type="button" class="close" >
	    <label aria-hidden="true" class="kss-link kss_highlight">Check</label>
	  </button>
	</a>
	</div> -->

	 <div *ngIf="cartItemOutOfStock" class="kss-flash kss-flash--info">
	 	It looks like some of the items in your bag are out of stock. Please edit your bag items to checkout.
	</div>
	<div *ngIf="!cartItemOutOfStock && cart.cart_type == 'order'" class="kss-flash kss-flash--info">
	 	Hey! It looks like you were interrupted during your last checkout process. You can continue from where you left off.
	</div>

	<hr *ngIf="!cartItemOutOfStock && cart.cart_type == 'order'" class="m-0" />

	<div *ngIf="cart.items && cart.items.length">
		<ul class="cd-cart-items">
			<li *ngFor="let item of cart.items" [ngClass]="{'out-of-stock': !item.availability}">
				<div class="primary-info d-flex">
					<div class="product-img">
						<a href="{{item.href}}" [ngClass]="{'variant-placeholder' : item.attributes.images[0]=='/img/placeholder.svg'}">
							<!-- <div class="img" style="background-image: url('/img/4front.jpg');"></div> -->
							<img src="{{item.attributes.images[0]}}" class="lazyload img-fit" data-srcset="{{item.attributes.images[0]}} 50w, {{item.attributes.images[1]}} 100w, {{item.attributes.images[2]}} 150w" sizes="50px">
						</a>
					</div>
					<div class="product-detail">
						<a href="{{item.href}}" class="kss-link kss_highlight">
							<label class="m-0 text-capitalize">
							{{ item.attributes.title }}
						</label>
						</a>
						<div class="product-size text-muted ">
							<div class="d-flex flex-row align-items-center py-1">
							  <div class="size-qty align-self-center">
							  	<label class="m-0">Size:</label>
							  </div>
							  <div class="pl-2 pr-4 align-self-center">
							  	{{item.attributes.size}}
<!-- 							  	<select class="size form-control form-control-sm br-0  border-dark custom" [(ngModel)]="item.attributes.size" (ngModelChange)="modifyCart(item)">
										<option *ngFor="let option of item.related_items.size">{{option.value}}</option>
								</select> -->
							  </div>
							  <div class="qty align-self-center mt-0">
							  	<label class="m-0">Qty:</label>
							  </div>
							  <div class="pl-2">
							  	{{item.quantity}}
<!-- 								<select class="size form-control form-control-sm br-0  border-dark custom" [(ngModel)]="item.quantity" (ngModelChange)="modifyCart(item)">
										<option [ngValue]=1>1</option>
										<option [ngValue]=2>2</option>
										<option [ngValue]=3>3</option>
										<option [ngValue]=4>4</option>
								</select> -->
							  </div>
							</div>

							<div class="product-price" *ngIf="item.availability">
								<div class="kss-price kss-price--smaller">₹{{item.attributes.price_final}} 	  	<small *ngIf="item.attributes.price_final != item.attributes.price_mrp" 		class="kss-original-price text-muted">₹{{item.attributes.price_mrp}}
								  </small>
								  <span class="kss-discount text-danger">{{item.off_percentage}}</span>
								</div>
							</div>

							<div *ngIf="item.available_quantity">
								<ul *ngFor="let array of item.available_quantity" class="product-price px-3 mt-2">
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.warehouse}} 
										</li>
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.location}}
										</li>
										<li class="px-0 py-1" style="list-style: disc;border-bottom: 0;">
											{{array.quantity}}
										</li>
										<hr>
								</ul>
							</div>

							<div class="product-price" *ngIf="!item.availability">
								<div class="kss-price kss-price--smaller text-danger-dark">Out of Stock</div>
							</div>
						</div>

					</div>

					<div *ngIf="cart.cart_type =='cart'" class="product-delete ml-2" title="Remove" (click)="deleteItem(item)">
						<a  class="cd-item-remove delete d-block text-center">
							<i class="far fa-trash-alt"></i>
						</a>
					</div>
				</div>
			</li>
		</ul>

		<!-- <div class="row no-gutters">
			<div class="col-7">
	   <div class="form-group m-0">
	            <input class="form-control form-control-lg br-1" id="name" type="text" placeholder="Enter Promo Code">

	  </div>
			</div>
			<div class="col-1">
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-lg btn-primary"> Apply Code</button>
			</div>
		</div> -->
<!-- 		<div class="alert alert-light p-3 m-3 ">
			<div id="kss_coupon" class="d-flex" (click)="enterCoupon = true">
				<div>
					<h5 class="f-w-4 text-muted m-0"><i class="fas fa-ticket-alt"></i>  Apply Code</h5>
				</div>
				<div class="ml-auto">
					<h5 class="m-0"><i class="fas fa-angle-right"></i></h5>
				</div>
			</div>
		</div> -->
		<!-- <hr> -->
<!-- 		<div class="cart-summary mt-4">
			<h4 class="mb-1 font-weight-bold">Price Summary</h4>
			<p class="sub-text mb-3">Includes GST and all government taxes</p>

			<div class="d-flex justify-content-between py-1">
				<div><label class="text-muted f-w-4 m-0">Cart Total</label></div>
				<div> ₹{{cart.summary.total}} </div>
			</div>
			<div class="d-flex justify-content-between py-1">
				<div><label class="text-muted f-w-4 m-0">Cart Discount</label></div>
				<div class="text-success">- ₹{{cart.summary.discount}}</div>
			</div>
			<div class="d-flex justify-content-between py-1">
				<div><label class="text-muted f-w-4 m-0">Estimated Tax</label></div>
				<div>₹{{cart.summary.tax}}</div>
			</div>
			<div class="d-flex justify-content-between py-1">
				<div><label class="text-muted f-w-4 m-0">Coupon Discount</label></div>
				<div class="text-success">- ₹{{cart.summary.coupon}}</div>
			</div>
		</div>
		<hr class="dashed"> -->
		<hr class="dashed d-none">
		<div class="cd-cart-total mt-4">
			<h5 class="font-weight-bold">Bag Total <span>₹{{cart.summary.order_total}}</span></h5>
			<p class="sub-text mb-3">Shipping charges will be added at checkout</p>
		</div>

		<div class="seperator mb-5"></div>

		<div id="kss_cart" class="p-3 fixed-bottom d-flex align-items-center justify-content-between">
			<button *ngIf="cart.cart_type =='order'" id="checkout" class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="editBag()" >Edit Bag</button>
			<button  id="checkout" class="btn kss-btn kss-btn--big mt-0" [ngClass]="{'disabled' : cartItemOutOfStock}" (click)="modalHandler()" >Checkout</button>
		</div>
	</div>	

	<div *ngIf="cart.items && cart.items.length == 0" class="empty-cart text-center d-flex align-items-center justify-content-center flex-column">
		<i class="fas fa-shopping-cart empty-cart__icon"></i>
		<h4 class="py-4 mb-0">Your bag is currently empty</h4>
		<button class="btn kss-btn kss-btn--big btn-pay d-inline-flex align-items-center justify-content-center" (click)="shopNow()" style="min-width: 130px;">
			Shop now
		</button>
	</div>

	<!-- No connection -->

	<div *ngIf="fetchCartFailed" class="empty-cart text-center d-flex align-items-center justify-content-center flex-column">
		<img src="/img/bag-bg.png" class="image-fluid" width="80">
		<h4 class="py-4 mb-0 text-muted">Oops! Unable to view your bag. <br> Please reload the page and try again</h4>
		<button class="btn kss-btn kss--btn-big btn-pay d-inline-flex align-items-center justify-content-center" style="min-width: 130px;" (click)="reloadPage()">
			Retry Again
		</button>
	</div>



	<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content ">
	      <div class="modal-body">

	        <div *ngIf="!mobileNumberEntered" class="state-1">
	          <div class="d-flex align-items-center">
	            <div class="pr-3">
	              <h3  class="m-0 font-weight-bold kss_highlight" data-dismiss="modal" aria-label="Close">
	                <img (click)="closeOtpModal()" class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/>
	              </h3>
	            </div>
	            <div class="">
	              <h3 class="modal-title font-weight-bold mt-1" id="exampleModalLabel"> Mobile Number</h3>
	            </div>
	          </div>

	          <p class="sub-text w-75 mt-3">Your Shipping and payment details will be associated with this number</p>
	          <form #mobileForm="ngForm">
	            <div class="form-group mb-0">
	              <input type="tel" class="form-control form-control-number form-control-lg" (keyup)="enterclick($event)" [ngClass]="{'has-error' : userValidation.mobileValidationFailed, 'has-value' : mobileNumber}" id="frm-mobile" name="mobile" [(ngModel)]="mobileNumber" required minlength = "10" maxlength = "10" pattern="^[789]\d{9}$" inputmode="numeric" appNumbers>
	              <label class="control-label">Enter Mobile Number</label>
	               <small *ngIf="userValidation.mobileValidationFailed" id="passwordHelpBlock" class="form-text text-danger">
						{{userValidation.mobileValidationErrorMsg}}
					</small>
					<small *ngIf="mobileNumber<7000000000 && mobileNumber.length== 10" id="passwordHelpBlock" class="form-text text-danger">
						Please enter a valid Indian Mobile Number
					</small>
	            </div>
	          </form>
	          <div class="mt-3">
	            <button [disabled]="!mobileForm.valid || userValidation.disableSendOtpButton" type="button" class="btn kss-btn kss-btn--big btn-signin is-enter" (click)="authenticateUser()"><span> Send OTP <i class="fas fa-circle-notch fa-spin fa-lg ml-1" [ngClass]="{'d-none' : !userValidation.disableSendOtpButton}"></i> </span> <i class="fas fa-angle-right mt-2 position-absolute r-0"></i></button>
	          </div>
	        </div>

	        <div *ngIf="mobileNumberEntered" class="state-2">
	          <div class="d-flex align-items-center">
	            <div class="pr-3">
	              <h3 class="modal-title font-weight-bold" data-dismiss="modal" aria-label="Close">
	                <img (click)="closeOtpModal()" class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/>
	              </h3>
	            </div>
	            <div class="">
	             <h3 class="modal-title font-weight-bold mt-1" id="exampleModalLabel">Verify Mobile</h3>
	            </div>
	          </div>

	          <form class="mt-3" #otpForm="ngForm">
	            <div class="form-group mb-0">
	              <p >Enter the OTP sent to your number</p><h4 class="font-weight-bold m-0">{{mobileNumber}} <i class="fas fa-pencil-alt number-edit ml-2 cursor-pointer" (click)="mobileNumberEntered = false"></i></h4>
	              <input type="tel" class="form-control form-control-number form-control-lg mb-2 letter-spacing-5" (keyup)="enterclick($event)" [ngClass]="{'has-error' : userValidation.otpVerificationFailed}"  aria-describedby="emailHelp" [(ngModel)]="otp" name="otp" placeholder="" required pattern="\d{6}$" minlength = "6" maxlength = "6" inputmode="numeric" appNumbers placeholder="Enter Passcode" [ngClass]="{'has-value' : otp}">
<!-- 	              <div class="otp-fields d-flex align-items-center justify-content-center">
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp1 (keyup)="next($event,otp1,otp2)" [(ngModel)]="otpCode['otp1']" name="otp1" appNumbers>
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp2 (keyup)="next($event,otp1,otp3)" [(ngModel)]="otpCode['otp2']" name="otp1" appNumbers>
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp3 (keyup)="next($event,otp2,otp4)" [(ngModel)]="otpCode['otp3']" name="otp1" appNumbers>
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp4 (keyup)="next($event,otp3,otp5)" [(ngModel)]="otpCode['otp4']" name="otp1" appNumbers>
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp5 (keyup)="next($event,otp4,otp6)" [(ngModel)]="otpCode['otp5']" name="otp1" appNumbers>
					<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" #otp6 (keyup)="next($event,otp5,otp6)" [(ngModel)]="otpCode['otp6']" name="otp1" appNumbers>
				</div> -->
	              <!-- <small> Resend OTP in 18 sec</small> -->
	               <small *ngIf="userValidation.otpVerificationFailed" id="passwordHelpBlock" class="form-text text-danger">
						{{userValidation.otpVerificationErrorMsg}}
				</small>
	            </div>
	          </form>
	          <div class="mt-3">
	            <button (click)="verifyMobile()" id="shipping-details" [disabled]="!otpForm.valid || userValidation.disableVerifyOtpButton" type="button" class="btn kss-btn kss-btn--big btn-verify is-enter" data-toggle="modal" data-target="#checkout-flow"><span>Verify <i class="fas fa-circle-notch fa-spin fa-lg ml-1" [ngClass]="{'d-none' : !userValidation.disableVerifyOtpButton}"></i> </span> <i class="fas fa-angle-right position-absolute r-0 mt-2"></i></button>
	          </div>
	        </div>

	      </div>
	    </div>
	  </div>
	</div>

	<div class="slide-out" id="cd-coupon" [ngClass]="{'slide-show' : enterCoupon}">
		<div class="d-flex pt-2 ">
				<div class="pr-3 align-items-center">
						<h3 class="modal-title font-weight-bold">
							<img (click)="enterCoupon = false" class="btn-back kss_highlight cd-coupon-apply" src="/img/left-arrow.png"  style="width:20px;"/>
						</h3>
				</div>
				<div class="align-items-center">
						<h3 class="modal-title font-weight-bold mt-1 mb-0">
								Apply Coupon
						</h3>
				</div>
		</div>
		<hr class="mb-0"/>
				<div class="">
						<h4 class="mb-1 mt-4 font-weight-bold">
								Have a coupon code?
						</h4>
						<div class="form-group">
								<input class="form-control form-control-lg" id="frm-coupon" type="text"/>
										<label class="control-label">
												Enter coupon code
										</label>
						</div>
						<div>
								<button class="btn btn-primary btn-lg btn-block cd-coupon-apply " data-price="869">
										<div class="btn-label-initial">
												Apply
										</div>
								</button>
						</div>
				</div>
	</div>
</div>