<div *ngIf="summary">
	<div class="d-flex justify-content-between py-1">
		<div><label class="text-muted f-w-4 m-0">Total Item Price</label></div>
		<div> ₹{{summary.mrp_total}} </div>
	</div>
	<div class="d-flex justify-content-between py-1">
		<div><label class="text-muted f-w-4 m-0">Sub Total</label></div>
		<div class="text-success"> ₹{{summary.sale_price_total}}</div>
	</div>
	<div *ngIf="summary.cart_discount" class="d-flex justify-content-between py-1">
		<div><label class="text-muted f-w-4 m-0">Promotion Discount</label></div>
		<div class="text-success">-₹{{summary.cart_discount}}</div>
	</div>
	<div *ngIf="summary.shipping_fee !== undefined" class="d-flex justify-content-between py-1">
		<div><label class="text-muted f-w-4 m-0">Shipping fee</label></div>
		<div class="text-success"> ₹{{summary.shipping_fee}}</div>
	</div>	
</div>
