<!-- <div *ngIf="promoApplied && promo">
	Better promo available
	<div class="pr-4">
		<p class="mb-1">{{promo.display_title}}</p>
		<p class="text-gray f-w-4 m-0 d-block">
			Save <span class="text-success">₹{{promo.actual_discount}}</span>
		</p>
	</div>
</div> -->

<div *ngIf="promoApplied && promo" class="promotion-alert d-flex align-items-baseline px-1 text-muted">
	<i class="fas fa-info-circle pr-1 text-secondary info-circle"></i>
	<div> 
	Your bag is eligible for the promotion <span class="font-weight-bold">{{promo.display_title}}</span> where you can save <span class="text-success font-weight-bold">₹{{promo.actual_discount}}</span> 
	</div>
	<hr>
</div>