<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header></app-header> -->
<!-- 
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
	<h3>  <p> Time on server is : {{time}} </p> </h3>
  <img width="300" alt="KSS Logo" src="assets/icons/icon1.png">
</div>

<a href="javascript:void(0)" (click)="goToHomePage()">Go to shop page</a> -->

<lazy-af *ngIf="loadCart" moduleName="src/app/bag/bag.module#BagModule"></lazy-af>

<router-outlet></router-outlet>


<div *ngIf="display" class="alert alert-dark alert-offline text-center" [ngClass]="{'slide-in-bottom': showToast, 'slide-out-bottom': !showToast}" role="alert">
  <strong>{{msg}}</strong>
</div>

