<!-- Order info -->
<!-- Order shipped details -->
<div *ngFor="let sub_order of sub_orders; let i = index" class="mb-2 my-order-collapse">
	<div class="d-flex bd-highlight row mb-3">
		<div class="pb-2 pr-2 col-8 col-md-9">
			<label class="d-block m-0 mb-1">Sub Order {{i+1}}</label>
				<!-- <span *ngIf="sub_order.store_address">Sold by: {{sub_order.store_address.store_name}} - {{sub_order.store_address.locality}}, {{sub_order.store_address.city}}</span> -->
				<span *ngIf="sub_order.store_address">Sold by: {{sub_order.store_address.store_name}}</span>				
			<!-- <i class="fas fa-clipboard-check mr-1 text-muted"></i> <span class="text-success font-weight-bold">Order Processed</span> -->
		</div>
		<div class="pb-2 ml-auto col-4 col-md-3 text-right pl-0">
	<!-- 		Total:
			<h6 class="mt-1"><span class="rs-symbol"><i class="fas fa-rupee-sign sm-font"></i></span> {{$sub_order['total']}} for {{$sub_order['number_of_items']}} {{$sub_order['number_of_items'] == 1 ? "Item" : "Items"}}</h6> -->
			<h6 class="mt-1 mb-1">{{sub_order.number_of_items}} <span *ngIf="sub_order.number_of_items == 1">Item</span> <span *ngIf="sub_order.number_of_items > 1">Items</span> </h6>
			<div *ngIf="showStatus">
				<span *ngIf="sub_order.state == 'draft' " class="order-label order-label--processing" data-toggle="tooltip" data-placement="top" title="Your order has been placed and we are verifying item availability in the inventory.">Processing</span>
				<span *ngIf="sub_order.state == 'sale' " class="order-label order-label--confirmed" data-toggle="tooltip" data-placement="top" title="Stock for the items has been verified and your items will be shipped out soon.">Confirmed</span>
			</div>
		</div>
	</div>

	<!-- Actual order info -->
	<div class="p-md-3 p-2 mb-3 card shadow-sm">
		<div *ngFor="let item of sub_order.items; let last = last">
			<div class="row primary-info">
				<div class="col-12 d-flex flex-column">
					<!-- <div class="custom-checkbox">
			            <input type="checkbox" class="facet-category custom-control-input" id="first">
						<label class="custom-control-label f-w-4" for="first">
			            </label>            
					</div> -->
					<div class="d-flex order-card">					
						<a href="{{item.href}}" class="order-card__image" [ngClass]="{'variant-placeholder' : item.images[0]=='/img/placeholder.svg'}">
							<div class="product-img">
								<img src="{{item.images[0]}}" class="lazyload img-fit" data-srcset="{{item.images[0]}} 50w, {{item.images[1]}} 100w, {{item.images[2]}} 150w" sizes="50px">
							</div>
						</a>	
						<div class="product-detail order-card__detail">
							<a href="{{item.href}}" class="text-dark">
								<div class="product-name text-truncate">
									{{item.title}}
								</div>
							</a>
							<div class="product-size text-muted mb-1">
								<span>Size: {{item.size}}</span> <span>|</span> <span>Qty: {{item.quantity}}</span>
							</div>
							<div class="product-price">
								<div class="kss-price kss-price--smaller">₹{{item.price_final}}									
									<span *ngIf="item.price_final != item.price_mrp">
										<small class="kss-original-price text-muted">₹{{item.price_mrp}}
									  	</small>
									  	<span class="kss-discount text-danger">{{item.off_percentage}}</span>
									</span>
								</div>
							</div>
							<!-- Refund initiated text -->
							<div *ngIf="showStatus && item.status && item.status == 'cancelled' " class="text-success mt-1">
								Refund initiated
							</div>
						</div>
					</div>
					<div *ngIf="showStatus && item.status" class="kss-order-status mt-2 w-100">
						<!-- Bar status -->
					    <ul *ngIf="item.status == 'placed' || item.status =='confirmed' || item.status =='shipped' || item.status == 'invoiced' " class="align-items-center d-flex justify-content-center"> 
							<li [ngClass]="{'current' : item.status == 'placed', 'done' : item.status == 'confirmed' || item.status == 'shipped' || item.status == 'invoiced'}">
								<span class="dots"></span>
								<span class="status-name">Placed</span>
							</li>
							<li [ngClass]="{'current' : item.status == 'confirmed', 'done' : item.status == 'shipped' || item.status == 'invoiced'}">
								<span class="dots"></span>
								<span class="status-name">Confirmed</span>
							</li>
							<li [ngClass]="{'current' : item.status == 'shipped' || item.status == 'invoiced'}">
								<span class="dots"></span>
								<span class="status-name">Shipped</span>
							</li>
							<li>
								<span class="dots"></span>
								<span class="status-name">Delivered</span>
							</li>
						</ul>
						<!-- Cancelled status -->
						<div *ngIf="item.status == 'cancelled' " class="align-items-center d-flex orderState od-cancelled text-uppercase">
						    <i class="fas fa-times-circle order-icon"></i>
						    <span class="pl-2">Cancelled</span>
						</div>
						<!-- Canceled date -->
					<!-- 	<div class="col-12">
							<small>*Shipment was canceled on 28 December 2018</small>
						</div> -->
						<!-- Delivered status -->
						<div *ngIf="item.status == 'delivered' " class="align-items-center d-flex orderState od-delivered text-uppercase">
							<span>
							    <i class="fas fa-check-circle order-icon"></i>
							    <span class="pl-2">Delivered</span>
							</span>
							<!-- <a href="#" class="border-bottom cancel-order-btn kss-anchor mb-0 ml-3 pb-0 text-secondary text-uppercase">Return Item</a> -->
						</div>
						<!-- Canceled date -->
						<!-- <div class="col-12">
							<small>*Shipment was delivered on 28 December 2018</small>
						</div> -->
					</div>
				</div>	
			</div>								
			<hr *ngIf="!last" class="mt-4 mb-4">
		</div>
		
	</div>
</div>


