<!-- Gender inner boxes -->
<div class="row gender-cat-wrapper mobile-overflow">
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">Boys</h4>
			<p class="gender-cat__year mb-0">2 - 7</p>
		</a>
	</div>
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">Boys</h4>
			<p class="gender-cat__year mb-0">7 - 14</p>
		</a>
	</div>
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">Girls</h4>
			<p class="gender-cat__year mb-0">2 - 7</p>
		</a>
	</div>
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">Girls</h4>
			<p class="gender-cat__year mb-0">7 - 14</p>
		</a>
	</div>
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">Infants</h4>
			<p class="gender-cat__year mb-0">0 - 2</p>
		</a>
	</div>
	<div class="col">
		<a href="#" class="text-dark card gender-cat d-flex align-items-center justify-content-center">
			<h4 class="gender-cat__name">New <br>Arrival</h4>
		</a>
	</div>	
</div>
