<div class="container d-block d-md-none mb-4 pt-4" [ngClass]="{'sticky_btn_bottom' : stickyFoot}">
  <div class="row">
    <div class="col-sm-12">
        <a class="py-3 d-block footer-more collapsed" data-toggle="collapse" href="#moreFooter">
          <span class="space-divider d-flex align-items-center justify-content-between">
              <span class="footer-more__title">More about Online Shopping at KidSuperStore</span>
              <i class="fas fa-angle-down icon-down"></i>
            </span>
        </a>
    </div>
  </div>
</div>

<div class="collapse hidden-footer-section" id="moreFooter">
  <footer class="bg-light mt-2 mt-md-4 pb-1 pt-3 pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                  <div class="mbr-footer-content col-12">
                    <p class="font-weight-bold"><strong>Online Shopping</strong></p>
                      <ul class="list-unstyled d-flex footer-link-separator">
                        <li><a routerLink="/boys" class="text-gray">Boys</a></li>
                        <li><a routerLink="/girls" class="text-gray">Girls</a></li>
                        <li><a routerLink="/infant-0-2-years" class="text-gray">Infants</a></li>
                        <li><a routerLink="/toys" class="text-gray">Toys</a></li>
                        <li><a routerLink="/stationery" class="text-gray">Stationery</a></li>
                      </ul>
                  </div>
                  <div class="mbr-footer-content col-12">
                      <p class="font-weight-bold"><strong>My Account</strong></p>
                      <ul class="list-unstyled d-flex footer-link-separator">
                        <li><a (click)="openAccount('my-orders')" class="text-gray cursor-pointer">My Orders</a></li>
                        <li><a (click)="openAccount()" class="text-gray cursor-pointer">My Profile</a></li>
                        <li><a (click)="openAccount()" class="text-gray cursor-pointer">Saved Addresses</a></li>
                      </ul>
                    </div>
                </div>
            </div>

            <div class="mbr-footer-content col-md-4 mt-0 mt-sm-5 mt-md-0">
               <div class="row">
                  <div class="mbr-footer-content col-12">
                    <p class="font-weight-bold"><strong>Useful Links</strong></p>
                      <ul class="list-unstyled d-flex flex-wrap footer-link-separator">
                          <li><a routerLink="/about-us" class="text-gray">About Us</a></li>
                          <li><a routerLink="/contact" class="text-gray">Contact Us</a></li>
                          <li><a href="https://cutshort.io/company/omni-edge-retail-private-ltd?career_page=true" class="text-gray">Careers</a></li>
                          <li><a routerLink="/faq" class="text-gray">FAQ</a></li>
                          <li><a routerLink="/terms-and-conditions" class="text-gray">Terms of Use</a></li>
                          <li><a routerLink="/privacy-policy" class="text-gray">Privacy Policy</a></li>
                          <li><a routerLink="/terms-and-conditions" fragment="cancellation" class="text-gray">Cancellation</a></li>
                          <li><a routerLink="/terms-and-conditions" fragment="shipping" class="text-gray">Shipping</a></li>
                          <li><a routerLink="/terms-and-conditions" fragment="return" class="text-gray">Return and Refund Policy</a></li>
                          <li><a href="/ideas" class="text-gray">Blog</a></li>
                      </ul>
                  </div>
                  <div class="mbr-footer-content col-12">
                    <p class="font-weight-bold"><strong>Keep In Touch (Social Connect)</strong></p>
                    <ul class="list-inline d-flex align-items-center flex-wrap social-wrap">
                      <li class="list-inline-item"><a href="https://www.facebook.com/kidsuperstore" class="text-dark d-flex align-items-center" target="_blank"><i class="fab fa-facebook-f socialIcon-size fb-color"></i><span class="social-title">Facebook</span></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/kidsuperstore.in/" class="text-dark d-flex align-items-center" target="_blank"><i class="fab fa-instagram socialIcon-size instagram-color"></i><span class="social-title">Instagram</span></a></li>
                    </ul>
                  </div>
                </div>
            </div>

            <div class="mbr-footer-content col-md-4 bl-1 mt-4 mt-sm-5 mt-md-0">
              <div class="d-flex flex-row bd-highlight mb-4">
                <div class="bd-highlight mr-4 ml-2">
                  <img width="50" src="{{cdnUrl}}assets/img/tshirt.svg">
                </div>
                <div class="bd-highlight align-self-center"><h5 class="font-weight-bold mb-0">Fresh and latest</h5>fashion styles for kids</div>
              </div>
              <div class="d-flex flex-row bd-highlight mb-4">
                <div class="bd-highlight mr-4 ml-2">
                  <img width="50" src="{{cdnUrl}}assets/img/truck.svg">
                </div>
                <div class="bd-highlight align-self-center"><h5 class="font-weight-bold mb-0">Free shipping</h5>on most products</div>
              </div>
              <div class="d-flex flex-row bd-highlight mb-4">
                <div class="bd-highlight mr-4 ml-2">
                  <img width="50" src="{{cdnUrl}}assets/img/returns.svg">
                </div>
                <div class="bd-highlight align-self-center"><h5 class="font-weight-bold mb-0">Hassle free returns</h5>after receiving your order</div>
              </div>
            </div>

        </div>

        <div class="border-bottom border-gray mt-4 mb-4 op-1">
        </div>

       <div class="row">
          <div class="col-12">
             <p class="font-weight-bold mt-2"><strong>Our Leading Categories</strong></p>

             <strong>Boys Clothings: </strong>  <a routerLink="/apparels/boys/bottoms" class="text-dark">Bottoms </a> |  <a routerLink="/apparels/boys/ethnic" class="text-dark"> Ethnic </a>  |   <a routerLink="/apparels/boys/formal-pant" class="text-dark">Formal Pant</a>  |    <a routerLink="/apparels/boys/jeans" class="text-dark">Jeans</a>  |   <a routerLink="/apparels/boys/shirt" class="text-dark">Shirt</a>  |   <a routerLink="/shoes/boys" class="text-dark">Shoes</a>   |    <a routerLink="/apparels/boys/short" class="text-dark">Short</a>   |    <a routerLink="/apparels/boys/sweatshirt" class="text-dark">Sweatshirt</a>   |   <a routerLink="/apparels/boys/tshirt" class="text-dark">Tshirt</a>
              <p class="my-2"></p>
             <strong>Girls Clothings: </strong>  <a routerLink="/apparels/girls/bottoms" class="text-dark">Bottoms </a> |  <a routerLink="/apparels/girls/dress" class="text-dark"> Dress </a>  |   <a routerLink="/apparels/girls/ethnic" class="text-dark">Ethnic</a>  |    <a routerLink="/apparels/girls/jeans" class="text-dark">Jeans</a>  |   <a routerLink="/shoes/girls" class="text-dark">Shoes</a>  |   <a routerLink="/apparels/girls/short" class="text-dark">Short</a>   |    <a routerLink="/apparels/girls/skirt" class="text-dark">Skirt</a>   |    <a routerLink="/apparels/girls/sweatshirt" class="text-dark">Sweatshirt</a>   |   <a routerLink="/apparels/girls/tshirt" class="text-dark">Tshirt</a>   |   <a routerLink="/apparels/girls/woven-tops" class="text-dark">Woven Tops</a>
              <p class="my-2"></p>
              <strong>Infants Clothings: </strong>  <a routerLink="/apparels/infant-0-2-years/bottoms" class="text-dark">Bottoms </a> |  <a routerLink="/apparels/infant-0-2-years/dress" class="text-dark"> Dress </a>  |   <a routerLink="/apparels/infant-0-2-years/infant-utility" class="text-dark">Infant Utility</a>  |    <a routerLink="/apparels/infant-0-2-years/jeans" class="text-dark">Jeans</a>  |   <a routerLink="/apparels/infant-0-2-years/shirt" class="text-dark">Shirt</a>  |   <a routerLink="/shoes/infant-0-2-years" class="text-dark">Shoes</a>  |   <a routerLink="/apparels/infant-0-2-years/short" class="text-dark">Short</a>   |   <a routerLink="/apparels/infant-0-2-years/tshirt" class="text-dark">Tshirt</a>   |   <a routerLink="/apparels/infant-0-2-years/woven-tops" class="text-dark">Woven Tops</a>
               <p class="my-2"></p>
          </div>
       </div>

       <div class="border-bottom border-gray mt-4 mb-4 op-1"></div>

         <div class="row">
            <div class="col-12">
                   <p class="font-weight-bold mb-3 mt-0 mt-sm-3"><strong>KidSuperStore.in: Fresh Fashion for your kids. Always!</strong></p>

                   <p class="mb-5">
                      Want to find the latest clothing and accessories for kids? Look no further, <a routerLink="/" class="kss-anchor">KidSuperStore.in</a> brings you the latest and fresh styles of fashion for kids all delivered to your doorstep. Browse through the various styles and categories we have at <a routerLink="/" class="kss-anchor">KidSuperStore.in</a> and have fun planning out various outfit for kids. You can do this all from the comfort of your home while enjoying many online shopping benefits. We offer the irresistible deals and discounts for almost every product on our store. Experience seamless shopping through our beautiful user interface and find the exact product you are thinking of by using our powerful search filters. We hope you have a wonderful time shopping on <a routerLink="/" class="kss-anchor">KidSuperStore.in</a>. Also, do visit our store regularly to check and avail amazing discounts offers!
                   </p>

                   <p class="font-weight-bold mb-3 "><strong>KidSuperStore.in: Fresh Fashion for your kids. Now near you!</strong></p>

                   <p>
                      Not comfortable shopping online? Want to see and try out the clothing before you buy? Don’t worry, we got you covered. We have our stores all over India. You can check out our store section and visit any one of our stores nearest to you. You can experience our different variety of clothes and styles at any of our stores. Our stores are about as fun as they get, it won't even feel like you're shopping!
                   </p>
                   <div class="border-bottom border-gray mt-4 mb-4 op-1">
                   </div>

            </div>
       </div>
        <div class="d-flex bd-highlight mb-3 justify-content-between flex-column flex-md-row">
            <div class="mr-auto p-2 bd-highlight">© Copyright 2018 Kidsuperstore. All rights reserved.</div>
            <div class="d-flex align-items-center justify-content-center mt-2 mt-sm-0">
              <img src="{{cdnUrl}}assets/img/256-encryption.png" class="img-fluid mr-4" alt="256 Encryption" title="256 Encryption" width="100">
              <img src="{{cdnUrl}}assets/img/secured-payu.png" class="img-fluid" alt="Secured Payment Payu" title="Secured Payment Payu" width="130">
            </div>
        </div>
    </div>
  </footer>
</div>