::ng-deep {
	// Mobile footer padding for sticky btns
	@media (max-width: 991px){
	    .sticky_btn_bottom{
	        padding-bottom: 4.5em !important;
	        & + .hidden-footer-section{
	            padding-bottom: 5em;
	            margin-top: -6em;
	        }
	    }

	    .prod-page-footer{
	    	.sticky_btn_bottom{
		        position: relative;
		        top: calc(100vh - 220px);
		        background: white;
		         & + .hidden-footer-section{
		            position: relative;
		            top: calc(100vh - 225px);
		         }
	    	}
	    }
	}
}