<div class="colorOptions d-md-block mb-3 d-none d-sm-block">
	<div class="d-flex justify-content-between mt-3">
		<label class="align-items-center d-flex colorOptions__trigger cursor-pointer collapsed" href="#color-options"  aria-expanded="false" aria-controls="color-options" data-toggle="collapse">
				<ul class="product-color product-color--single px-1"  data-toggle="tooltip" data-placement="bottom" title="black">
					<li class="d-inline-flex align-middle">
				    	<label class="mb-0" style="background-color:#000;"></label>
				  	</li>
				</ul>
			<p class="font-weight-bold kss-link mb-0"> Color options</p>

				<i class="fas fa-chevron-down cursor-pointer icon-md down-arrow "></i>
		</label>
	</div>
	<div class="collapse" id="color-options">
		<div class="card card-body border-0 p-0 mt-3 ">
			<div class="radio-wrap w-image kss_variants d-flex align-items-baseline flex-wrap">
			    <input class="d-none radio-input" type="radio" name="kss-variants" id="color-name" checked />
				<label class="radio-label position-relative variant-wrapper" for="color-name" data-toggle="tooltip" data-placement="bottom" title="Black">
					<ul class="product-color product-color--single product-color--sm position-absolute color-custom-radio p-0">
						<li class="d-inline-flex align-middle">
					    	<label for="black" class="m-0" style="background-color:#000;"></label>
					  	</li>
					</ul>
					<div class="variant-img-wrapper">
						<img src="https://www.kidsuperstore.in/images/products/62954/variant-thumb/1x/shorts-1018-color-navy-4.jpg"
							class="w-100 lazyload"
							data-srcset="https://www.kidsuperstore.in/images/products/62954/variant-thumb/1x/shorts-1018-color-navy-4.jpg 50w,
										https://www.kidsuperstore.in/images/products/62954/variant-thumb/2x/shorts-1018-color-navy-4.jpg 100w"
							sizes="50px"
							alt=""
							srcset="https://www.kidsuperstore.in/images/products/62954/variant-thumb/1x/shorts-1018-color-navy-4.jpg 50w,
									https://www.kidsuperstore.in/images/products/62954/variant-thumb/2x/shorts-1018-color-navy-4.jpg 100w">
					</div>
				</label>
			</div>
		</div>
	</div>
</div>