<div id="cd-cart" class="angular-app h-100 shipping-section default-flyout-open">
	<!-- shipping-address  -->
	<div *ngIf="addAddress || (addresses)" id="shipping-address-container" class="kss_shipping slide-out custom-padding" [ngClass]="{'slide-show' : widgetOpen}">
		<div class="scroll-container">
			<app-navbar (closeCartTrigger)="closeCart()"> </app-navbar>
			<div class="py-3 px-3 padding-size">	
				<div class="row no-gutter">
					<div class="col-1">
		             <h3 class="m-0 font-weight-bold back-to-cart">
		               <img (click)="navigateBack()" class="btn-back kss_highlight" src="{{cdnUrl}}img/left-arrow.png" style="width:20px;">
		             </h3>
		           </div>
					<div class="col-7">
						<h3 class="modal-title font-weight-bold" id="exampleModalLabel">Ship To</h3>
					</div>
					<div class="col-4 text-right">
						<h6 class="text-muted mt-2">STEP: 1 / 2</h6>
					</div>
				</div>
				<hr>

				<div *ngIf="pincodeNotServiceable" class="kss-flash kss-flash--error">
				 	Sorry, the selected address pincode cannot be serviced. Please select or add another address.
				</div>
				<hr *ngIf="pincodeNotServiceable">

				<app-address [addresses]="addresses" [addAddress]="addAddress" [selectedAddressId]="selectedAddressId" [states]="states" [hideRadio]=false (addAddressFlagChanged)="updateView()" (navigateToShippingSummary)="callOrderApi()"></app-address>

				<div class="seperator mt-2 mb-2"></div>

				<div class="fixed-bottom d-block pl-3 pr-3">
					 <div *ngIf="!addAddress && addresses && addresses.length" class="row no-gutters py-2 shipping-state-2" style="display: flex;">
						<div class="col-12 text-center">
							<button id="shipping-summary" type="button" class=" btn kss-btn kss-btn--big mt-1 mb-1" (click)="callOrderApi()">Proceed</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	