body {
	padding-top: 50px;
	@media (min-width: 992px){
		padding-top: 54px; 
	}
}
.header {
    background-color: theme-color("dark");
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    a {
        color: white;
    }
}
.recent-search {
    a {
        color: #000 !important;
    }
}
.navbar-toggler {
    padding: 0.15rem 0.45rem;
}
.cart-counter {
    position: absolute;
    top: 20px;
    right: 2px;
}

@media(max-width: 320px) {
    .header {
        ul {
            .list-inline-item {
                margin-right: .1rem;
            }
        }
        img {
            width: 144px;
        }
    }
}



/* Menu Container */
.megamenu{
	padding-left: 20px;
	&-link{
		padding: 2px 0px;
	}
	.nav {
		>li {
			display: block;
			>a {
				position: relative;
				display: block;
				padding: 0 20px;
				line-height: 54px;
				font-weight: 600;
				color: #fcfcfc !important;
				transition: all 0.2s ease-out;
			}
			>div {
				position: absolute;
				display: flex;
				pointer-events: none; //fix for instant hover on wrapper
				justify-content: space-between;
				width: 100%;
				top: 54px;
				left: 0;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				background: $gray-800;
				border-radius: 0 0 3px 3px;
				transition: all 0.2s ease-out;
				// max-width: 1000px;
			}
			&:hover {
				background-color: $gray-800;
				>div {
					opacity: 1;
					visibility: visible;
					overflow: visible;
					pointer-events: auto;
					transition-delay: 0.3s;
				}
			}
		}
		.nav-column {
			// width: 20%;
			padding: 2%;
			border-left: 1px solid #4a4a4a;
			flex: 1;
			&--wide{
				flex-grow: 2;
			}
			&--heading {
				line-height: 18px;
				font-weight: 600;
				font-size: 12px;
				color: #b3b3b3;
				text-transform: uppercase;
				padding-bottom: 10px;
				box-shadow: 0px 2px 0px 0px #585858;
				text-shadow: 0 2px 1px #1b1b1b;
			}
			> ul{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			li {
				.megamenu-link {
					display: block;
					line-height: 28px;
					font-weight: 600;
					font-size: 13px;
					color: white;
					position: relative;
					transition: all 0.2s ease;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						width: 0;
						border-bottom: 1px solid lighten($gray-800, 25%);
						transition: all .3s ease;
					}
					&:after{
						content: "\f105";
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						color: lighten($gray-800, 25%);
						position: absolute;
						right: -20px;
						top: 3px;
						opacity: 0;
						transition: all 0.3s ease;
					}
					&--large{
						font-size: 14px;
					}
					&--primary{
						color: theme-color("primary");
					}
					&:hover{
						color: darken(#fcfcfc, 15%);
						&:before{
							width: 100%;
						}
						&:after{
							right: -10px;
							opacity: 1;
						}
					}
				}
			}
			.offer-img{
				// max-width: 220px;
				max-width: 400px;
				// padding: 5px 0;
			}
			& > div:not(:last-child){
				margin-bottom: 30px;
			}
		}

		@media(max-width: 991px){
			>li{
				float:none;
				width: 100%;
				>div {
					position: static;
					display: block;
					opacity: 1;
					visibility: visible;
					background-color: transparent;
					pointer-events: auto;
				}
			}
			.nav-column{
				float: none;
				width: 100%;
				padding: 0 2.5%;
				margin-bottom: 20px;
				border-left: 0;
				&:first-child{
					padding-top: 2.5%;
				}
				&--heading{
			    	// color: theme-color("primary");
			    	padding-left: 10px;
			    	padding-top: 10px;
			    }
			    &>ul{
			    	margin-bottom: 20px;
			    }
				li{
					border-bottom: 1px solid lighten($gray-800, 4%);
					.megamenu-link{
						// color: white;
						padding: 5px 10px;
						line-height: 30px;
						&:before{
							display: none;
						}
						&:after{
							opacity: 1;
							right: 10px;
							top: 6px;
						}
					}
				}
			}
		}
	}
}

.kss_icon {
    /*background-image: url('/../assets/img/sprite.png');*/
    background-repeat: no-repeat;
    width: 30px;
    height: 33px;
    display: inline-block;
    margin-bottom: -4px;
}

.profile-icon {
    background-position: -107px -138px
}

.bag-icon {
    background-position: -501px -275px;
}

.cart-counter {
    position: absolute;
    top: 20px;
    right: 2px;
}

@media(max-width: 991px){
	.header-close-trigger{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 9;
	}
	.megamenu{
		position: fixed;
		height: 100vh;
		width: 100vw;
		left: 0;
		top: 0;
		// padding-top: 50px;
		background-color: $gray-800;
		z-index: 20;
		transform: translateX(-100vw);
		transition: transform 0.1s ease-out;
		padding-left: 0;
		&.active{
			transform: translateX(0);
		}
		&__contents{
			padding-top: 62px;
    		height: calc(100vh - 62px);
		}
		&--left{
		    // border-right: 1px solid lighten($gray-400, 8%);
		    overflow-y: auto;
		    overflow-x: hidden;
		    background-color: lighten($gray-800, 12%);
		    flex-wrap: nowrap;
		    .nav-item{
		        padding: 15px 20px 15px 15px;
		        // margin-right: -1px;
		        border-right: 1px solid transparent;
		        border-bottom: 1px solid lighten($gray-800, 8%);
		        position: relative;
		        color: white;
		        &.active{
		            border-right: 1px solid $gray-800;
		            font-weight: 600;
		            box-shadow: inset 4px 0 0 theme-color("primary");
		            background-color: $gray-800;
		        }
		    }
		}
		&--right{
		    flex: 1;
		    overflow: auto;
		}
	}

}

.menu-toggle{
	color: white;
	font-size: 1.2rem;
}

$text-color: #212529;

@media (max-width: 991px){
    .megamenu {
        background: #fff;
        &__contents {
            padding-top: 61px;
        }
        .header-top {
            background: $gray-800;
        }
        &--left {
            background: #fff;
        }
        &--right {
            display: block;
            -webkit-overflow-scrolling: touch;
        }
        .nav {
            > li {
                &:hover {
                    background-color: #fff;
                    border-right: 1px solid #fff;
                }
                > a {
                    color: $text-color !important;
                }
            }
            &-item {
                border-bottom: 1px solid #fff;
                color: $text-color;
                border-right: 1px solid #E0E0E0;
                background-color: #E0E0E0;
    
                &.active {
                    border-right: 1px solid #fff;
                    background-color: #fff;
                }
            }
            .nav-column {
                li {
                    border-bottom: 0; 

                    .megamenu-link {
                        color: $text-color;                      
                        span {
                            display: block;
                            line-height: normal;
                        }
                        &.active,
                        &:hover,
                        &:focus {
                            color: theme-color("primary");
                        }
                        &::after {
                            display: none;
                        }
                    }

                    img {
                        width: auto;
                        display: block;
                        margin: 0 auto;
                    }                   
                }
                &--heading {
                    color: #fff;
                    text-shadow: none;
                    padding: 5px 5px 5px 10px;
                    box-shadow: 0 2px 0 0 rgba(158, 157, 157, 0.65);                                       
                    background: rgb(249,187,35);
                    background: -moz-linear-gradient(45deg, #9E9E9E 0%, #9E9E9E 69%, #9E9E9E 69%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
                    background: -webkit-linear-gradient(45deg, #9E9E9E 0%,#9E9E9E 69%,#9E9E9E 69%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
                    background: linear-gradient(45deg, #9E9E9E 0%,#9E9E9E 70%,#9E9E9E 70%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bb23', endColorstr='#ffffff',GradientType=1 );
                    cursor: default;  
                }
            }
        }        
    }
}

.megamenu {
    .nav {
        .nav-column {            
            li {
                border-bottom: 0; 

                .megamenu-link {                    
                    span {
                        display: block;
                        line-height: normal;
                        font-size: 12px;
                    }

                    &::after,
                    &::before {
                        display: none;
                    }
                }
                img {
                    width: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
            &--wide {
                flex-grow: 1.8;  
                @media screen and (min-width: 992px) and (max-width: 1050px){
                    flex-grow: 1.2;
                }              
            }

            > div {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.go-to-shop {
    float: right;
    color: #707279;
    text-transform: capitalize;
}
.layout {
    &--3-col {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        > li {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            margin-bottom: 10px;
            padding: 5px 10px;
            a {
                text-align: center;  
                padding: 0;                  
            }                
        }
    }
    &--tags {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        > li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 5px 10px;
            margin-bottom: 10px;
            display: flex;

            a {
                text-align: center;  
                background: #ffe602;
                padding: 13px 5px;
                color: $text-color !important;
                font-weight: 600 !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                width: 100%;
                &:hover {
                    color: $text-color;
                    background: rgba(255, 230, 2, .85);
                }

                .title {
                    font-weight: 600;
                }                 
            }
        }
    }
    &--2-col {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        > li {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 10px;               
            padding: 5px 10px;

            a {
                text-align: left;
                padding: 0;
                .title {
                    font-weight: 600;
                }
                .sub-title {
                    font-weight: 400;
                }
            }
        }
    }
    &--offers {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        > li {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 10px;               
            padding: 5px 10px;
            &:nth-child(3n){
                flex: 0 0 100%;
                max-width: 100%;
            }

            a {
                padding: 0;
                span {
                    display: none;
                }
            }
        }
    }
}
.menu-banner-item {
    img {
        width: auto;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .layout {
        &--tags {
            > li {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }
}
@media (max-width: 767px) {
    .layout {
        &--tags {
            > li {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

@media (min-width: 992px){
    .megamenu-wrapper {
        max-height: 85vh;
        overflow-x: auto !important;        
    }
    .megamenu {
        .nav {
            .nav-column {
                &--heading {
                    color: #fff;
                    box-shadow: none;
                    cursor: default;  
                    box-shadow: 0 2px 0 0 #ffe605;
                    padding-bottom: 8px;        
                }
            }
        }
    }
}