// Helpers/Utility classes

.mobile-overflow{
	@include bp(mobile) {
		&:after,&:before{
			content: '';
		}
		display: grid !important;
	    overflow: auto;
	}
}

.explore-text{
	font-size: 1.1rem;
    color: #848484;
    font-weight: bold;
    padding-top: 0.5rem;
    display: inline-flex;
}