// Helpers/Utility classes

.mobile-overflow{
	@include bp(mobile) {
		&:after,&:before{
			content: '';
		}
		display: grid !important;
	    overflow: auto;
	}
}

.explore-text{
	font-size: 1.1rem;
    color: #848484;
    font-weight: bold;
    padding-top: 0.5rem;
    display: inline-flex;
}

[static_element-type='week_theme'],[static_element-type='month_theme']{
	a{
		padding-top: 50%;
	}
}

[static_element-type='category'],[static_element-type='story'],[static_element-type='offer'],[static_element-type='brand']{
	a{
		padding-top: 100%;
		.img-holder{
			width: calc(100% - 30px) !important;
		}
	}
}