// Misc styles

.trending-heading{
	padding: 0.2rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #b3b3b3;
    color: #fff;
    margin: 15px -15px;
    @media (min-width: 992px){
    	margin: 0 auto 0.5em auto;
	    display: inline-block;
	    background-color: #fff;
	    padding: 0.2rem 0.7rem;
	    color: #000;
    	font-size: 1.5rem;
    	&:before{
    		content: '';
    		position: absolute;
		    top: 16px;
		    right: 0;
		    left: 0;
		    width: 40%;
		    margin: 0 auto;
		    border-top: 10px solid #b3b3b3;
		    z-index: -1;
    	}
    }
}

.mobile-products{
	@include bp(mobile) {
		grid-template-columns: 3px repeat(6, 148px) 3px;
	    grid-gap: 10px;
		padding-bottom: 0;
	    .label-box{
	    	padding: 0;
	    	margin-bottom: 0;
	    }
	}
}

.group-title{
    font-size: 1.1rem;
    font-weight: 700;
    color: theme-color("secondary");
    margin-top: 1rem;
    &--black{
        color: #000;
    }
    &--lighter{
        font-weight: 400;
    }
    @media (max-width: 767px){
        font-size: 1rem;
    }
}

.group-body{
    font-size: 0.95rem;
    line-height: 1.5;
    color: #495057;
    margin-top: 1rem;
    @media (max-width: 767px){
        line-height: 1.3;
    }
}

a{
    text-decoration:none !important;
    &:focus{
        outline: 0;
    }
}
.section{
    margin-top:5rem;
}
.text-gray {
    color: $gray-700;
}
.btn{
    position: relative;
}
.text-danger {
    color: red !important;
}
.border-gray{
    border-color: #c3c3c3!important;
}
.text-danger-dark {
    color: $danger;
}
footer .bl-1{
  border-color:#ccc;
}
.text-small {
    font-size: 6px;
    color: #ccc;
}
.bg-black{
    background:#000;
}
.bg-lightgray{
    background-color: #f9f9f9;
}
.bg-brown{
    background-color: #fdf5e7;
}
.overflow-h{
    overflow: hidden !important;
}
.kss_highlight {
    cursor: pointer;
}
.kss-link {
    color: #212529;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-decoration: none !important;
}
.component-title{
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #676767;
}
.r-0{
    right: 10px;
}
.br-0 {
    border: 0px;
    background: none !important;
}
.br-1 {
    border: 1px solid #ccc !important;
    background: none !important;
}
.bl-1 {
    border-left: 1px solid #e8eae8;
}
.dashed {
    border-style: dashed;
}
.no-outline{
    outline: 0;
}
.icon-md{
    font-size: 1.2em;
}
.cursor-auto{
    cursor: auto !important;
}
.letter-spacing-5{
    letter-spacing: 5px;
}
.flex-1{
    flex: 1 0 0;
}
b, strong{
    font-weight: 600;
}
.kss_icon {
    background-image: url(assets/img/sprite.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 33px;
    display: inline-block;
    margin-bottom: -4px;
}
.kss-ico{
    background-image: url(assets/img/sprite.png);
    background-repeat: no-repeat;
}
.icon-truck-sm{
    @extend .kss-ico;
    width: 20px;
    height: 20px;
    background-position: 3px -209px;
    display: inline-block;
}
.icon-master-card{
    @extend .kss-ico;
    width: 36px;
    height: 24px;
    background-position: -11px -457px;
    display: inline-block;
}
.icon-visa{
    @extend .kss-ico;
    background-position: -69px -458px;
    width: 48px;
    transform: scale(0.8);
    margin-left: -2px !important;
    margin-right: -2px !important;
}
.icon-rupay{
    @extend .kss-ico;
    background-position: -133px -458px;
    width: 70px;
}
.no-card{
    width: 35px;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: -4px;
}
.icon-cod{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -209px;
    display: inline-block;
}
.icon-return{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -409px;
    display: inline-block;
}
.icon-shipping{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -309px;
    display: inline-block;
}
.kss_disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.popularity {
    background-position: -24px -20px;
    background-size: 295px;
    height: 30px;
}
.latest {
    background-position: -71px -19px;
    background-size: 295px;
    height: 30px;
}
.discount {
    background-position: -121px -20px;
    background-size: 295px;
    height: 26px;
}
.search-icon {
    background-position: -6px -138px;
}
.heart-icon {
    background-position: -43px -138px;
}
.profile-icon {
    background-position: -107px -138px
}
.bag-icon {
    background-position: -501px -275px;
}
.bag-icon-fill {
    background-position: -501px -245px;
}
.top-icon {
    background: url(assets/img/sprite.png)no-repeat;
    width: 50px;
    height: 50px;
    background-position: -223px -119px;
    margin: 0 auto;
}
.icon-sm{
    transform: scale(0.8);
    margin-top: -1px;
}
.price-h {
    background-position: -180px -20px;
    background-size: 295px;
    height: 28px;
}
.discount{
    background-position: -121px -20px;
    background-size: 295px;
    height: 28px;
}
.k-icon{
    // background: url(../img/sprite.png) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 15px;
}
.candy-1{
        background-position: -16px -210px;
}
.candy-2{
        background-position: -87px -210px;
}
.candy-3{
        background-position: -155px -214px;
}
.candy-4{
        background-position: -225px -214px;
}
.top-icon {
    // background: url(../img/sprite.png)no-repeat;
    width: 50px;
    height: 50px;
    background-position: -223px -119px;
    margin: 0 auto;
}
.price-l {
    background-position: -240px -20px;
    background-size: 295px;
    height: 28px;
}
.center {
    img {
        width: 100%;
    }
}
.fade-on {
    opacity: 0;
}

.seperator{
    height:50px;
}

.kss_text-link{
    color:#000;
    border-bottom:1px solid #F9BC22;
    text-decoration:none !important;
}


.productGrid{
    .kss-price{
        // margin-top: -1em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
        background-color: #d60000;
        text-align: center;
        width: 60px;
        font-weight: 600;
        font-size: 1.1em;
        @media (max-width: 767px){
        //     width: 100%;
        //     // text-align: center;
        //     margin: 0 -15px;
            bottom: 4px;
        }
    }
    .product-card{
        @media (min-width: 768px){
            border: 2px solid #f5f5f5;
            transition: all 0.5s ease;
        }
        @media (max-width: 767px){
            &:hover{
                box-shadow: none;
            }
        }
    }
}

 @media (min-width: 320px) and (max-width: 992px) {
    .overflow-m{
        overflow-x:scroll;
        overflow-y:hidden;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0px repeat(4, calc(50% - 40px)) 3px;
        grid-template-rows: minmax(150px, 1fr);
        scroll-behavior: smooth;
        transform: translateZ(0);
        will-change: transform;
        .col-6{
            max-width: 100%;
            padding: 0;
        }
        &::before,
        &::after {
          content: '';
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

// Default anchor styling

.kss-anchor{
    color: darken(theme-color("primary"),20%);
    &:hover{
        color: theme-color("primary");
    }
}


.cursor-pointer {
    cursor: pointer;
}
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    display: none;
    padding: 1em;
    padding-right: 0;
    z-index: 1;
    will-change: transform;
    @media (min-width: 320px) and (max-width: 767.98px) {
        bottom: 5em;
        right: 0em;
        display: none !important;
    }
}

.kss-alert{
    border-radius: 0;
    width: 300px;
    color: #fff;
    &--success{
        background-color: #71a764;
        border-color: #71a764;
    }
    &--failure{
        background-color: #bc6760;
        border-color: #bc6760;
    }
    @media (min-width: 768px){
        width: 350px;
        .icon{
            font-size: 1.8em;
        }
        .message{
            font-size: 1.15em;
        }
    }
    .alert-close{
        text-shadow: none;
        color: #fff;
        opacity: 1;
        outline: 0;
    }
    &.sticky-alert{
        position: fixed;
        top: 0;
        z-index: 1040;
        right: 0;
        width: calc(80% - 1rem);
        transform: translateY(-500px);
        transition: all 0.5s ease;
        @media (min-width: 768px) {
            width: calc(400px - 1rem);
        }
        @media (max-width: 767.98px) {
            width: calc(100% - 1rem);
            font-size: 1.1em;
        }
        @media (min-width: 992px) and (min-width: 1199.98px) {
            width: calc(40% - 1rem) !important;
        }
        @media (min-width: 1300px) {
            width: calc(30% - 1rem) !important;
        }
    }
    &.is-open{
        pointer-events: auto;
        transform: translateX(0);
    }
}

.kss-toast{
    padding: 15px 20px;
    color: #fff;
    background: rgba(0,0,10,0.7);
    display: inline-block;
    position: fixed;
    top: 0px;
    transform: translateY(-150px);
    right: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-out;
    &.shown{
        transform: translateY(70px);
    }
}



@media (max-width: 767px){
    .one-em{
        font-size: 1em;
    }
    .fz-sm{
        font-size: 1.1em;
    }
    .no-shadow-mobile{
        box-shadow: none !important;
    }
}

.sticky-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 54px;
    background: #fff;
    box-shadow: 2px 2px 2px #5a5656;
    padding: 12px;
    z-index: 999;
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 150ms ease-in;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    will-change: transform;
    perspective: 1000;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.white-space-normal{
    white-space: normal;
}

.line-height-5{
    line-height: 1.5;
    @media (max-width: 767px){
        line-height: 1.3;
    }
}

.lower-roman{
    list-style-type: lower-roman;
}

.custom-table{
    tr{
        th,td{
            padding: 11px 10px;
        }
        th{
            border: 1px solid #cacaca;
        }
        td{
            border: 1px solid #cacaca;
        }
    }
}

.img-fit{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-title{
    font-size: 1.1rem;
    @media (max-width: 600px){
        font-size: .9rem;
    }
}

.newsletter{
    .form-control.newsletter__input{
        background-color: #fff;
        padding: 10px;
    }
    &__btn{
        border-radius: 0;
        border: 0;
        padding: 10px 0.75rem;
    }
}

.kss-input-small{
    width: 35%;
}

.kss-flash{
    padding: 0.8em;
    margin: 0.8em 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4;
    &--info{
        background-color: $flash-info-bg;
        color: $flash-info-color;
    }
    &--error{
        background-color: $flash-error-bg;
        color: $flash-error-color;
    }
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.more-link{
    font-size: 1.2em;
    font-weight: 600;
    color: theme-color("secondary");
    &:hover{
        color: darken(theme-color("secondary"),20%);
    }
    .arrow-down{
        padding-left: 8px;
        font-size: 1.1em;
    }
}

.viewall-link{
    display: inline-block;
    font-size: 1.4em;
    color: theme-color("secondary");
    font-weight: 400;
    padding: 10px 5px 2px 5px;
    // border-bottom: 2px solid;
    &:hover{
        color: darken(theme-color("secondary"),20%);
    }
}

.cs-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


.filter-grayscale{
    filter: grayscale(100%);
}


.product-view{
    font-size: 1.15em;
    color: #afaeae;
}

.helper-links{
    a{
        color: #000;
        font-size: 1.25em;
        border-bottom: 2px solid theme-color("primary");
        &:hover{
            color: #545454;
        }
    }
}

.flex-fill-full{
    flex: 1;
}

.edit-pencil{
    padding: 8px;
    background: #efefef;
    width: 35px;
    font-size: 17px;
    height: 35px;
    border-radius: 100%;
    color: theme-color("secondary");
}

.label-size{
    font-size: 0.9rem;
}


.rotate-svg {
  animation: rotation 1.3s infinite linear;
  transform-origin: 30px 30px;
  animation-timing-function:linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotation {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.custom-sort-loader{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 9999;
    align-items: center;
    justify-content: center;
    &.shown{
        display: flex;
    }
}

// Social colors

.fb-color{
    color: #3b5998;
}

.instagram-color{
    color: #e95950;
}

.whatsapp-color{
    color: #90ce46;
}

.fb{
    color: #3b5998;
}

.twitter{
    color: #1da1f2;
}

.ellipsis-4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.ellipsis-3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ellipsis-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// include section title
.include-title{
    font-size: 1.4875rem;
    font-weight: bold;
    margin: 1.5rem 0;
    @media (max-width: 767px){
        font-size: 1.25rem;
    }
}

// whatsapp floating button

.whatsapp-floating{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 160px;
    right: 35px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
    a{
        color: #fff;
    }
    @media (max-width: 767px){
        bottom: 60px;
        right: 20px;
        width: 52px;
        height: 52px;
        font-size: 25px;
    }
}

.web-wp{
    display: none !important;
    @media (min-width: 992px){
        display: flex !important;
    }
}

.mobile-wp{
    display: none !important;
    @media (max-width: 991px){
        display: flex !important;
    }
}


.align-self-normal{
    align-self: normal;
}

// Custom full page loader
.full-page-loader{
    position: relative;
    overflow: hidden;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1090;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,0.94) center center no-repeat;

    }
}

// Browser autofill resetting
input:-webkit-autofill,
input:-webkit-autofill:hover
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus
 {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  background-image: linear-gradient(#f9bc23, #f9bc23), linear-gradient(#D2D2D2, #D2D2D2) !important;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: 1px solid #d2d2d2;
}

input:-webkit-autofill:focus{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9bc23), to(#f9bc23)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    border-color: theme-color("primary");
}

.custom-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
}

// Inputs left spacing
form{
    .form-control{
        padding-left: 8px;
    }
}

.link-underline{
    text-decoration: underline !important;
}


.kss-progress-bar{
    width: 220px;
    background-color: #eaeaea;
    height: 2px;
    margin: 0 auto;
    position: relative;
    &__loader{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: theme-color("primary");
    }
}

.sort-icon{
    width: 16px;
}

$size: 20px;
#card-list {
    @media (max-width: 575.98px) {
        // padding:10px;
        .col-lg-4 {
            padding: 8px;
        }
    }
    .product-card{
        overflow: hidden;
        .overlay{
            width:100%;
            opacity: 0;
            // background: rgba(0, 0, 0, 0.34);
            transition: all 0.5s ease;
            position: absolute;
            top: 0px;
            z-index: 1;
            height: 100%;
            @media (max-width: 767.98px) {
            display:none;
         }
        }
         .select-size{
           position: absolute;
           bottom: 0;
           width: 100%;
           z-index: 999;
           opacity: 0;
           left: 270px;
           transition: all 0.5s ease;
           padding: 10px 0px;
           border-radius: 0px;
           margin-bottom: 0px;
            .radio-wrap{
            padding: 8px 0px 0px 8px;
           text-align: center;
           .radio-label{
                min-width: auto;
                padding: 8px;
                background: #fff;
                .radio-option{
                    min-width: 52px;
                }
           }
         }
         @media (max-width: 767.98px) {
            display:none;
         }
        }
            &:hover{
            .overlay{
                opacity:9;
            }
            .select-size{
                opacity: 9;
                left: 0px;

            }
        }
    }


}

@media (max-width: 767.98px) {
    .kss_mobile-list {
        display: flex;
        overflow: scroll;
        flex-wrap: nowrap;
    }
}
.m-similar{
    margin-top:-8px;
}

.link-card{
  transition: all 0.15s ease-in;
  .link-card_text{
    color: #212529;
  }
  &:hover{
    transform: translateY(-2px);
    // box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.15);
  }
}

.productGrid{
  .product-card{
    display: flex;
    justify-content: center;
    @media (max-width: 767px){
      background-color: #fff;
    }
    &:hover{
       box-shadow: 0 0 5px rgba(6, 6, 6, 0.16);
    }
  }
}

.kss_banner {
    width: 100%;
    height: 400px;
    background-size: contain !important;
    background-color: #ffeb64 !important;
    padding-top: 90px;
    @media (max-width: 575.98px) {
        height:150px;
        padding-top: 30px;
    }
    .breadcrumb {
        background: none;
        text-align: center;
        display: inline-flex;
    }

    &_bg{
        background-size: cover !important;
        background-position: center;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
    }

}
.kss_banner_sm{
    width: 100%;
    height: 200px;
    background-size: contain !important;
    background-color: #ffeb64 !important;
    padding-top: 90px;
}
.banner-title {
    color: $d-blue;
    font-weight: bold;
    @media (max-width: 575.98px) {
        font-size: 30px;
    }
    &--white{
        color: white;
    }
}

.banner-content{
    max-width: 1120px;
    width: 90%;
    margin: auto;
    position: relative;
}

.btn-lg {
	// font-size: 14px;
	font-weight: 700;
}

// .btn:disabled{
// 	background-color: $gray-500;
// 	border-color: $gray-500;
// }

  @media (max-width: 767.98px) {
	.mobile-fixed{
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  z-index: 11;
		  visibility: hidden;
		  box-shadow: 2px 1px 11px #464646;
    	  padding: 0 !important;
		  -webkit-transition: -webkit-transform 0.3s ease-out;
		  transition: -webkit-transform 0.3s ease-out;
		  transition: transform 0.3s ease-out;
		  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
		  -webkit-transform: translateY(63px);
		  transform: translateY(63px);
		  background-color: #fff;
    	.text-muted{
    		display:none;
    	}
	}
	.visible {
	    visibility: visible;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
}




@media (max-width: 767px){
	.kss-single-prod-add-to-cart{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index: 10;
	}
}

.btn{
	.btn-label-success, .btn-icon{
		display: none;
	}
	&.loading{
		.btn-label-success, .btn-label-initial{
			display: none;
		}
		.btn-icon{
			display: block;
		}
	}
	&.loaded{
		.btn-icon, .btn-label-initial{
			display: none;
		}
		.btn-label-success{
			display: block;
		}
	}
    &-white{
        background-color: #fff;
    }
}

.btn-outline-dark{
	&:hover{
		color:white !important;
	}
}

.kss-btn{
    background-color: theme-color("primary");
    border-color: theme-color("primary");
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
    &:hover{
        background-color: darken(theme-color("primary"),15%);
        color: #212529;
    }
    &--secondary{
    	background-color: theme-color("primary");
    	border-color: theme-color("primary");
    	&:hover{
        	background-color: darken(theme-color("secondary"),15%);
    	}
    }
    &--outline-secondary{
    	background-color: transparent;
    	border-color: theme-color("secondary");
    	color: theme-color("secondary");
    	&:hover{
    		color: #fff;
		    background-color: theme-color("secondary");
		    border-color: theme-color("secondary");
    	}
    }
    &--link{
    	background-color: transparent;
    	border-color: transparent;
    	color: #707279;
    	&:hover{
    		background-color: transparent;
    		border-color: transparent;
    		color: #707279;
    		text-decoration: underline;
    	}
        &:disabled{
            &:hover{
                background-color: transparent !important;
            }
        }
    }
    &--secondary-link{
        font-size: 1.25em;
        background-color: transparent;
        border: 0;
        text-transform: inherit;
        font-weight: normal;
        color: theme-color("secondary");
        &:hover{
            background-color: transparent;
        }
    }
    &--big{
        font-size: 1.15rem;
        padding: 0.9rem 1rem;
        @media (max-width: 767px){
            font-size: 1rem;
            padding: 0.75rem 1rem;
            border-radius: 0;
        }
    }
    &--big-alternate{
    	text-transform: capitalize;
    }
    &--fab{
        position: fixed;
        bottom: 40px;
        right: 15px;
        display: block;
        width: 60px;
        height: 60px;
        background-color: theme-color("secondary");
        border-color: theme-color("secondary");
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 1.5em;
        &:hover,&:focus{
            background-color: theme-color("secondary");
            border-color: theme-color("secondary");
            outline: 0;
            color: #fff;
        }
    }
    &--small{
        width: 230px;
        font-size: 1.15rem;
        padding: 0.9rem 1rem;
        @media (max-width: 767px){
            font-size: 1rem;
            padding: 0.75rem 1rem;
            border-radius: 0;
        }
    }
    &--medium{
        font-size: 1.2em;
        width: auto;
        padding: 0.6rem 2rem;
    }
    &--mini{
        // width: 150px;
        font-size: 12px;
        padding: 4px 5px;
        @media (max-width: 767px){
            border-radius: 0;
        }
    }
    &--dark{
        background-color: #000;
        color: #fff;
        padding: 0.5em;
        border-color: #000;
        border-radius: 0;
        &:hover{
            background-color: lighten(#000, 10%);
            color: #fff;
        }
    }
    &:disabled{
        &:hover{
            background-color: theme-color("primary");
        }
    }
}

.btn-size{
	font-size: 1.15rem !important;
	@media (max-width: 767px){
        font-size: 1rem !important;
    }
}

.more-products-btn{
    background-color: transparent;
    border-color: theme-color("secondary");
    font-size: 1.1em;
    padding: 0.8em 1.2em;
    color: theme-color("secondary");
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 480px) {
        font-size: 1.05em;
    }
}

[static_element-type='story_box_medium']{
	padding-top: 110%;
}
[static_element-type='story_portrait']{
	padding-top: 138.86%;
}
[static_element-type='story_landscape']{
	padding-top: 52.41%;
}

.productGrid{
    .product-card{
    	padding-top: 133.33%;
    	.img-holder{
    		background-color: #ececec;
    	}
    }
}

.app-offline{
    & > *{
        pointer-events: none;
    }
    router-outlet + *{
        div{
	       filter: grayscale(0.9);
        }
    }
}

.alert-offline{
	position: fixed;
	bottom: 10px;
	max-width: 400px;
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	background: #333;
	color: #fff;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}

.top-offer{
    background-color: #ee4a5a;
    a{
        color: white;
        text-decoration: none;
    }
}

.flickity-page-dots{
  bottom: -15px;
  .dot{
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #fff;
    opacity: 0.5;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3);
    &.is-selected{
        background-color: theme-color("primary");
    }
  }
}