// Misc styles

.trending-heading{
	padding: 0.2rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #b3b3b3;
    color: #fff;
    margin: 0 -15px;
}