@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600");
$theme-colors: (
  "primary": rgba(249, 188, 35, 1),
  "secondary": #004283,
  "cancel": #4b4b4b,
  "dark": #707279,
  "light": #e4e4e4,
);
$danger: #ad110a;
$d-blue: #003E86;
$gray-500: #adb5bd !default;
$gray-800: #343a40 !default;
$placeholder: #f9f9f9;
$flash-info-bg: #f9f9f9;
$flash-info-color: #6b6b6b;
$flash-error-bg: #e2b4b0;
$flash-error-color: #505050;

// $font-size-base: 0.7rem;
$line-height-sm: 1.6;
$font-size-base: .85rem;
$font-size-lg: .9rem;
$small-font-size: 85%;
$line-height-lg: 2;
$border-radius-lg: .2rem;
$input-focus-border-color: darken(rgba(249, 188, 35, 1), 10%);
$input-btn-focus-box-shadow: 0;
$input-placeholder-color: $gray-500;
$input-border-width: 2px;
// $form-feedback-valid-color: $gray-800;
// $breadcrumb-divider: quote(">") !default;

$container-max-widths: (
  sm: 1200px,
  md: 1200px,
  xl: 1200px
);