.app-loader__wrapper{
	top: 54px;
	position: fixed;
	z-index: 999999;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
	text-align: center;
	background-color: hsla(0,0%,100%,.93);
	display: flex;
	justify-content: center;
	align-items: center;
}