	<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content ">
	      <div class="modal-body">

	        <div *ngIf="!mobileNumberEntered" class="state-1">
	          <div class="d-flex align-items-center justify-content-between">
	            <div class="">
	              <h3 class="modal-title font-weight-bold mt-1" id="exampleModalLabel"> Mobile Number</h3>
	            </div>
	            <div class="">
	              <h3  class="m-0 font-weight-bold kss_highlight" data-dismiss="modal" aria-label="Close">
	              	<span (click)="closeOtpModal()" class="modal-close-icon cursor-pointer">&times;</span>
	                <!-- <img (click)="closeOtpModal()" class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/> -->
	              </h3>
	            </div>
	          </div>

	          <p class="sub-text w-75 mt-3">Your Shipping and payment details will be associated with this number</p>
	          <form #mobileForm="ngForm">
	            <div class="form-group mb-0">
	              <input #mobileInput type="tel" class="form-control form-control-number form-control-lg" (keyup)="enterclick($event)" [ngClass]="{'has-error' : userValidation.mobileValidationFailed, 'has-value' : mobileNumber}" id="frm-mobile" name="mobile" [(ngModel)]="mobileNumber" required minlength = "10" maxlength = "10" pattern="^[789]\d{9}$" inputmode="numeric" appNumbers appKssAutoFocus>
	              <label class="control-label">Enter Mobile Number</label>
	               <small *ngIf="userValidation.mobileValidationFailed" id="passwordHelpBlock" class="form-text text-danger">
						{{userValidation.mobileValidationErrorMsg}}
					</small>
					<small *ngIf="mobileNumber<7000000000 && mobileNumber.length== 10" id="passwordHelpBlock" class="form-text text-danger">
						Please enter a valid Indian Mobile Number
					</small>
	            </div>
	          </form>
	          <div class="mt-3">
	            <button [disabled]="!mobileForm.valid || userValidation.disableSendOtpButton" type="button" class="btn kss-btn kss-btn--big btn-signin is-enter" (click)="authenticateUser()"><span> Send OTP <i class="fas fa-circle-notch fa-spin fa-lg ml-1" [ngClass]="{'d-none' : !userValidation.disableSendOtpButton}"></i> </span></button>
	          </div>
	        </div>

	        <div *ngIf="mobileNumberEntered" class="state-2">
	          <div class="d-flex align-items-center justify-content-between">
	            <div class="">
	             <h3 class="modal-title font-weight-bold mt-1" id="exampleModalLabel">Verify Mobile</h3>
	            </div>
	            <div class="">
	              <h3 class="modal-title font-weight-bold" data-dismiss="modal" aria-label="Close">
	              	<span (click)="closeOtpModal()" class="modal-close-icon cursor-pointer">&times;</span>
	                <!-- <img  class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/> -->
	              </h3>
	            </div>
	          </div>

	          <form class="mt-0" #otpForm="ngForm">
	            <div class="form-group mb-0 mt-3">
	              <p >Enter the OTP sent to your number <span> <strong>OR</strong> <a href="javascript:void(0);" (click)="verifyMobile(false)" class="text-secondary link-underline">Skip OTP </a> </span> </p><h4 class="font-weight-bold m-0">{{mobileNumber}} <i class="fas fa-pencil-alt number-edit ml-2 cursor-pointer" (click)="resetOTP()"></i></h4>
	              <input type="tel" class="form-control form-control-number form-control-lg mb-2 letter-spacing-5" (keyup)="enterclick($event)" [ngClass]="{'has-error' : userValidation.otpVerificationFailed}"  aria-describedby="emailHelp" [(ngModel)]="otp" name="otp" placeholder="" required pattern="\d{4}$" minlength = "4" maxlength = "4" inputmode="numeric" appNumbers placeholder="Enter OTP" [ngClass]="{'has-value' : otp}" autocomplete="off" appKssAutoFocus>

<!-- 		             <div class="otp-fields d-flex align-items-center justify-content-center">
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp1 (keydown)="onKeyDown($event,otp1,otp2,otpCode['otp1'])" (keyup)="onKeyUp($event,otp1,otp2,otpCode['otp1'])" [(ngModel)]="otpCode['otp1']" name="otp1" appNumbers (change)="otpVerificationIOS(otpCode['otp1'])">
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp2 (keydown)="onKeyDown($event,otp1,otp3,otpCode['otp2'])" (keyup)="onKeyUp($event,otp1,otp3,otpCode['otp2'])" [(ngModel)]="otpCode['otp2']" name="otp1" appNumbers>
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp3 (keydown)="onKeyDown($event,otp2,otp4,otpCode['otp3'])" (keyup)="onKeyUp($event,otp2,otp4,otpCode['otp3'])" [(ngModel)]="otpCode['otp3']" name="otp1" appNumbers>
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp4 (keydown)="onKeyDown($event,otp3,otp5,otpCode['otp4'])" (keyup)="onKeyUp($event,otp3,otp5,otpCode['otp4'])" [(ngModel)]="otpCode['otp4']" name="otp1" appNumbers>
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp5 (keydown)="onKeyDown($event,otp4,otp6,otpCode['otp5'])" (keyup)="onKeyUp($event,otp4,otp6,otpCode['otp5'])" [(ngModel)]="otpCode['otp5']" name="otp1" appNumbers>
						<input type="tel" maxlength="1" size="1" min="0" max="9" pattern="\d*" class="form-control form-control-lg form-control-number mb-2 text-center mx-2" autocomplete="off" #otp6 (keydown)="onKeyDown($event,otp5,otp6,otpCode['otp6'])" (keyup)="onKeyUp($event,otp5,otp6,otpCode['otp6'])" [(ngModel)]="otpCode['otp6']" name="otp1" appNumbers>
					</div> -->

	              <!-- <small> Resend OTP in 18 sec</small> -->

	               <small *ngIf="userValidation.otpVerificationFailed" id="passwordHelpBlock" class="form-text text-danger">
						{{userValidation.otpVerificationErrorMsg}}
				</small>
	            </div>
	          </form>
	          <div class="mt-3">
	            <button (click)="verifyMobile()" id="shipping-details" [disabled]="!otpForm.valid || userValidation.disableVerifyOtpButton" type="button" class="btn kss-btn kss-btn--big btn-verify is-enter" data-toggle="modal" data-target="#checkout-flow"><span>Verify <i class="fas fa-circle-notch fa-spin fa-lg ml-1" [ngClass]="{'d-none' : !userValidation.disableVerifyOtpButton}"></i> </span></button>
	          </div>
	        </div>

	      </div>
	    </div>
	  </div>
	</div>
