.img-center-x {
	margin: 0 auto;
	display: block;
}

[static_element-type='offer_banner']{
	padding-top: 35%;
	width: 100%;
	@media (orientation: portrait){
		padding-top: 82.083%;
	}
}
.our-offers {
	.label-box {
		margin: 0 1rem;
		padding-bottom: 50px;
	}
}

.cs-row {
	margin-right: -15px;
	margin-left: -15px;
}