<div class="cart-step1-header">
	<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
		<div class="d-flex align-items-center w-100">
			<div class="">
				<a>
					<img _ngcontent-c1="" class=" img-fluid m-0" src="/img/logo-kss.png" width="180px" xpreview="/img/logo-kss.png">
			 	</a>
			</div>
			<div class="ml-auto align-self-center">
				<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeWidget()"><span aria-hidden="true">×</span></h3>
			</div>
		</div>
	</nav>
</div>

<div [ngClass]="(addresses && addresses.length) ? 'my-order-bg' : 'mt-3' ">
		<div class="col-12 p-0 myorder-wrapper">
			<div *ngIf="addresses" class="h-100 profile-address-section">
				<div class="d-flex align-items-top top-navbar pt-1">
		            <div class="pr-3 d-block">
		            	<a>		              	
			              	<h4 class="m-0 font-weight-bold back-to-cart">
				               <img (click)="navigateBack()" class="btn-back kss_highlight" src="/img/left-arrow.png" style="width:20px;">
				             </h4>
			          	</a>
		            </div>
		            <div class="">
		              <h4 class="font-weight-bold m-0">Saved Addresses</h4>
		            </div>
		        </div>
				<hr>
				
				<app-address [addresses]="addresses" [addAddress]="addAddress" [selectedAddressId]="selectedAddressId" [hideRadio]=true [states]="states" (addAddressFlagChanged)="updateView()"></app-address>			
		
			</div>
	</div>
</div>	