<div class="cart-step1-header">
	<nav class="navbar navbar-dark bg-dark pt-3 pb-3 ">
		<div class="d-flex align-items-center w-100">
			<div class="">
				<a>
					<img _ngcontent-c1="" class=" img-fluid m-0" src="/img/logo-kss.png" width="180px" xpreview="/img/logo-kss.png">
			 	</a>
			</div>
			<div class="ml-auto align-self-center">
				<h3 class="m-0 text-white kss_highlight btn-pay" (click)="closeWidget()"><span aria-hidden="true">×</span></h3>
			</div>
		</div>
	</nav>
</div>

<div [ngClass]="(addresses && addresses.length) ? 'my-order-bg' : 'mt-3' ">
		<div class="col-12 p-0 myorder-wrapper">
			<div *ngIf="addresses && addresses.length" class="h-100">
				<h4 class="font-weight-bold m-0">Addresses</h4>
				<hr>
				
				<app-address [addresses]="addresses" [addAddress]="addAddress" [selectedAddressId]="selectedAddressId" [states]="states" ></app-address>			
		
			</div>
	</div>
</div>	