<section class="mt-3 mt-md-5 pt-3">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold mb-4">Trending Looks</h2>
          </div>
      </div>
  </div>
</section>
<section *ngIf="trendingGroup" id="kss-clothings" class="stripe-bg-top">
  <div *ngFor="let group of trendingGroup; let ind = index" class="container mt-1 mt-md-4">
    <div *ngIf="ind == 0" class="trending-heading d-md-none">Boys</div>
    <div *ngIf="ind == 1" class="trending-heading d-md-none">Girls</div>
    <div *ngIf="ind == 2" class="trending-heading d-md-none">Infants</div>
    <app-slider [row]="group"></app-slider>
  </div>
<!--   <div class="text-center mt-3">
      <a href="/shop" class="viewall-link">View More <i class="fas fa-chevron-right"></i></a>
  </div> -->
</section>
