<section class="section">
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold mb-4">Trending Looks</h2>
          </div>
      </div>
  </div>
</section>
<section *ngIf="trendingGroup" id="kss-clothings" class="stripe-bg-top">
  <div *ngFor="let group of trendingGroup" class="container"  (deferLoad)="group.show = true">
    <app-slider *ngIf="group.show" [row]="group"></app-slider>
  </div>
  <div class="text-center mt-3">
      <a href="/shop" class="viewall-link">View More <i class="fas fa-chevron-right"></i></a>
  </div>
</section>
