<section class="section">
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold mb-4">Trending Looks</h2>
          </div>
      </div>
  </div>
</section>
<section id="kss-clothings" class="stripe-bg-top">
  <div class="container ">

    <div id="card-list" class="overflow-m row productGrid">
      @foreach($trending_row as $trending_product)
        @if($trending_product['products'][0]['product_found'])
    		@include('includes.trendinglooks.product', ['trending_product' => $trending_product['products'][0], 'type' => $trending_product['type'], 'sequence' => $trending_product['sequence']])
    		<!-- .... Product .... -->
    		<!-- <div class="col-lg-3 col-md-6 col-6 kss-extension" static_element-id="{{$sequence}}" static_element-display_type="Trending Products" static_element-type="{{$type}}" page_slug="home">
    		  <div class="card h-100 product-card position-relative">
    		    <a href="{{$trending_product['product-slug']}}">
    		      <div class="">
    		          @php
    		          if(count((array)$trending_product['images'])>0){
    		            $load_10x = $trending_product['images']['load'];
    		            $image_1x = $trending_product['images']['1x'];
    		            $image_2x = $trending_product['images']['2x'];
    		            $image_3x = $trending_product['images']['3x'];
    		          } else {
    		            $load_10x = CDN::asset('/img/placeholder-10x.jpg');
    		            $image_1x = $image_2x = $image_3x = CDN::asset('/img/placeholder.svg');
    		          }
    		          @endphp
    		          <img
    		            src="{{$load_10x}}"
    		            data-srcset="{{$image_1x}} 270w,
    		                          {{$image_2x}}  540w,
    		                          {{$image_3x}} 810w"
    		            data-sizes="(min-width: 1200px) 266px, (min-width: 991px) 22vw, 41vw"
    		            class="card-img-top blur-up lazyload"
    		            title="{{$trending_product['title']}}"
    		            alt="{{$trending_product['title']}}">
    		     </div>
    		    </a>
    		    <div class="kss-price kss-price--medium">₹{{$trending_product['sale_price']}}</div>
    		  </div>
    		</div> -->
      	@else
       		@include('includes.trendinglooks.no-product', ['trending_product' => $trending_product['products'][0], 'type' => $trending_product['type'], 'sequence' => $trending_product['sequence']])
       		<!-- .... No product .... -->
       		<!-- <div class="col-lg-3 col-md-6 col-6 kss-extension" static_element-id="{{$sequence}}" static_element-display_type="Trending Products" static_element-type="{{$type}}" page_slug="home">
       		  <div class="card h-100 product-card position-relative">
       		    <h5 class="no-match__msg">No matching product found for Product ID = <strong>{{$trending_product['product_id']}}</strong></h5>
       		  </div>
       		</div> -->
      	@endif
      @endforeach
    </div>

    <div class="text-center mt-3">
      <a href="/shop" class="viewall-link">View More <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</section>