<div class="modal fade show" id="cancel-cod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-body">

        <div class="state-1">
          <div class="d-flex align-items-center">
            <!-- <div class="pr-3">
              <h3  class="m-0 font-weight-bold kss_highlight" data-dismiss="modal" aria-label="Close">
                <img class="btn-back kss_highlight" src="/img/close-icon.png" style="width:20px;"/>
              </h3>
            </div> -->
           	<div class="">
              <h3 class="modal-title font-weight-bold mt-1 mb-3" id="exampleModalLabel">Cancel COD Transaction</h3>
            </div>
          </div>

          <p class="my-2">
            <strong>Are you sure you want to cancel the COD transaction?</strong>
          </p>

          <p class="my-2">If you Cancel COD then the transaction will be cancelled.
            You can then retry payment using a different mode of payment.
          </p>

          <div class="pt-3 d-flex align-items-center justify-content-between">
              <button id="cancel" class="btn kss-btn kss-btn--outline-secondary kss-btn--big mr-3" (click)="cancelCOD()">Cancel COD</button>
              <button id="save" class="btn kss-btn kss-btn--big mt-0" (click)="hideModal()">No</button>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>