<div class="d-flex order-card">					
	<a href="{{item.href}}" class="order-card__image" [ngClass]="{'variant-placeholder' : item.images[0]=='/img/placeholder.svg'}">
		<div class="product-img">
			<img src="{{item.images[0]}}" class="lazyload img-fit" data-srcset="{{item.images[0]}} 50w, {{item.images[1]}} 100w, {{item.images[2]}} 150w" sizes="50px">
		</div>
	</a>	
	<div class="product-detail order-card__detail">
		<a href="{{item.href}}" class="text-dark">
			<div class="product-name text-truncate">
				{{item.title}}
			</div>
		</a>
		<div class="product-size text-muted mb-1">
			<span>Size: {{item.size}}</span> <span>|</span> <span>Qty: {{item.quantity}}</span>
		</div>
		<div class="product-price">
			<div class="kss-price kss-price--smaller">₹{{item.price_final}}									
				<span *ngIf="item.price_final != item.price_mrp">
					<small class="kss-original-price text-muted">₹{{item.price_mrp}}
				  	</small>
				  	<span class="kss-discount text-danger">{{item.off_percentage}}</span>
				</span>
			</div>
		</div>
	</div>
</div>

<hr class="mt-0">

<div class="order-item-info mb-3">
	<label class="item-info text-dark"><strong>Expected Delivery:</strong><span class="green"> 26 February 2019</span></label>
	<label class="item-info text-dark">Entered warehouse Bangalore, Karnataka<br>Tue, 26th Feb 18 - 11:57am</label>

	<label class="item-info text-dark"><strong>Processed On:</strong><span class="grey"> 26 February 2019</span></label>

	<label class="item-info text-dark">Cancellation request has been sent and is currently being processed</label>
</div>

<!-- Return Item -->
<hr class="mt-0">

<div class="return-item-section">
	<a href="javascript:void(0);" class="btn kss-btn kss-btn--outline-secondary return-item-btn">Return Item <i class="fas fa-chevron-right"></i></a>
</div>
<!-- End of Return Item -->