<!-- Gender category  -->

<div class="text-center p-2 top-offer" >
 <strong>Flat 50% OFF</strong> on selected merchandise. <strong>Shop Now</strong>
</div>
<section class="mt-4 mt-md-4">
	<div class="container">
		<div class="row gender-cat-wrapper mobile-overflow label-box-small">
			<div class="col kss-extension">
				<a class="gender-cat" href="/boys/toddler-2-7-years" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/boys-2-7.jpg" alt="" class="img-fluid" alt="BOYS 2 - 7 Years">
						<h4 class="gender-cat__name" style="">BOYS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">2 - 7 Years</p>
						<span class="gender-cat__muted">+ Explore</span>
					</div>
				</a>
			</div>
			<div class="col kss-extension">
				<a class="gender-cat" href="/boys/junior-7-14-years" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/boys-7-14.jpg" alt="" class="img-fluid" alt="BOYS 7 - 14 Years">
						<h4 class="gender-cat__name" style="">BOYS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">7 - 14 Years</p>
						<span class="gender-cat__muted">+ Explore</span>
					</div>
				</a>
			</div>
			<div class="col kss-extension">
				<a class="gender-cat" href="/girls/toddler-2-7-years" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/girls2-7.jpg" alt="" class="img-fluid" alt="GIRLS 2 - 7 Years">
						<h4 class="gender-cat__name" style="">GIRLS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">2 - 7 Years</p>
						<span class="gender-cat__muted">+ Explore</span>
					</div>
				</a>
			</div>
			<div class="col kss-extension">
				<a class="gender-cat" href="/girls/junior-7-14-years" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/girls7-14.jpg" alt="" class="img-fluid" alt="GIRLS 7 - 14 Years">
						<h4 class="gender-cat__name" style="">GIRLS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">7 - 14 Years</p>
						<span class="gender-cat__muted">+ Explore</span>
					</div>
				</a>
			</div>
			<div class="col kss-extension">
				<a class="gender-cat" href="/girls--boys/infant-0-2-years" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/infants.jpg" alt="" class="img-fluid" alt="INFANTS 0 - 2 Years">
						<h4 class="gender-cat__name" style="">INFANTS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">0 - 2 Years</p>
						<span class="gender-cat__muted">+ Explore</span>
					</div>
				</a>
			</div>
			<div class="col kss-extension">
				<a class="gender-cat" href="/new-arrivals" style="">
					<div class="text-dark card gender-cat--top d-flex align-items-center justify-content-center">
						<img src="../../../../assets/img/newarrivals.jpg" alt="" class="img-fluid" alt="NEW ARRIVALS">
						<h4 class="gender-cat__name" style="">NEW ARRIVALS</h4>
					</div>
					<div class="text-center">
						<p class="gender-cat__year mb-0" style="">+ Explore</p>
					</div>
				</a>
			</div>

			<!-- <div class="col kss-extension home-brands label-box img-holder position-relative brand-label-box kss-extension">
				<a href="#" class="d-block text-black">
					<img src="https://test.stage.kidsuperstore.in/NOV/static_elements/2726/portrait/1x/theme-portrait-170.jpeg" alt="">
					<div class="label-box__sticky">
						<span class="label-box__action" style="background-color: #fff; color: #000;"> Boys
						 	<span class="cat-title">2-14 Years </span>
						 </span>
						<span class="label-box__muted">Explore</span>
					</div>
				</a>
			</div> -->
		</div>
	</div>
</section>

<!-- <section class="mt-4 mt-md-5">
	<div class="container">
		<div class="row gender-cat-wrapper mobile-overflow">
			<div *ngFor="let tab of tabs" class="col kss-extension" attr.static_element-id="{{tab.sequence}}" static_element-display_type="Gender-box" attr.static_element-type="{{tab.type}}" page_slug="home" app-gender-box [tab]="tab"> </div>
		</div>
	</div>
</section> -->