<section class="mt-3 mt-md-4" *ngIf="brandBanners || brands">
	<div class="container ">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="font-weight-bold mb-0">
					<img src="{{cdnUrl}}assets/img/brands-title.jpg" class="img-fluid" alt="Shop by Brands" title="Shop by Brands">
				</h2>
			</div>
		</div>
	</div>
</section>

<section class="pb-3 pb-md-5" *ngIf="brandBanners || brands">
	<div class="container">
		<div class="d-flex flex-md-nowrap flex-wrap" *ngIf="brandBanners">
			<div *ngFor="let banner of brandBanners" class="kss-extension" attr.static_element-id="{{banner.sequence}}" static_element-display_type="Brand Banner" attr.static_element-type="{{banner.type}}" page_slug="home">
				<a (click)="navigateTo(banner.element_data.image.href)" class="d-block mb-3 mb-md-0 cursor-pointer">
					<picture>
					  	<source media="(min-width: 768px)"
							  [attr.defaultImage]="cdnUrl + 'assets/img/transparent.png'"
							  [attr.lazyLoad]="createDataSrcSet(banner.images.landscape['2x'], '992w', banner.images.landscape['1x'], '590w')"
					          sizes="(min-width:1200px) 590px, 48vw">

					  	<source media="(max-width: 767px)"
							  [attr.defaultImage]="cdnUrl + 'assets/img/transparent.png'"
							  [attr.lazyLoad]="createDataSrcSet(banner.images.portrait['2x'], '600w', banner.images.portrait['1x'], '400w')"
					          sizes="92vw">

					    <img
			    			[offset]=500
			    			[defaultImage]="cdnUrl + 'assets/img/transparent.png'"
			    			[lazyLoad]="banner.images.portrait['1x']"
			    		  	class="img-fluid w-100 img-holder"
			    		    alt="{{banner.element_data.image.img_alt}}"
			    		    title="{{banner.element_data.image.title}}">
					</picture>
				</a>
			</div>
		</div>

		<div *ngIf="brands" class="home-brands d-sm-flex align-items-sm-center justify-content-sm-center label-box-small row mt-4">
			<div *ngFor="let brand of brands" class="label-box img-holder position-relative brand-label-box kss-extension" attr.static_element-id="{{brand.sequence}}" static_element-display_type="Shop by Brand" attr.static_element-type="{{brand.type}}" page_slug="home" app-label-box [box_data]="brand" [box_type]="brand"></div>
		</div>
	</div>
</section>
