<a href="#" class="d-block text-black">
	<img src="https://via.placeholder.com/300" alt="" title="" class="d-block w-100 img-fluid pb-1">


	<!-- Offers section -->
	<img *ngIf="box_type == 'offer'" class="d-block w-100 img-fluid"
        src="https://via.placeholder.com/170x170"
        srcset="https://via.placeholder.com/1050x1050 1050w,
                     https://via.placeholder.com/700x700 700w,
                     https://via.placeholder.com/350x350 350w"
        sizes='(min-width: 1200px) 328px, (min-width: 768px) 26vw,  58vw'
        title=""
        alt=""/>


	<!-- Brands box-small -->
 		<img *ngIf="box_type == 'brand'" class="d-block w-100 img-fluid"
        src="https://via.placeholder.com/170x170"
        srcset="https://via.placeholder.com/510x510 510w,
                     https://via.placeholder.com/340x340 340w,
                     https://via.placeholder.com/170x170 170w"
        sizes='(min-width: 1200px) 168px, (min-width: 768px) 30vw,  46vw'
        title=""
        alt=""/>


	<div class="label-box__sticky">
		<span class="label-box__action" [ngStyle]="{'background-color' : box_data.element_data.bg_color ? box_data.element_data.bg_color : '', 'color' : box_data.element_data.text_color ? box_data.element_data.text_color : ''}" style="background-color: #fff; color: #000;" *ngIf="box_data.element_data.text.text1"> {{box_data.element_data.text.text1}} </span>
		<span class="label-box__muted" *ngIf="box_data.element_data.text.text2">{{box_data.element_data.text.text2}}</span>
	</div>
</a>

<!-- <div class="label-box img-holder position-relative">
	<a href="#" class="d-block text-black">
		<img src="https://via.placeholder.com/300" alt="" title="" class="d-block w-100 img-fluid pb-1">
		<div class="label-box__sticky">
			<span class="label-box__action" style="background-color: #fff; color: #000;"> On Tops &amp; Tshirts </span>
			<span class="label-box__muted">*On Selected Merchandize</span>
		</div>
	</a>
</div>
<div class="label-box img-holder position-relative">
	<a href="#" class="d-block text-black">
		<img src="https://via.placeholder.com/300" alt="" title="" class="d-block w-100 img-fluid pb-1">
		<div class="label-box__sticky">
			<span class="label-box__action" style="background-color: #fff; color: #000;"> On Shorts </span>
			<span class="label-box__muted">+ Explore</span>
		</div>
	</a>
</div> -->