<div class="label-box img-holder position-relative">
	<a href="#" class="d-block text-black">
		<img src="https://via.placeholder.com/300" class="d-block w-100 img-fluid pb-1">
		<div class="label-box__sticky">
			<span class="label-box__action"> Explore Now </span>
			<span class="label-box__muted">*On Selected Merchandize</span>
		</div>
	</a>
</div>
<div class="label-box img-holder position-relative">
	<a href="#" class="d-block text-black">
		<img src="https://via.placeholder.com/300" class="d-block w-100 img-fluid pb-1">
		<div class="label-box__sticky">
			<span class="label-box__action"> On Tops &amp; Tshirts </span>
			<span class="label-box__muted">*On Selected Merchandize</span>
		</div>
	</a>
</div>
<div class="label-box img-holder position-relative">
	<a href="#" class="d-block text-black">
		<img src="https://via.placeholder.com/300" class="d-block w-100 img-fluid pb-1">
		<div class="label-box__sticky">
			<span class="label-box__action"> On Shorts </span>
			<span class="label-box__muted">+ Explore</span>
		</div>
	</a>
</div>