@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../assets/SASS/var";

// Similar products
.similar-products{
	&__col{
		max-width: 20%;
		flex-basis: 20%;
		@media (max-width: 991px){
			max-width: 50%;
			flex-basis: 50%;
		}
	}
}

.sliderLoader{
	height: 450px;
	@media (max-width: 991px){
		// height: 120vw;
		height: calc(100vh - 225px);
	}
}

@media (max-width: 991px){
	.prodinfo-wrapper{
	    top: calc(100vh - 225px);
	    position: relative;
	    background: #fff;
	}
}

.mobile-bar{
	position: fixed;
	width: 100%;
	background-color: #57575f;
}