@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../assets/SASS/var";

// Similar products
.similar-products{
	&__col{
		max-width: 20%;
		flex-basis: 20%;
		@media (max-width: 767px){
			max-width: 50%;
			flex-basis: 50%;
		}
	}
}

.sliderLoader{
	height: 450px;
	@media (max-width: 767px){
		height: 130vw;
	}
}
