<div *ngIf="order_info" class="row justify-content-end">
	<div class="col-6">
		Order No.
	  	<h6 class="font-weight-bold mt-1 ">{{order_info.txn_no}}</h6>
	</div>
	<div class="col-6">
		Total amount:
	  	<h6 class="font-weight-bold mt-1 "><span class="rs-symbol"><i class="fas fa-rupee-sign sm-font"></i></span>{{order_info.total_amount}}</h6>
	</div>
	<div class="col-6">
		Placed on:
	  	<h6 class="font-weight-bold mt-1 "><!-- <i class="far fa-calendar-alt pr-1"></i> -->{{order_info.order_date}}</h6>
	</div>
	<div *ngIf="showStatus" class="col-6">
		Payment Status:
	  	<h6 *ngIf="order_info.order_status == 'payment-successful'" class="font-weight-bold mt-1 ">Card Payment - <span class="text-success">PAID</span></h6>
	  	<!-- If pending state -->
	  	<!-- <span class="text-warning">PENDING</span> -->
	</div>
</div>